<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.list.info}">
	<p class="small text-secondary mb-2">
		<!-- date -->
		<span class="news-date me-2">
			<f:if condition="{settings.iconpack.loaded}">
				<f:then>
					<t3sb:icon iconfig="fa6:solid,calendar-days" additionalAttributes="{class:'me-1'}" />		
				</f:then>
				<f:else>
					<i class="fa-solid fa-calendar-days me-1"></i>
				</f:else>	
			</f:if>
			<span itemscope="itemscope" class="news-list-date">
				<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
					<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
				</time>
			</span>
		</span>
		<!-- categories -->
		<f:if condition="{newsItem.categories}">
			<f:if condition="{settings.iconpack.loaded}">
				<f:then>
					<t3sb:icon iconfig="fa6:solid,folder-open" additionalAttributes="{class:'me-1'}" />
				</f:then>
				<f:else>
					<i class="fa-solid fa-folder-open me-1"></i>
				</f:else>	
			</f:if>
			<span class="news-list-category">
				<f:for each="{newsItem.categories}" as="category">
					<f:if condition="{category.shortcut}">
						<f:then>
							<f:link.typolink parameter="{category.shortcut}">
								{category.title}
							</f:link.typolink>
						</f:then>
						<f:else>
							{category.title}
						</f:else>
					</f:if>
				</f:for>
			</span>
		</f:if>
	</p>
</f:if>
<!-- header -->
<h3 itemscope="itemscope" class="card-title mt-0 mb-1">
<f:if condition="{link} == 'true'">
	<f:then>
		<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
			<span itemprop="headline">{newsItem.title -> f:format.raw()}</span>
		</n:link>
	</f:then>
	<f:else>
		<span itemprop="headline">{newsItem.title -> f:format.raw()}</span>
	</f:else>
</f:if>
</h3>
<!-- teaser -->
<div class="card-text">
	<n:removeMediaTags>
		<f:if condition="{settings.cropMaxCharacters}">
			<f:then>
				<f:variable name="cropMaxCharacters" value="{settings.cropMaxCharacters}" />
			</f:then>
			<f:else>
				<f:variable name="cropMaxCharacters" value="999" />
			</f:else>
		</f:if>
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<f:if condition="{settings.templateLayout} > 70 && {settings.templateLayout} < 75">
					<f:then>
						{newsItem.teaser -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.stripTags()}
					</f:then>
					<f:else>
						{newsItem.teaser -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{settings.templateLayout} > 70 && {settings.templateLayout} < 75">
					<f:then>
						{newsItem.bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.stripTags()}
					</f:then>
					<f:else>
						{newsItem.bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</n:removeMediaTags>
</div>
</html>


