<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<figure class="image text-center{f:if(condition: mediaElement.originalResource.properties.tx_t3sbootstrap_extra_class, then: ' {mediaElement.originalResource.properties.tx_t3sbootstrap_extra_class}')}">
	<f:if condition="{mediaElement.link}">
		<f:then>
			<f:link.typolink parameter="{mediaElement.link}" target="{n:targetLink(link:mediaElement.link)}">
				<f:render section="Image" arguments="{file: mediaElement}" />
			</f:link.typolink>
		</f:then>
		<f:else>
			<f:if condition="{settings.detail.lightbox.enabled}">
				<f:then>
					<f:if condition="{settings.detail.lightbox.selection} == 1">
							<a href="{f:uri.image(image:mediaElement.originalResource,
			 					width:'{settings.media.popup.width}',
				  				height:'{settings.media.popup.height}')}"
				   			data-caption="{mediaElement.description}">
							<f:render section="Image" arguments="{file: mediaElement}" />
						</a>
					</f:if>
					<f:if condition="{settings.detail.lightbox.selection} == 2">
						<a href="{f:uri.image(image:mediaElement,
							width:'{settings.media.popup.width}',
							height:'{settings.media.popup.height}')}"
							data-title="{f:if(condition:file.description,then:'{file.description}',
							 else:'img-{mediaElement.originalResource.properties.uid_foreign}')}"
							class="gallery-{contentObjectData.uid}"
							<f:render section="Image" arguments="{file: mediaElement}" />
						</a>			
					</f:if>
					<f:if condition="{settings.detail.lightbox.selection} == 3">
						<a href="{f:uri.image(image:mediaElement,
							width:'{settings.media.popup.width}',
							height:'{settings.media.popup.height}')}"
							id="ex-{mediaElement.uid}"
							title="{mediaElement.title}"
							class="glightbox"
							data-gallery="glightbox-{mediaElement.originalResource.properties.uid_foreign}"
							data-glightbox="gallery-{mediaElement.originalResource.properties.uid_foreign}"
							maxWidth="{settings.media.popup.width}"
							maxHeight="{settings.media.popup.height}"
							data-effect="fade">
							<f:render section="Image" arguments="{file: mediaElement}" />
						</a>
					</f:if>
				</f:then>
				<f:else>
					<f:render section="Image" arguments="{file: mediaElement}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	<f:render section="SetCopyright" arguments="{file: mediaElement}" />
	<f:if condition="{mediaElement.description}">
		<figcaption class="image-caption{f:if(condition: mediaElement.originalResource.properties.tx_t3sbootstrap_description_align, then: ' text-{mediaElement.originalResource.properties.tx_t3sbootstrap_description_align}', else: ' text-start')}">
			{mediaElement.description}
		</figcaption>
	</f:if>
</figure>
</html>


<f:section name="SetCopyright">
<f:comment> Copyright notice </f:comment>
	<f:if condition="{settings.imgCopyright} == 2">
		<f:then>
			<f:render section="CopyrightOnClick" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="Copyright" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="Image">
	<f:if condition="{settings.media.maxWidth} || {settings.media.maxHeight}">
		<f:then>
			<f:variable name="width" value="{settings.media.maxWidth}" />
			<f:variable name="height" value="{settings.media.maxHeight}" />
		</f:then>
		<f:else>
			<f:if condition="{settings.detail.media.image.maxWidth} || {settings.detail.media.image.maxHeight}">
				<f:then>
					<f:variable name="width" value="{settings.detail.media.image.maxWidth}" />
					<f:variable name="height" value="{settings.detail.media.image.maxHeight}" />
				</f:then>
				<f:else>
					<f:variable name="width" value="{settings.detail.image.maxWidth}" />
					<f:variable name="height" value="{settings.detail.image.maxHeight}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	<f:variable name="extraImgClass" value="{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_extra_imgclass,
	 then: ' {file.originalResource.properties.tx_t3sbootstrap_extra_imgclass}')}" />
	<f:variable name="altText" value="{f:if(condition: file.originalResource.alternative, then: '{file.originalResource.alternative}',
	 else: 'image-{file.originalResource.uid}')}" />
	<t3sb:media
		file="{file}" title="{file.originalResource.title}" alt="{altText}"
		class="img-fluid{f:if(condition: file.originalResource.properties.tx_t3sbootstrap_lazy_load, then: ' lazy')}{f:if(condition:'{settings.lazyLoad} == 1',then:' lazy')}{extraImgClass}"
		width="{width}"
		height="{height}"
		breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
		}"
		picturefill="{settings.picturefill}"
		lazyload="{settings.lazyLoad}"
		ratio="{settings.detail.imageRatio}"
		shift="{file.properties.tx_t3sbootstrap_shift_vertical}"
		hshift="{file.properties.tx_t3sbootstrap_shift_horizontal}"
	/>
	<f:if condition="{settings.detail.lightbox.enabled} && {settings.magnifying}">
		<div class="zoom-overlay{f:if(condition: file.description, then: ' description')}" style="max-width: {width}px;">
			<span class="magnifying-glass-icon">
				<i class="fa-solid fa-magnifying-glass-plus"></i>
			</span>
		</div>
	</f:if>
</f:section>

<f:section name="CopyrightOnClick">
<f:if condition="{file.originalResource.properties.tx_t3sbootstrap_copyright}">
	<f:asset.script identifier="imgcopyright_function">
// Image copyright on click - Media/Type/Image.html
function t3sbCopyright() {
	document.querySelectorAll('.image .img-copyright').forEach( imgCopy => {
		imgCopy.addEventListener('click', function(ic) {
			var imgCopyright = ic.currentTarget;
			imgCopyright.style.opacity = 0;
			var tid = ic.currentTarget.parentNode.querySelector('.toast').id;
			var myToastEl = document.getElementById(tid);
			var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl);
			var iw = Math.round(myToast._element.parentNode.querySelector('img').getBoundingClientRect().width);
			myToast.show();
			var th = Math.round(myToast._element.parentNode.querySelector('.toast').getBoundingClientRect().height);
			myToast._element.parentNode.querySelector('.toast').style.width = iw+'px';
			myToast._element.parentNode.querySelector('.toast').style.marginTop = -th+'px';
			myToast._element.addEventListener('hidden.bs.toast', function (icct) {
				imgCopyright.style.opacity = 1;
			});
		});
	});
}
	</f:asset.script>
	<f:asset.script identifier="vanilla_imgcopyright">
		// Image copyright on click - Private/Extensions/news/Resources/Private/Partials/Detail/T3sbMediaImage.html
		t3sbCopyright();	
	</f:asset.script>
	<span class="img-copyright {file.originalResource.properties.tx_t3sbootstrap_copyright_color}">
		 <i class="fa-solid fa-copyright fa-lg"></i>
	</span>
	<div id="toast-{file.properties.uid}" role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
		<div class="toast-header">
			<strong class="me-auto">Copyright</strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body text-start">
			{file.originalResource.properties.tx_t3sbootstrap_copyright}
			<f:if condition="{file.originalResource.properties.tx_t3sbootstrap_copyright_source}">
				<br />
				<nobr>
				<f:link.typolink parameter="{file.originalResource.properties.tx_t3sbootstrap_copyright_source}" target="_blank">
					{file.originalResource.properties.tx_t3sbootstrap_copyright_source}
				</f:link.typolink>
				</nobr>
			</f:if>
		</div>
	</div>
</f:if>
</f:section>

<f:section name="Copyright">
<f:if condition="{settings.imgCopyright} && {file.originalResource.properties.tx_t3sbootstrap_copyright}">
	<span class="img-copyright-default {file.originalResource.properties.tx_t3sbootstrap_copyright_color}">
		<span class="copyright">&copy;</span> <span class="copyright-note">{file.originalResource.properties.tx_t3sbootstrap_copyright}</span>
	</span>
</f:if>
</f:section>
