
:root {
  --t3sb-color: #dedede;
}


/* Light Mode Styles */
[data-color-scheme="light"] {
  --bg-footer: #6a6a6a;
  --bg-columns: #412aa2;
  --bg-palettefield: #eeeeee;
}

/* Dark Mode Styles */
[data-color-scheme="dark"] {
  --bg-footer: #6a6a6a;
  --bg-columns: #311f7a;
  --bg-palettefield: #1d1d1d;
}
/* Auto Styles */
[data-color-scheme="auto"] {
  --bg-footer: #6a6a6a;
  --bg-columns: #412aa2;
  --bg-palettefield: #eeeeee;
}

/*
.module-layout-normal .module-body-container .t3js-formengine-palette-field {
  background-color: var(--bg-palettefield) !important;
  padding: 1rem;
}
*/


.t3-page-ce-footer {
    border-top: 1px solid #5a5a5a !important;
}


.icon.icon-actions-duplicate svg {
  color: #666;
}

.t3sb-ext-navigation .pages-override {
  background-color: rgba(255,255,255,.15) !important;
}

.t3sb-title a {
  color: #fff !important;
}

.t3sb-gear {
  fill: #fff !important;
}

.t3sb-ext-navigation .panel {
  background-color: rgba(255,255,255,.15) !important;
}

.top-panel {
  background-color: #15141a !important;
}

.t3-grid-table .t3js-page-column .t3-page-column-header .t3-page-column-title  {
  background: var(--bg-columns) !important;
  color: var(--t3sb-color) !important;
  margin-bottom: 0 !important;
  padding: .75rem;
  border-radius: var(--pagemodule-grid-cell-border-radius);
  margin-right: 15px;
}

.t3sb-config .panel-body {
  background-color: #1a1a1a !important;
}

.t3sb-config #main-panel .panel-body {
  background-color: #000 !important;
}

.icon svg#icon-bars {
  fill: #fff;
  color: #fff;
}

.t3-page-column-header {
  margin-inline-end: 1rem !important;
}

.flex-info-content {
  background-color: transparent !important;
  padding: 5px 10px;
}


@container (min-width: 992px) {
  .card-size-small {
  width: calc(50% - var(--typo3-card-grid-gap)) !important;
  }
}

.settings-category-description, .settings-category-headline {
  max-width: 90% !important;
}

/* Backend-layout icons */
.formengine-field-item .t3js-forms-select-single-icons.form-wizard-icon-list .form-wizard-icon-list-item img {
  width: 32px;
  height: 32px;
}
.form-wizard-icon-list-item a.active, .form-wizard-icon-list-item a:active {
  color: var(--typo3-list-item-active-color);
  background-color: #6a10f3;
  outline: 1px solid var(--typo3-list-item-active-border-color);
}

.t3sb-config .form-horizontal .accordion a {
  color: #fff !important;
}

.t3-page-column-title {
  margin-bottom: 0 !important;
}

.ck-content.ck-button.ck-off,
.ck-content .ck-button.ck-off {
  display: none;
}

.t3sb-config .panel-heading .caret {
  --typo3-caret-color: #fff !important;
}



[data-colpos="211"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="212"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="221"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="222"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="231"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="232"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="233"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="241"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="242"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="243"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="244"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="261"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="262"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="263"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="264"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="265"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="266"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="290"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="270"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="271"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="272"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="273"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="274"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="275"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="276"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="277"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="278"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="279"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="280"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="281"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="282"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="283"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="300"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}
[data-colpos="310"] > .t3-page-column-header .t3-page-column-title {color: var(--t3sb-color) !important;}


/* RTE / CKEditor Style */
.ck-content .list-unstyled {
  padding-left:0;
  list-style:none
}
.ck-content .list-inline {
  padding-left:0;
  list-style:none
}
.ck-content .list-inline li {
  display:inline-block
}
.ck-content .list-inline li:not(:last-child) {
  margin-right:0.5rem
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}






