<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{swiperCss}">
	<f:asset.css identifier="swipercss-{data.uid}">
{swiperCss -> f:format.raw()}
	</f:asset.css>
</f:if>
<f:if condition="{swiperJs}">
	<f:asset.script identifier="vanilla_swiperjs-{data.uid}">
{swiperJs -> f:format.raw()}
	</f:asset.script>
</f:if>



<div class="alert alert-info" role="alert">
	<h3>BUILD YOUR OWN SLIDER</h3>
	<p>Folgendes Template auslagern und anpassen: /Partials/Content/Swiper/CustomOne.html</p>
	<p><strong>Info:</strong><br />
	SWIPER Demos: https://swiperjs.com/demos<br />
	SWIPER API: https://swiperjs.com/swiper-api<br />
	</p>
</div>


<f:comment>
Example:
<div id="mySwiper" class="swiper-container mx-auto my-5" style="overflow: hidden">
	<div class="swiper-wrapper">
		<f:for each="{col_300}" as="slide">
			<div class="swiper-slide">
				<f:render section="Image" arguments="{ratio: '{ratio}', file: '{swiperSlides.{slide.uid}.0}', width: '{width}'}" />
				<div class="slide-content ">
					<h2 class="text-white">{slide.header}</h2>
					<div class="d-none d-md-block">{slide.bodytext -> f:format.html()}</div>
				</div>
			</div>
		</f:for>
		<div class="swiper-pagination"></div>
	</div>
</div>
</f:comment>

</html>


<f:section name="Image">
<figure class="image{f:if(condition: file.properties.tx_t3sbootstrap_extra_class, then: ' {file.properties.tx_t3sbootstrap_extra_class}')}">
	<t3sb:media file="{file}"
	 title="{file.title}" alt="{f:if(condition: file.alternative, then: '{file.alternative}', else: 'image-{file.uid}')}"
	 class="img-fluid d-block{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}"
	 width="{width}"
	 height="auto"
	 breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	 }"
	 picturefill="{settings.picturefill}"
	 lazyload="0"
	 ratio="{ratio}"
	/>
</figure>
</f:section>
