<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx-indexedsearch-searchbox mb-4">
	<f:form action="search" method="post" id="tx_indexedsearch" pageUid="{settings.targetPid}">
		<div class="tx-indexedsearch-hidden-fields">
			<f:form.hidden name="search[_sections]" value="0" />
			<f:form.hidden name="search[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
			<f:form.hidden name="search[pointer]" id="tx_indexedsearch_pointer" value="0" />
			<f:form.hidden name="search[ext]" value="{searchParams.ext}" />
			<f:form.hidden name="search[searchType]" value="{searchParams.searchType}" />
			<f:form.hidden name="search[defaultOperand]" value="{searchParams.defaultOperand}" />
			<f:form.hidden name="search[mediaType]" value="{searchParams.mediaType}" />
			<f:form.hidden name="search[sortOrder]" value="{searchParams.sortOrder}" />
			<f:form.hidden name="search[group]" value="{searchParams.group}" />
			<f:form.hidden name="search[languageUid]" value="{searchParams.languageUid}" />
			<f:form.hidden name="search[desc]" value="{searchParams.desc}" />
			<f:form.hidden name="search[numberOfResults]" value="{searchParams.numberOfResults}" />
			<f:form.hidden name="search[extendedSearch]" value="{searchParams.extendedSearch}" />
		</div>
		<fieldset>
			<legend class="mt-4"><f:translate key="form.legend" /></legend>
			<div class="tx-indexedsearch-form form-group">
				<label for="tx-indexedsearch-searchbox-sword" class="form-label"><f:translate key="form.searchFor" />:</label>
				<f:form.textfield name="search[sword]" value="{sword}" id="tx-indexedsearch-searchbox-sword" class="tx-indexedsearch-searchbox-sword form-control" />
			</div>
			<f:if condition="{searchParams.extendedSearch}">
				<f:if condition="{showTypeSearch}">
					<div class="tx-indexedsearch-search-for mt-3">
						<label for="tx-indexedsearch-selectbox-searchtype" class="form-label"><f:translate key="form.match" />:</label>
						<f:if condition="{allSearchTypes}">
							<f:form.select name="search[searchType]" options="{allSearchTypes}" value="{searchParams.searchType}" id="tx-indexedsearch-selectbox-searchtype" class="tx-indexedsearch-selectbox-searchtype form-select" />
						</f:if>
					</div>
				</f:if>
			</f:if>
			<div class="tx-indexedsearch-search-submit">
				<f:form.submit name="search[submitButton]" value="{f:translate(key: 'form.submit')}" id="tx-indexedsearch-searchbox-button-submit" class="tx-indexedsearch-searchbox-button btn btn-primary mt-3" />
			</div>
		</fieldset>
		<f:if condition="{settings.displayAdvancedSearchLink}">
			<p class="mt-3">
			<f:if condition="{searchParams.extendedSearch}">
				<f:then>
					<f:link.action action="form" arguments="{search: {extendedSearch: 0}}"><f:translate key="form.linkToRegularSearch" /></f:link.action>
				</f:then>
				<f:else>
					<f:link.action action="form" arguments="{search: {extendedSearch: 1}}"><f:translate key="form.linkToAdvancedSearch" /></f:link.action>
				</f:else>
			</f:if>
			</p>
		</f:if>

	</f:form>
</div>
<f:render partial="Rules" />
</html>
