<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<f:flashMessages />
<f:if condition="{filecontent}">
	<f:then>
		<div class="card">
			<div class="card-header card-header-light">
				<div class="d-flex flex-column flex-md-row t3sb-header">
					<h2><em class="fa fa-bars ms-2" aria-hidden="true"></em> Overview of the provided, outsourced constants</h2>
				</div>
			</div>
			<div class="card-body">
				<p>You can override the settings if you create a new configuration on another page or in your constants - if you prefer this!
				<div id="constants" class="bg-light p-3"><pre>{filecontent}</pre></div>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="alert alert-danger text-center" role="alert">
			There are no outsourced constants available - you have to save the configuration again!
		</div>
	</f:else>
</f:if>
</f:section>
</html>
