<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<f:flashMessages />
<f:if condition="{filecontent}">
	<f:then>
		<div class="card">
			<div class="card-header card-header-light">
				<div class="d-flex flex-column flex-md-row t3sb-header">
					<h2><f:render section="Bar" /> Overview of the provided, outsourced constants from {f:if(condition: '{settings.sitepackage}', then: 'EXT:t3sb_package', else: '/fileadmin/')}</h2>
				</div>
			</div>
			<div class="card-body">
				<p>You can override the settings if you create a new configuration on another page or in your constants - if you prefer this!
				<div id="constants" class="bg-light p-3"><pre>{filecontent}</pre></div>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="alert alert-danger text-center" role="alert">
			There are no outsourced constants available - you have to save the configuration again!
		</div>
	</f:else>
</f:if>
</f:section>
</html>



<f:section name="Bar">
<svg style="margin-top: -3px;" width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
</f:section>
