<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<f:then>
			<f:render partial="FormErrors" />
		</f:then>
		<f:else>
			<f:if condition="{updated}">
				<f:asset.script identifier="success">
					require(['TYPO3/CMS/Backend/Notification'], function(Notification) {
						Notification.success('Updated', 'The configuration was successfully updated.');
					});
				</f:asset.script>
			</f:if>
		</f:else>
	</f:if>
</f:form.validationResults>

<div class="card">
	<div class="card-header edit-conf-btn">
		<div class="d-flex flex-column flex-{settings.config.navbarBreakpoint}-row t3sb-header">
			<h2><em class="fa fas fa-cogs" aria-hidden="true"></em> Edit Configuration</h2>
		</div>
	</div>
	<div class="card-body">
		<a class="text-left mb-3" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
			<em class="fa fa-info fa-3x mb-3" aria-hidden="true"></em>
		</a>
		<div class="collapse" id="collapseInfo" style="margin-bottom: 1rem;">
			<p class="m-0">The data entered here are provided as outsourced constants.<br />
			<span class="text-secondary">(fileadmin/T3SB/Configuration/TypoScript/t3sbconstants.typoscript)</span>
			<br /><br />
			The snippets in <code>red font color</code> are the constants you can use to override the settings in your constants - if you prefer this!</p>
		</div>

		<f:form class="form-horizontal" action="update" name="config" object="{config}" >
			<f:if condition="{admin}">
				<f:then>
					<f:render partial="Config/Accordion" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render partial="NonAdmin/Accordion" arguments="{_all}" />
				</f:else>
			</f:if>
			<f:form.submit value="Save" class="btn save-btn btn-block" />
		</f:form>
	</div>
</div>
</f:section>
</html>