<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<f:if condition="{deleted}">
	<f:asset.script identifier="identifiertest">
		require(['TYPO3/CMS/Backend/Notification'], function(Notification) {
			Notification.info('Deleted', 'The object was deleted.');
		});
	</f:asset.script>
</f:if>
<f:if condition="{created}">
	<f:asset.script identifier="identifiertest">
		require(['TYPO3/CMS/Backend/Notification'], function(Notification) {
			Notification.success('Created', 'The new configuration was successfully created.');
		});
	</f:asset.script>
</f:if>
<f:if condition="{updateScss}">
	<f:asset.script identifier="identifiertest">
		require(['TYPO3/CMS/Backend/Notification'], function(Notification) {
			Notification.success('Updated', 'Save custom-variables.scss & clean up temporary files.');
		});
	</f:asset.script>
</f:if>

<div class="card">
	<div class="card-header card-header-light">
		<div class="d-flex flex-column flex-{settings.config.navbarBreakpoint}-row t3sb-header">
			<h2><em class="fa fas fa-cogs" aria-hidden="true"></em> Configuration</h2>
		</div>
	</div>
	<div class="card-body">
		<f:if condition="{rootTemplate}">
			<f:then>
				<f:if condition="{config}">
					<f:then>
						<f:link.action action="edit" arguments="{config : config}" class="btn btn-primary btn-block edit-btn">
							Edit this configuration
						</f:link.action>
						<f:if condition="{isSiteroot}">
							<f:then>
								<f:if condition="{admin} && {settings.enableInfo}">
									<f:render section="Hints" arguments="{_all}" />
								</f:if>								
								<f:if condition="{utilColors} && {settings.enableUtilityColors}">
									<f:render section="UtilityColors" arguments="{_all}" />
								</f:if>
									<button class="btn btn-info bg-gradient page-conf-btn d-block mb-2" type="button" data-toggle="collapse"
									 data-target="#allPages" aria-expanded="false" aria-controls="allPages" style="width: 300px;">
										Pages with T3SB Configuration
									</button>
								<div class="collapse mb-2" id="allPages">
									<div class="card card-body mb-0" style="padding: 0 !important">
										<table class="table table-striped">
											<thead class="thead-default text-white">
											<tr>
												<th style="background-color: #17a2b8 !important;border-color: #17a2b8 !important;">uid</th>
												<th style="background-color: #17a2b8 !important;border-color: #17a2b8 !important;">page uid</th>
												<th style="background-color: #17a2b8 !important;border-color: #17a2b8 !important;">page title</th>
											</tr>
											</thead>
											<tbody>
												<f:for each="{allConfig}" as="config" iteration="iterator">
													<tr>
														<th scope="row">{config.confUid}</th>
														<td>{config.uid}</td>
														<td>{config.title}</td>
													</tr>
												</f:for>
											</tbody>
										</table>
									</div>
								</div>
								<f:if condition="{pagesOverride}">
									<div class="bs-callout bs-callout-primary bg-white">
										<h3>Global pages override is set in Constant Editor:</h3>
										<ul class="list-unstyled">
											<f:for each="{pagesOverride}" as="override" key="field">
												<f:if condition="{override}">
													<li>{field} = {override}</li>
												</f:if>
											</f:for>
										</ul>
									</div>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{admin}">
									<f:link.action action="delete" arguments="{config : config}" class="btn btn-danger btn-block"
									 additionalAttributes="{onclick: 'return confirm(\'Are you sure want to delete this configuration?\')'}">
										Delete this configuration
									</f:link.action>
								</f:if>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{admin}">
							<f:if condition="{isSiteroot}">
								<f:then>
									<f:link.action action="new" class="btn btn-primary btn-block">New main configuration</f:link.action>
								</f:then>
								<f:else>
									<f:if condition="{rootConfig}">
										<f:then>
											<f:link.action action="new" class="btn btn-warning btn-block">Override configuration</f:link.action>
										</f:then>
										<f:else>
											<div class="alert alert-danger" role="alert">The main configuration has to be created first on the root page.</div>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:if>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<div class="alert alert-danger" role="alert">A template is expected on this side.</div>
			</f:else>
		</f:if>
	</div>
</div>


<f:if condition="{admin}">
	<f:if condition="{settings.customScss}">
		<f:then>
			<f:if condition="{customScss}">
				<f:then>
					<div class="text-center">
						<span class="badge badge-success lead"
						 style="margin-top:2rem; padding:1rem; font-weight: 300; opacity: .7; font-size: 100%;">Custom scss is activated!</span>
					</div>
					<f:if condition="{settings.editScss} && {isSiteroot}">
						<f:then>
							<f:form class="form-horizontal" action="list" name="custom-variables" arguments="{updateSss: 'TRUE'}" >
								<p class="text-center text-secondary">You can override default <strong>Bootstrap</strong> variables here:</p>
								<f:form.textarea name="t3sbootstrap[custom-variables]" id="pageTitleclass" class="form-control"
								rows="16" style="padding:1rem; margin-bottom:1rem;" value="{custom-variables -> f:format.raw()}" />
								<f:if condition="{settings.bootswatch}">
									<f:then>
										<p class="text-center text-secondary">
											You can override default <strong>Bootswatch</strong> SCSS <small>(Theme: {settings.bootswatch})</small> here:
										</p>
									</f:then>
									<f:else>
										<p class="text-center text-secondary">You can set your <strong>own</strong> SCSS here:</p>
									</f:else>
								</f:if>
								<f:form.textarea name="t3sbootstrap[custom]" id="pageTitleclass" class="form-control"
								rows="16" style="padding:1rem;" value="{custom -> f:format.raw()}" />
								<f:form.submit value="Save custom-variables.scss & clean up temporary files in typo3temp/assets/t3sbootstrap/css/"
								class="btn btn-success btn-block" style="margin: 3rem 0;" />
							</f:form>
						</f:then>
						<f:else>
							<f:if condition="{settings.editScss}">
								<f:then>
									<p class="text-center text-secondary">You can override default Bootstrap variables on the root page.</p>
								</f:then>
								<f:else>
									<p class="text-center text-secondary">
										You can override default Bootstrap variables in <strong>{settings.customScssPath}</strong>
										 without modifying source files.<br />
										 <small>Clean up temporary files in typo3temp/assets/t3sbootstrap/css/ after edit this file!</small>
									</p>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<p class="text-danger text-center lead" style="margin:3rem 0 1rem 0;">
						Custom SCSS is activated but no custom-variables.scss file exist!<br /> Run the schedular task "T3SB Custom Scss" to write the file.
					</p>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{settings.customScss}">
				<f:then>
					<p class="text-danger text-center lead" style="margin:3rem 0 1rem 0;">
						Custom SCSS is activated.
					</p>
				</f:then>
				<f:else>
					<p class="text-danger text-center lead" style="margin:3rem 0 1rem 0;">
						Custom SCSS is not activated.
					</p>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:if>
</html>
</f:section>


<f:section name="UtilityColors">
	<button class="btn btn-info bg-gradient util-color-btn mb-2" type="button" data-toggle="collapse"
	 data-target="#util-color" aria-expanded="false" aria-controls="util-color" style="width: 300px;">
		Utility Colors
	</button>
	<div class="collapse" id="util-color">
		<div class="card card-body mb-0" style="padding: 0 !important">
			<p>Currently available utility colors:</p>
			<table class="table table-striped util-table">
				<f:for each="{utilColors}" as="color" key="colorkey">
					<tr>
					  <th style="background-color: {color} !important;"></th>
					  <td>{colorkey}</td>
					  <td>{color}</td>
					</tr>
				</f:for>
			</table>
			<p class="mb-4 text-secondary">Set the following constant to disable the "Utility Colors":<br />
				<code>bootstrap.config.enableUtilityColors = 0</code></p>
		</div>
	</div>
</f:section>

<f:section name="Hints">
	<button class="btn btn-info bg-gradient page-conf-btn mb-2 d-block" type="button" data-toggle="collapse"
	 data-target="#hints" aria-expanded="false" aria-controls="hints" style="width: 300px;">
		Hints to increase the Website speed
	</button>
	<div class="collapse" id="hints">
		<div class="card card-body mb-0 p-0 pt-2">
			<f:if condition="{settings.webp}">
				<f:then>
					<p class="text-success"><i class="fa fa-check text-success mr-1"></i> WebP Support is enabled</p>
				</f:then>
				<f:else>
					<p class="text-danger"><i class="fa fa-times text-danger mr-1"></i> WebP Support is disabled</p>
				</f:else>
			</f:if>
			<f:if condition="{settings.lazyLoad}">
				<f:then>
					<p class="text-success"><i class="fa fa-check text-success mr-1"></i> EM config: T3SB lazyLoad is enabled</p>
				</f:then>
				<f:else>
					<p class="text-danger"><i class="fa fa-times text-danger mr-1"></i> EM config: T3SB lazyLoad is disabled</p>
				</f:else>
			</f:if>
			<f:if condition="{settings.t3sbconcatenate}">
				<f:then>
					<p class="text-success"><i class="fa fa-check text-success mr-1"></i> EM config: T3SB concatenate is enabled</p>
				</f:then>
				<f:else>
					<p class="text-danger"><i class="fa fa-times text-danger mr-1"></i> EM config: T3SB concatenate is disabled</p>
				</f:else>
			</f:if>
			<f:if condition="{settings.t3sbminify}">
				<f:then>
					<p class="text-success"><i class="fa fa-check text-success mr-1"></i> EM config: T3SB minify is enabled</p>
				</f:then>
				<f:else>
					<p class="text-danger"><i class="fa fa-times text-danger mr-1"></i> EM config: T3SB minify is disabled</p>
				</f:else>
			</f:if>
			<f:if condition="{compress}">
				<f:then>
					<p class="text-success"><i class="fa fa-check text-success mr-1"></i> BE Modul: T3SB compress is enabled</p>
				</f:then>
				<f:else>
					<p class="text-danger"><i class="fa fa-times text-danger mr-1"></i> BE Modul: T3SB compress is disabled</p>
				</f:else>
			</f:if>
			<f:if condition="{settings.cdn.enable}">
				<f:then>
					<p class="text-info mt-2"><i class="fa fa-info text-info mr-1"></i> Konstanten-Editor: CDN is enabled</p>
				</f:then>
				<f:else>
					<p class="text-info mt-2"><i class="fa fa-info text-info mr-1"></i> Konstanten-Editor: CDN is disabled</p>
				</f:else>
			</f:if>
			<p class="text-info" type="button" data-toggle="collapse"
				 data-target="#collapseOptimize" aria-expanded="false" aria-controls="collapseOptimize">
				<i class="fa fa-info text-info mr-1"></i> <u>Konstanten-Editor: T3SB Optimize Bootstrap</u>
			</p>
			<div class="collapse" id="collapseOptimize">
				<div class="card card-body p-0">	
					<p>Make sure you optimize Bootstrap by only @importing the components you need.</p>
					<table class="table">
						<f:for each="{settings.optimize}" as="optimize" iteration="iterator" key="label">
							<tr{f:if(condition: '{optimize}',then: '  class="table-warning"', else: ' class="table-success"')}>
								<td class="table-success">{label}</td>
								<td>{optimize}</td>
							</tr>
						</f:for>
					</table>
				</div>
			</div>

			<p class="text-secondary my-2">Set the following constant to disable this hints:<br />
				<code>bootstrap.config.enableInfo = 0</code></p>
		</div>
	</div>

</f:section>
