<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:if condition="{isPageInfo}">
	<div id="t3sb-pageinfo" class="callout callout-notice t3sbootstrap-page-info d-flex my-4 p-0 pt-3 pb-1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-2 p-0">
					<div class="flex-shrink-0 h-100">
						<div class="text-center w-100" style="color:#808080;">
							<h5 class="mb-3">{f:translate(key: 'pagesettings', extensionName: 't3sbootstrap')}</h5>
							<core:icon identifier="bootstraplogo" size="large" title="You can deactivate this page info in the EMConfig if necessary"/>
						</div>
					</div>
				</div>
				<div class="col-3">
					<ul class="list-unstyled" style="color:	 #808080; line-height: 1.8;">
						<f:for each="{infoColOne}" as="infoOne" key="label">
							<f:if condition="{label} == 'container' && {infoOne} == 'FALSE - even if pages override'">
								<f:then>
									<li><strong>{f:translate(key: '{label}', extensionName: 't3sbootstrap')}</strong>: <span class="text-danger">{infoOne}</span></li>
								</f:then>
								<f:else>
									<f:if condition="{label} == 'fullHeightSection' && !{infoOne}">
										<f:else>
											<li><strong>{f:translate(key: '{label}', extensionName: 't3sbootstrap')}</strong>: {infoOne}</li>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:for>
					</ul>
				</div>
				<div class="col-3 text-center">
					<ul class="list-unstyled" style="color:#808080;">
						<f:for each="{infoColTwo}" as="infoTwo" key="label">
							<f:if condition="{label} == 'pageIcon' && {infoTwo}">
								<f:then>
									<li>
										<strong>{f:translate(key: '{label}', extensionName: 't3sbootstrap')}</strong><br>
										<t3sb:icon iconfig="{infoTwo -> f:format.raw()}"
										additionalAttributes="{style:'width:50px; height:50px; margin:10px 0 5px 0;'}" />
									</li>
								</f:then>
								<f:else>
									<f:if condition="{infoTwo} && {infoTwo} != 'default'">
										<li>
											<strong>{f:translate(key: '{label}', extensionName: 't3sbootstrap')}</strong>
										</li>
									</f:if>
								</f:else>
							</f:if>
						</f:for>
					</ul>
				</div>
				<div class="col-1">
					&nbsp;
				</div>
				<div class="col-3">
					<f:if condition="{infoConfig}">
						<h4 class="text-danger">T3SB Config</h4>
						<ul class="list-unstyled" style="color:#808080;">
							<f:for each="{infoConfig}" as="config" key="label">
								<li>
									<strong>{f:translate(key: '{label}', extensionName: 't3sbootstrap')}</strong>
								</li>

							</f:for>
						</ul>
					</f:if>
					<f:if condition="{countPagesOverrides}">
						<h4 class="text-danger">{f:translate(key: 'countPagesOverrides', extensionName: 't3sbootstrap')}</h4>
						<ul class="list-unstyled" style="color:#808080;">
							<f:for each="{infoOverride}" as="override" key="label">
								<f:if condition="{override}">
									<f:if condition="{label} == 'titlecolor' || {label} == 'subtitlecolor'">
										<f:then>
											<li><strong>{f:translate(key: '{label}', extensionName: 't3sbootstrap')}</strong>: <span  style="color:{override};">{override}</span></li>
										</f:then>
										<f:else>
											<li><strong>{f:translate(key: '{label}', extensionName: 't3sbootstrap')}</strong>: {override}</li>
										</f:else>
									</f:if>
								</f:if>
							</f:for>
						</ul>
					</f:if>
				</div>
			</div>
		</div>
	</div>
</f:if>
</html>
