<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="width" value="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" />
<f:variable name="height" value="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}c" />
<f:if condition="{settings.media.maxWidth} && {settings.media.maxHeight}">
	<f:then>
		<f:variable name="width" value="{settings.media.maxWidth}" />
		<f:variable name="height" value="{settings.media.maxHeight}c" />
	</f:then>
	<f:else>
		<f:if condition="{settings.media.maxWidth}">
			<f:then>
				<f:variable name="width" value="{settings.media.maxWidth}" />
				<f:variable name="height" value="auto" />
			</f:then>
			<f:else>
				<f:if condition="{settings.media.maxHeight}">
					<f:then>
						<f:variable name="width" value="auto" />
						<f:variable name="height" value="{settings.media.maxHeight}" />
					</f:then>
					<f:else>
						<f:variable name="width" value="{settings.list.media.image.maxWidth}" />
						<f:variable name="height" value="{settings.list.media.image.maxHeight}c" />
					</f:else>
				</f:if>
			</f:else>
		</f:if>
		<f:variable name="ratio" value="" />
	</f:else>
</f:if>

<f:image
	src="{settings.list.media.dummyImage}"
	title="Dummy image"
	alt="Dummy image"
	width="{width}"
	height="{height}"
	class="img-fluid me-3{f:if(condition: '{settings.lazyLoad} == 1', then:' lazy')}"
/>
</html>
