<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:image
	image="{mediaElement}"
	title="{mediaElement.originalResource.title}"
	alt="{mediaElement.originalResource.alternative}"
	maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.image.maxWidth)}"
	maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.image.maxHeight)}"
	class="me-3 img-fluid text-center"
/>
</html>
