<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.list.imageRatio}">
	<f:then>
		<f:variable name="width" value="{f:if(condition: '{settings.media.maxWidth}', then: '{settings.media.maxWidth}', else: '{settings.list.media.image.maxWidth}')}" />
		<f:variable name="height" value="" />
		<f:variable name="ratio" value="{settings.list.imageRatio}" />
	</f:then>
	<f:else>
		<f:if condition="{settings.media.maxWidth} && {settings.media.maxHeight}">
			<f:then>
				<f:variable name="width" value="{settings.media.maxWidth}" />
				<f:variable name="height" value="" />
				<f:variable name="ratio" value="{settings.media.maxWidth}:{settings.media.maxHeight}" />
			</f:then>
			<f:else>
				<f:if condition="{settings.media.maxWidth}">
					<f:then>
						<f:variable name="width" value="{settings.media.maxWidth}" />
						<f:variable name="height" value="" />
					</f:then>
					<f:else>
						<f:if condition="{settings.media.maxHeight}">
							<f:then>
								<f:variable name="width" value="" />
								<f:variable name="height" value="{settings.media.maxHeight}" />
							</f:then>
							<f:else>
								<f:variable name="width" value="{settings.list.media.image.maxWidth}" />
								<f:variable name="height" value="{settings.list.media.image.maxHeight}" />
							</f:else>
						</f:if>
					</f:else>
				</f:if>
				<f:variable name="ratio" value="" />
			</f:else>
		</f:if>
	</f:else>
</f:if>

<f:if condition="{file.originalResource}">
	<f:then>
		<f:variable name="fileUid" value="{file.originalResource.uid}" />
		<f:variable name="titleText" value="{file.originalResource.title}" />
		<f:variable name="altText" value="{f:if(condition: '{file.originalResource.alternative}', then: '{file.originalResource.alternative}', else: 'Image-{fileUid}')}" />
		<f:variable name="imgExtraClass" value="{f:if(condition: '{file.originalResource.properties.tx_t3sbootstrap_extra_imgclass}', then: ' {file.originalResource.properties.tx_t3sbootstrap_extra_imgclass}', else:'')}" />
		<f:variable name="extraClass" value="{f:if(condition: '{file.originalResource.properties.tx_t3sbootstrap_extra_class}', then: ' {file.originalResource.properties.tx_t3sbootstrap_extra_class}', else:'')}" />
		<f:variable name="lazyImg" value="{f:if(condition: '{file.originalResource.properties.tx_t3sbootstrap_lazy_load}', then: '1', else:'0')}" />
	</f:then>
	<f:else>
		<f:comment> DUMMY IMAGE </f:comment>
		<f:variable name="fileUid" value="{file.uid}" />
		<f:variable name="titleText" value="{file.title}" />
		<f:variable name="altText" value="{f:if(condition: '{file.alternative}', then: '{file.alternative}', else: 'Image-{fileUid}')}" />
		<f:variable name="imgExtraClass" value="{f:if(condition: '{file.tx_t3sbootstrap_extra_imgclass}', then: ' {file.tx_t3sbootstrap_extra_imgclass}', else:'')}" />
		<f:variable name="extraClass" value="{f:if(condition: file.tx_t3sbootstrap_extra_class, then: ' {file.tx_t3sbootstrap_extra_class}', else:'')}" />
		<f:variable name="lazyImg" value="{f:if(condition: '{file.tx_t3sbootstrap_lazy_load}', then: '1', else:'0')}" />
	</f:else>
</f:if>
<f:if condition="{settings.lazyLoad} == 1">
	<f:then>
		<f:variable name="lazyClass" value=" lazy" />
	</f:then>
	<f:else>	
		<f:if condition="{lazyImg} && {settings.lazyLoad} == 2">
			<f:then>
				<f:variable name="lazyClass" value=" lazy" />
			</f:then>
			<f:else>
				<f:variable name="lazyClass" value="" />			
			</f:else>
		</f:if>
	</f:else>
</f:if>

<figure class="text-center image{extraClass}{f:if(condition: '{settings.templateLayout} == 71', then: ' d-none d-sm-block')}">
	<t3sb:media
		file="{file}"
		title="{titleText}"
		alt="{altText}"
		class="img-fluid{lazyClass}{imgExtraClass}{f:if(condition: '{settings.templateLayout} == 71', then:' me-3')}"
		
		width="{width}"
		height="{height}"
		breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
		}"
		picturefill="{settings.picturefill}"
		lazyload="{settings.lazyLoad}"
		ratio="{ratio}"
		shift="{file.properties.tx_t3sbootstrap_shift_vertical}"
		hshift="{file.properties.tx_t3sbootstrap_shift_horizontal}"
	/>
</figure>
</html>
