<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Gallery Template for Carousel used in Textmedia, Mediaobject and/or Card</f:comment>
<div id="carousel-{data.uid}" class="carousel slide {gallery.rowClass}" data-bs-ride="carousel"{f:if(condition:'{data.imagewidth}',then:' style="max-width: {data.imagewidth}px;"')}>
	<div class="carousel-indicators">
		<f:for each="{files}" as="mediaElement" iteration="iterator">
			<button type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide-to="{iterator.index}"{f:if(condition:'{iterator.isFirst}',then:' class="active"')} aria-label="Slide {iterator.cycle}"></button>
		</f:for>
	</div>
	<div class="carousel-inner text-center">
		<f:for each="{files}" as="media" iteration="iterator">
			<div class="carousel-item{f:if(condition:'{iterator.isFirst} == 1',then:' active')}">
				<figure class="image">
				<f:if condition="{media.properties.link}">
					<f:then>
						<f:link.typolink parameter="{media.properties.link}" title="{media.properties.title}">
							<f:render section="Slide" arguments="{file: media, dimensions: gallery, ratio: data.tx_t3sbootstrap_image_ratio}" />
						</f:link.typolink>
					</f:then>
					<f:else>
						<f:if condition="{addmedia.imagezoom}">
							<f:then>
								<ce:link.clickEnlarge image="{media}" configuration="{settings.media.popup}">
									<f:render section="Slide" arguments="{file: media, dimensions: gallery, ratio: data.tx_t3sbootstrap_image_ratio}" />
									<f:comment> magnifying glass-icon </f:comment>
									<f:comment>
									<f:if condition="{settings.magnifying}">
										<div class="zoom-overlay{addmedia.zoomOverlay}">
											<span class="magnifying-glass-icon">
												<i class="fa-solid fa-magnifying-glass-plus"></i>
											</span>
										</div>
									</f:if>
									</f:comment>
								</ce:link.clickEnlarge>
							</f:then>
							<f:else>
								<f:render section="Slide" arguments="{file: media, dimensions: gallery, ratio: data.tx_t3sbootstrap_image_ratio}" />
							</f:else>
						</f:if>
					</f:else>
				</f:if>
				</figure>
				<f:if condition="{media.title} || {media.description}">
					<div class="carousel-caption d-none d-md-block">
						<f:if condition="{media.title}">
							<h5>{media.title -> f:format.html()}</h5>
						</f:if>
						<f:if condition="{media.description}">
							<p>{media.description -> f:format.html()}</p>
						</f:if>
					</div>
				</f:if>
			</div>
		</f:for>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">zurück</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">weiter</span>
	</button>
</div>
</html>


<f:section name="Slide">
<f:if condition="{addmedia.origImg}">
	<f:then>
		<f:image class="img-fluid{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}" src="fileadmin/{file.identifier}" />
	</f:then>
	<f:else>
		<t3sb:media 
			file="{file}" 
			title="{file.title}" alt="{f:if(condition: file.alternative, then: '{file.alternative}', else: '{t3sb:alternative(title:file.title, name:file.name)}')}"
			class="img-fluid{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}{f:if(condition: '({file.properties.tx_t3sbootstrap_lazy_load} && {settings.lazyLoad} == 2) || {settings.lazyLoad} == 1', then: ' lazy')}"
			width="{dimensions.width}" 
			height="auto" 
			breakpoints="{
				0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
				1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
				2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
				}" 
			picturefill="{settings.picturefill}" 
			lazyload="{settings.lazyLoad}" 
			ratio="{ratio}"
			shift="{file.properties.tx_t3sbootstrap_shift_vertical}"
			hshift="{file.properties.tx_t3sbootstrap_shift_horizontal}"		
		/>
	</f:else>
</f:if>
</f:section>
