<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<div class="mb-4 pb-5 border-bottom">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<f:if condition="{newsItem.mediaPreviews}">
		<!-- media preview element -->
		<f:then>
			<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
				<f:if condition="{mediaElement.originalResource.type} == 2">
					<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
						<f:render partial="List/Media/Image" arguments="{file: mediaElement}" />
					</n:link>
				</f:if>
				<f:if condition="{mediaElement.originalResource.type} == 3 || {mediaElement.originalResource.type} == 4">
					<f:render partial="List/Media/Video" arguments="{mediaElement: mediaElement}" />
				</f:if>
				<f:if condition="{mediaElement.originalResource.type} == 5">
					<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
						<f:render partial="List/Media/File" arguments="{mediaElement: mediaElement}" />
					</n:link>
				</f:if>
			</f:alias>
		</f:then>
		<f:else>
			<f:if condition="{settings.displayDummyIfNoMedia}">
				<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
					<f:if condition="{settings.dummyImageUid} && <t3sb:dummyImage uid='{settings.dummyImageUid}' />">
						<f:then>
							<f:variable name="dummyImage" value="<t3sb:dummyImage uid='{settings.dummyImageUid}' />" />
							<f:render partial="List/Media/Image" arguments="{file: dummyImage}" />						
						</f:then>
						<f:else>
							<f:render partial="List/Media/Dummy" />						
						</f:else>
					</f:if>
				</n:link>
			</f:if>
		</f:else>
	</f:if>
	<f:render partial="List/Body/Item" arguments="{newsItem: newsItem, link: 'true'}" />
	<n:link newsItem="{newsItem}" settings="{settings}" class="more float-end btn btn-{settings.list.button.class} d-none d-sm-block" title="{newsItem.title}">
		<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xml:more-link"/>
	</n:link>
</div>
</html>
