<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:if condition="{news}">
		<f:then>
			<div class="alert alert-danger" role="alert">
				Update EXT:news to version 9 or disable the option "Extension news" in the EM config!
			</div>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<div class="alert alert-danger" role="alert">
					<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xml:list_nonewsfound" />
				</div>
			</div>
		</f:else>
	</f:if>
</html>
