<!--
	=====================
	Partials/ResultRows.html

	modified by EXT:t3sbootstrap
-->


<f:if condition="{numberofresults}">
<f:asset.script identifier="vanilla_searchResultJs">

/* display number of results */
document.getElementById('search-hits').innerHTML = '<strong>{numberofresults} Ergebnisse:</strong>';

/* stretched link for search result items */
var searchLinks = document.querySelectorAll('.result-title a');
searchLinks.forEach(function (searchLink, index) {
	searchLink.classList.add('stretched-link');
});

</f:asset.script>
</f:if>


<div class="row">
	<div class="col-12 col-md-6">
		<div id="search-hits"></div>		
	</div>
	<div class="col-12 col-md-6">
		<f:render partial="T3SB/Sorting" arguments="{conf: conf, numberofresults: numberofresults, sortingLinks: sortingLinks}" />
	</div>
</div>





<f:if condition="{conf.pagebrowserOnTop}">
	<div id="kesearch_pagebrowser_top"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>


<div id="kesearch_results">
								
									<f:for each="{resultrows}" as="resultrow">
										<f:render partial="T3SB/ResultRow" arguments="{conf: conf, resultrow: resultrow}" />
									</f:for>
</div>

<f:if condition="{conf.pagebrowserAtBottom}">
	<div id="kesearch_pagebrowser_bottom" class="text-center lead my-4">
		<f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" />
	</div>
</f:if>
<f:if condition="{conf.showQueryTime}">
	<div id="kesearch_query_time">{queryTimeText}</div>
</f:if>
