<!--
	=====================
	Partials/ResultRow.html

	modified by EXT:t3sbootstrap
-->

<f:asset.css identifier="searchResult">
/*
.card {
	border-radius: 0;
  border-top-left-radius: 30px;
  behavior:url(border-radius.htc);
}

.hit {
background: rgba(0, 0, 0, 0.05);
font-weight: 700;
color: var(--bs-primary)
}
*/

.result-callout {
	padding: 15px;
	border: 1px solid #eee;
	position: relative;
}

.result-callout:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

a.stretched-link {
	text-decoration: none;
	color: inherit;
}

</f:asset.css>


<div class="result-callout mb-2">
	<div class="row mb-2">
		<div class="col-12 col-md-6">
			<h5 class="result-title mb-0">
				<span class="teaser_icon">
					<f:render section="typeIconOrPreviewImage"
					arguments="{icon: resultrow.typeIconPath, filePreviewId: resultrow.filePreviewId, treatIdAsReference:resultrow.treatIdAsReference, iconConf: conf.showTypeIcon}"/>
				</span>
				<f:format.raw>{resultrow.title}</f:format.raw>
			</h5>
		</div>
		<div class="col-12 col-md-6">		
			<p class="text-end mb-0"><f:format.date format="d.m.Y">{resultrow.date_timestamp}</f:format.date></p>
		</div>
	</div>
	<div class="result-teaser mb-2">{resultrow.teaser -> f:format.raw()}</div>	
	<p class="mb-0"><i class="fa-solid fa-tags me-1"></i> {f:if(condition: resultrow.tags, then: '{resultrow.tags}', else: 'ohne Tag')}</p>
</div>







<f:section name="typeIconOrPreviewImage">
	<f:if condition="{iconConf}">
		<f:image class="me-1" src="{icon}" maxWidth="16" maxHeight="16" />
	</f:if>
</f:section>
