
<f:asset.css identifier="ke_searchResult">
#kesearch_pagebrowser_top a, #kesearch_pagebrowser_bottom a {
  padding: 6px 12px !important;
}
#kesearch_pagebrowser_top a.current, #kesearch_pagebrowser_bottom a.current {
  color: #fff !important;
}
</f:asset.css>

<div class="col d-flex align-items-stretch result-list-item-type-{resultrow.type}">
<div class="card above h-100 w-100">
<div class="card-body">
  <div class="row">
	<div class="col-6">
		<span class="teaser_icon">
		<f:render
			section="typeIconOrPreviewImage"
			arguments="{icon: resultrow.typeIconPath, filePreviewId: resultrow.filePreviewId, treatIdAsReference:resultrow.treatIdAsReference, iconConf: conf.showTypeIcon}"
		/>
		</span>{resultrow.type}
	</div>
	<div class="col-6 text-end">
		<f:if condition="{resultrow.type} == 'cal'">
			<f:then>
				<f:comment><!-- Special cal date rendering --></f:comment>
				<f:render partial="T3SB/CalDate" arguments="{resultrow: resultrow}" />
			</f:then>
			<f:else>
				<f:comment><!-- Default date rendering --></f:comment>
				<f:if condition="{conf.showDate}">
					<f:format.date>{resultrow.date_timestamp}</f:format.date>
				</f:if>
			</f:else>
		</f:if>
	</div>
  </div>
<header>
	<h5 class="result-title my-3">
		<f:format.raw>{resultrow.title}</f:format.raw>
	</h5>
</header>
<div class="card-text">
	<span class="result-teaser">{resultrow.teaser -> f:format.raw()}</span>
</div>
</div>
  <div class="card-footer small">
		<f:if condition="{settings.iconpack.loaded}">
			<f:then>
				<<t3sb:icon iconfig="fa6:solid,tags" />		
			</f:then>
			<f:else>
				<i class="fa-solid fa-tags"></i>
			</f:else>	
		</f:if>
		{f:if(condition: resultrow.tags, then: '{resultrow.tags}', else: 'home')}
  </div>
</div>
</div>



<f:section name="typeIconOrPreviewImage">
	<f:if condition="{iconConf} && !{filePreviewId}">
		<f:then>
			<f:image src="{icon}" maxWidth="16" maxHeight="16" />
		</f:then>
		<f:else>
			<f:if condition="{filePreviewId}">
				<f:image src="{filePreviewId}" treatIdAsReference="{treatIdAsReference}" maxWidth="200" />
			</f:if>
		</f:else>
	</f:if>
</f:section>