<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->
<f:section name="content">
	<!--TYPO3SEARCH_end-->	
    <f:if condition="{settings.version} > '8'">
        <f:then>
			<f:render partial="List/List_9.html" arguments="{_all}" />
        </f:then>
        <f:else>
			<f:render partial="List/List_8.html" arguments="{_all}" />
        </f:else>
    </f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>
