<ul class="navbar-nav{config.navbar.mauto} small">
	<li class="nav-item">
		<a class="nav-link py-0 pr-3" href="#" title="facebook"><i class="fab fa-facebook"></i></a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-0 pr-3" href="#" title="instagram"><i class="fab fa-instagram"></i></a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-0 pr-3" href="#" title="twitter"><i class="fab fa-twitter"></i></a>
	</li>
	<li class="nav-item">
		<a href="tel:+49123456789" class="nav-link py-0 pr-2" title="call me"><i class="fas fa-phone"></i> 012-3456789</a>
	</li>
</ul>
