<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="page-pagination" aria-label="page pagination">
	<ul class="pagination justify-content-center">
		<f:if condition="{browsePrev}">
			<f:for each="{browsePrev}" as="page" iteration="iterator" reverse="true">
				<li class="page-item">
					<a class="page-link" href="{page.link}"><span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span> {page.title}</a>
				</li>
			</f:for>
		</f:if>
		<f:if condition="{browseNext}">
			<f:for each="{browseNext}" as="page" iteration="iterator" reverse="true">
				<li class="page-item"><a class="page-link" href="{page.link}">{page.title} <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span></a></li>
			</f:for>
		</f:if>
	</ul>
</nav>
</html>
