<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="page-pagination" aria-label="page pagination">
	<ul class="pagination justify-content-center">
		<f:if condition="{browsePrev}">
			<li class="page-item">
				<a class="page-link" href="{browsePrev.0.link}">
					<span aria-hidden="true">
					<f:if condition="{settings.iconpack.loaded}">
						<f:then>
							<t3sb:icon iconfig="fa7:solid,chevron-left" />		
						</f:then>
						<f:else>
							<i class="fa-solid fa-chevron-left"></i>
						</f:else>	
					</f:if>		
					</span>
					 {browsePrev.0.title}
				</a>
			</li>
		</f:if>
		<f:if condition="{browseNext}">
			<li class="page-item">
				<a class="page-link" href="{browseNext.0.link}">{browseNext.0.title} <span aria-hidden="true">
					<f:if condition="{settings.iconpack.loaded}">
						<f:then>
							<t3sb:icon iconfig="fa7:solid,chevron-right" />	
						</f:then>
						<f:else>
							<i class="fa-solid fa-chevron-right"></i>
						</f:else>	
					</f:if>	
				</span>
				</a>
			</li>
		</f:if>
	</ul>
</nav>
</html>
