<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:kesearch="http://typo3.org/ns/Tpwd/KeSearch/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.kesearch.loaded}">
	<f:then>
		<f:cObject typoscriptObjectPath="lib.searchbox_html" />
	</f:then>
	<f:else>
		<f:render section="Indexedsearch" arguments="{_all}" />
	</f:else>
</f:if>
</html>

<f:section name="Indexedsearch">
<form id="searchbox" role="search" class="d-flex ms-{navbarBreakpoint}-3 mb-0{sbmauto}" method="post" action="{f:uri.page(pageUid:'{settings.indexedsearch.targetPid}',additionalParams:'{tx_indexedsearch_pi2: {action:\'search\',controller:\'Search\'}}')}">
	<input type="text" name="tx_indexedsearch_pi2[search][sword]" value="" class="form-control me-2">
	<f:if condition="{config.navbar.searchbox} == 'button'">
		<button name="tx_indexedsearch_pi2[search][submitButton]" class="btn btn-outline-dark" type="submit">Suchen</button>
	</f:if>
</form>
</f:section>
