<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{sectionMenu.0.content.0}">
	<f:render partial="Page/Assets" arguments="{scrollspy:'true'}" />
	<f:if condition="{settings.config.sectionmenuStickyTop}">
		<f:render partial="Page/Assets" arguments="{stickytop:'true'}" />
	</f:if>
	<f:if condition="{settings.config.sidebarSectionMobile}">
		<f:then>
			<f:variable name="breakpoint" value="-" />
		</f:then>
		<f:else>
			<f:variable name="breakpoint" value="-{settings.config.navbarBreakpoint}-" />
		</f:else>
	</f:if>
	<div id="sectionmenu" class="collapse d{breakpoint}flex bg-light p-2 mb-3">
		<ul class="nav section-menu flex-column flex-nowrap nav-pills w-100">
			<f:for each="{sectionMenu.0.content}" as="element">
				<f:if condition="( {element.data.header} || {element.data.tx_t3sbootstrap_header_sectionMenu} ) && {element.data.sectionIndex}">
					<li class="nav-item">
						<a class="nav-link scroll-trigger" href="{element.link}#c{element.data.uid}"
							 target="{f:if(condition: '{element.target}',then: '{element.target}', else: '_self')}">
							<f:if condition="{element.data.tx_t3sbootstrap_header_sectionMenu}">
								<f:then>
									{element.data.tx_t3sbootstrap_header_sectionMenu}
								</f:then>
								<f:else>
									{f:if(condition:'{element.data.header}',then:'{element.data.header}',else:'* No Header for this Link *')}
								</f:else>
							</f:if>
						</a>
					</li>
				</f:if>
			</f:for>
		</ul>
	</div>
</f:if>
</html>
