<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
 xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers/" data-namespace-typo3-fluid="true">
<f:variable name="imgObjects" value="" />
<f:variable name="margin" value="0" />
<f:if condition="{record.assets}">
	<f:variable name="imgObjects" value="<t3sb:backend.infoImage uid='{record.uid}' />" />
	<f:variable name="margin" value="2" />
</f:if>
<f:variable name="imagewidth" value="auto" />
<f:if condition="{record.imagewidth}">
	<f:variable name="imagewidth" value="{record.imagewidth}px" />
</f:if>

<f:format.crop maxCharacters="100" respectWordBoundaries="true" respectHtml="false">
{record.bodytext -> f:format.raw()}
</f:format.crop>

<div class="d-flex">
	
	<f:if condition="{imgObjects.0}">
		<f:for each="{imgObjects}" as="image" iteration="fooIterator">
			<be:thumbnail image="{image}" width="{f:if(condition: fooIterator.isLast, then: '45', else: 64)}" height="45" class="img-thumbnail img-fluid mb-1 me-1" style="min-width: {f:if(condition: fooIterator.isLast, then: '45', else: 64)}px; max-height: 45px;" />
		</f:for>
	</f:if>

	<div class="flex-grow-1 ms-{margin} flex-info-content">
		<strong>Image width:</strong> {imagewidth}
		<f:if condition="{record.tx_t3sbootstrap_flexform.maxwidth}">
			|	<strong>Card width == image width:</strong> true
		</f:if>
		<f:if condition="{record.tx_t3sbootstrap_image_ratio}">
			| <strong>Image Ratio:</strong> {record.tx_t3sbootstrap_image_ratio}
		</f:if>
		
		<f:if condition="{record.tx_t3sbootstrap_flexform.effect} == 'one'">
			| <strong>Card Hover Effect:</strong> zoom and border
		</f:if>
		<f:if condition="{record.tx_t3sbootstrap_flexform.multiImage.enable}">
			|	<strong>Profile Card:</strong> true
		</f:if>
		<f:if condition="{record.tx_t3sbootstrap_flexform.horizontal}">
				<strong>Horizontal card:</strong> true
		</f:if>
		<f:if condition="{record.tx_t3sbootstrap_flexform.flipcard}">
			|	<strong>Flipcard Card:</strong> true
		</f:if>
		
		<f:if condition="{record.tx_t3sbootstrap_flexform.button.enable}">
			|	<strong>Button with header_link:</strong> true
		</f:if>

	</div>
</div>

</html>
