<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
 xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers/" data-namespace-typo3-fluid="true">
<f:variable name="imgObject" value="" />
<f:variable name="margin" value="0" />
<f:if condition="{record.assets}">
	<f:variable name="imgObject" value="<t3sb:backend.infoImage uid='{record.uid}' />" />
	<f:variable name="margin" value="2" />
</f:if>
<div class="d-flex">
	<f:if condition="{imgObject.0}">
		<div class="flex-shrink-0">
			<be:thumbnail image="{imgObject.0}" width="64" height="45" class="img-thumbnail" />
		</div>
	</f:if>
	<div class="flex-grow-1 ms-{margin} flex-info-content">
		<strong>{f:translate(key: 'LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang_be.xlf:flexform.t3sbs_carousel.captionVAlign')}:</strong> {record.tx_t3sbootstrap_flexform.captionVAlign}
		<f:if condition="{record.tx_t3sbootstrap_flexform.bgOverlay}">
			|	<strong>{f:translate(key: 'LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang_be.xlf:flexform.t3sbs_carousel.bgOverlay')}:</strong> {record.tx_t3sbootstrap_flexform.bgOverlay}
		</f:if>
	</div>
</div>
</html>
