<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="page">
<f:comment>
	<div class="jumbotron p-3 mb-3 border-bottom">
		<h1 class="text-{settings.config.pageTitlealign}">{data.title}</h1>
	</div>
</f:comment>
	<f:if condition="{data.content_from_pid}">
		<f:then>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.content_from_pid}', colPos: '0'}"/>
		</f:then>
		<f:else>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
		</f:else>
	</f:if>
</div>
</html>
