<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment> - ACCORDION - </f:comment>
<div class="panel-group accordion" id="accordion">
	<f:for each="{tcaColumns}" as="columns" key="colkey">
		<f:render section="Card" arguments="{_all}" />
	</f:for>
</div>
</html>


<f:section name="Card">
<div class="panel panel-default">
	<div class="panel-heading" style="background-color:#6a10f3; color:#fff;">
		<h3 class="panel-title" id="header-{colkey}">
			<a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-{colkey}" aria-expanded="false" aria-controls="collapse-{colkey}">
				<span class="caret" style="border-top: .25rem dashed #fff; margin-top: -3px;"></span>
				<f:translate key="LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang_be.xlf:accordion_{colkey}" />
			</a>
		</h3>
	</div>
	<div id="collapse-{colkey}" class="accordion-collapse collapse" aria-labelledby="header-{colkey}" data-bs-parent="#accordion">
		<div class="panel-body">
			<div class="panel-group accordion accordion-sub" id="accordion-{colkey}" style="box-shadow: none;">
				<f:for each="{columns}" as="field" key="ckey">
					<f:if condition="{ckey} == 'navbar_dark_mode' && {settings.cdn.bootstrap} < '5.3'">
						<f:then>
							<f:comment>
								Hide Option 'navbar_dark_mode' if Bootstrap is not > v5.2.99
							</f:comment>
						</f:then>
						<f:else>
							<f:if condition="{field.noSub}">
								<f:then>
									<f:comment> - FORM FIELD - </f:comment>
									<f:if condition="{isSiteroot}">
										<f:then>
											<f:render partial="Config/{field.type}" arguments="{_all}" />
										</f:then>
										<f:else>
											<f:if condition="{field.property} != 'contentOnlyOnRootpage'">
												<f:render partial="Config/{field.type}" arguments="{_all}" />
											</f:if>
										</f:else>
									</f:if>
								</f:then>
								<f:else>
									<f:comment> - NESTED ACCORDION - </f:comment>
									<f:render section="Nested" arguments="{_all}" />
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:for>
			</div>
		</div>
	</div>
</div>
</f:section>

<f:section name="ExtraTop">
</f:section>

<f:section name="ExtraSubTop">
<f:if condition="{ckey} == '3-5'">
	<f:comment> - Navbar -> Shrinking Navbar - </f:comment>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-9" style="margin-bottom: 2rem;">
			<h3 class="help-block" style="margin-top: 0;">Shrinking Navbar on scrolling</h3>
			<p class="small pb-0"><span style="font-weight: 700;">Set "Placement" to "fixed-top"</span>.
				<br />Set "Navbar height" must be adapted for body-padding.
				<br />Does not work with "Background color" only with "Color schemes".
				<br />Transparency: "Color schemes" = "bg-color" and "Background color" & "Navbar height" without entry.
			</p>
		</div>
	</div>
</f:if>
</f:section>

<f:section name="Nested">
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #17a2b8; border-color: #17a2b8; color: #fff;">
		<h3 class="panel-title" id="header-{ckey}">
			<a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-{ckey}" aria-expanded="false" aria-controls="collapse-{ckey}">
				<span class="caret" style="border-top: .25rem dashed #fff; margin-top: -3px;"></span>
				<f:translate key="LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang_be.xlf:accordion_{ckey}" />
			</a>
		</h3>
	</div>
	<div id="collapse-{ckey}" class="accordion-collapse collapse" aria-labelledby="header-{ckey}" data-bs-parent="#accordion-{colkey}">
		<div class="panel-body">
			<f:render section="ExtraSubTop" arguments="{ckey: ckey}" />
			<f:for each="{field}" as="field">
				<f:comment> - FORM FIELD - </f:comment>
				<f:render partial="Config/{field.type}" arguments="{_all}" />
			</f:for>
		</div>
	</div>
</div>
</f:section>
