<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-group row">
	<div class="col-sm-3">
		{field.label}
		<f:if condition="{compare.{field.property}}">
			<br/><small class="text-primary">{compare.{field.property}}</small>
		</f:if>
		<f:if condition="{override.{field.property}}">
			<br/><small class="text-danger"> ({override.{field.property}})</small>
		</f:if>
	</div>
	<div class="col-sm-9">
		<div class="form-check">
			<f:form.checkbox id="{field.property}" class="form-check-input" property="{field.property}" value="1" />
			<f:if condition="{field.config.items.1.0}">
				<label class="form-check-label" for="{field.property}" style="display: inline; font-weight: normal;">
					{field.config.items.1.0 -> f:format.raw()}
				</label>
			</f:if>
			<f:if condition="{field.info}">
				<br /><small class="form-text text-muted">{field.info -> f:format.raw()}</small>
			</f:if>
			<small class="small-code d-block mt-1"><code>bootstrap.config.{field.property}</code></small>
		</div>
	</div>
</div>
</html>
