<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-group row">
	<label for="sidebarEnable" class="col-sm-3 control-label">
		Enable in left Sidebar
		<f:if condition="{compare.sidebarEnable}">
			<br/><small class="text-primary">{compare.sidebarEnable}</small>
		</f:if>
		<f:if condition="{override.sidebarEnable}">
			{f:if(condition:'{compare.sidebarEnable}',then:'',else:'<br/>')}<small class="text-danger"> ({override.sidebarEnable})</small>
		</f:if>
	</label>
	<div class="col-sm-9">
		<f:form.select
			id="sidebarEnable"
			class="form-control"
			property="sidebarEnable"
			options="{sidebarLeftOptions}"
			optionValueField="key"
			optionLabelField="value"
		/>
		<small class="form-text text-muted">if available</small>
	</div>
</div>
<div class="form-group row">
	<label for="sidebarRightenable" class="col-sm-3 control-label">
		Enable in right Sidebar
		<f:if condition="{compare.sidebarRightenable}">
			<br/><small class="text-primary">{compare.sidebarRightenable}</small>
		</f:if>
		<f:if condition="{override.sidebarRightenable}">
			{f:if(condition:'{compare.sidebarRightenable}',then:'',else:'<br/>')}<small class="text-danger"> ({override.sidebarRightenable})</small>
		</f:if>
	</label>
	<div class="col-sm-9">
		<f:form.select
			id="sidebarRightenable"
			class="form-control"
			property="sidebarRightenable"
			options="{sidebarRightOptions}"
			optionValueField="key"
			optionLabelField="value"
		/>
		<small class="form-text text-muted">if available</small>
	</div>
</div>

<div class="form-group">
	<label for="sidebarEntrylevel" class="col-sm-3 control-label">
		Submenu Entry Level
		<f:if condition="{compare.sidebarEntrylevel}">
			<br/><small class="text-primary">{f:if(condition:"{compare.sidebarEntrylevel} == 'not set'",then:'0',else:'{compare.sidebarEntrylevel}')}</small>
		</f:if>
		<f:if condition="{override.sidebarEntrylevel}">
			{f:if(condition:'{compare.sidebarEntrylevel}',then:'',else:'<br/>')}<small class="text-danger"> ({override.sidebarEntrylevel})</small>
		</f:if>
	</label>
	<div class="col-sm-9">
		<f:form.textfield
			id="sidebarEntrylevel"
			class="form-control"
			property="sidebarEntrylevel"
		/>
		<small class="form-text text-muted">99 = Submenu of current page</small>
	</div>
</div>

<div class="form-group">
	<label for="sidebarLevels" class="col-sm-3 control-label">
		Submenu Levels
		<f:if condition="{compare.sidebarLevels}">
			<br/><small class="text-primary">{compare.sidebarLevels}</small>
		</f:if>
		<f:if condition="{override.sidebarLevels}">
			{f:if(condition:'{compare.sidebarLevels}',then:'',else:'<br/>')}<small class="text-danger"> ({override.sidebarLevels})</small>
		</f:if>
	</label>
	<div class="col-sm-9">
		<f:form.textfield
			id="sidebarLevels"
			class="form-control"
			property="sidebarLevels"
		/>
	</div>
</div>
<div class="form-group">
	<label for="sidebarExcludeuiduist" class="col-sm-3 control-label">
		Submenu Exclude
		<f:if condition="{compare.sidebarExcludeuiduist}">
			<br/><small class="text-primary">{compare.sidebarExcludeuiduist}</small>
		</f:if>
		<f:if condition="{override.sidebarExcludeuiduist}">
			{f:if(condition:'{compare.sidebarExcludeuiduist}',then:'',else:'<br/>')}<small class="text-danger"> ({override.sidebarExcludeuiduist})</small>
		</f:if>
	</label>
	<div class="col-sm-9">
		<f:form.textfield
			id="sidebarExcludeuiduist"
			class="form-control"
			property="sidebarExcludeuiduist"
		/>
		<small class="form-text text-muted">Comma-separated list of page ids.</small>
	</div>
</div>
<div class="form-group row">
	<label for="sidebarIncludespacer" class="col-sm-3 control-label">
		Submenu Spacer
		<f:if condition="{compare.sidebarIncludespacer}">
			<br/><small class="text-primary">{compare.sidebarIncludespacer}</small>
		</f:if>
		<f:if condition="{override.sidebarIncludespacer}">
			{f:if(condition:'{compare.sidebarIncludespacer}',then:'',else:'<br/>')}<small class="text-danger"> ({override.sidebarIncludespacer})</small>
		</f:if>
	</label>
	<div class="col-sm-9">
		<div class="checkbox">
			 <label>
				<f:form.checkbox id="sidebarIncludespacer" class="form-check-input" property="sidebarIncludespacer" value="1" />
				<small class="form-text text-muted">Enable spacer</small>
			 </label>
		</div>
	</div>
</div>
</html>