<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header}">
	{containerPre -> f:format.raw()}
		<f:render partial="Header/All" arguments="{_all}" />
	{containerPost -> f:format.raw()}
</f:if>
<f:if condition="{videoId} && {youtube}">
	<f:then>
		<f:asset.script identifier="bgytvideo_function">
// YouTube Background embed - BackgroundWrapper.html
function t3sbBackgroundVideo(div, params) {
	var iframe = document.createElement('iframe');
	iframe.setAttribute('src','https://www.youtube-nocookie.com/embed/' + div.dataset.id + params);
	iframe.setAttribute('allowfullscreen', '1');
	iframe.setAttribute('allow','accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture');
	div.replaceWith(iframe);
}
		</f:asset.script>
		<f:comment>	Youtube video </f:comment>
		<f:asset.script identifier="vanilla_ytvideo-{data.uid}">
	// YouTube background embeds (v{data.uid}) - BackgroundWrapper.html
	var playerElement = document.getElementById('v{data.uid}');
	var videoId = '{videoId}';
	var div = document.createElement('div');
	var params = '{youtubeParams-> f:format.raw()}';
	div.setAttribute('data-id', videoId);
	playerElement.appendChild(div);
	t3sbBackgroundVideo(div, params);
		</f:asset.script>
		<f:asset.css identifier="ytvideo-{data.uid}">
#v{data.uid} iframe {
	top: {ytVideo.ytshift}% !important;
}
		</f:asset.css>
			<div class="position-relative overflow-hidden youtube-wrapper card rounded-0 border-0"
				 style="height:{f:if(condition:'{ytVideo.bgHeight}',then:'{ytVideo.bgHeight}',else:'300')}px;{controlStyle}">
				<div id="v{data.uid}" class="video-container"></div>
				<f:render section="SectionInner" arguments="{_all}" />
			</div>
	</f:then>
	<f:else>
		<f:link.typolink parameter="{celink}" class="ce-link">
		<f:if condition="{bgImage}">
			<f:then>
				<f:if condition="{enableAutoheight} && {addHeight} ">
					<f:then>
						<f:asset.script identifier="autoheight_function">
// Autoheight for backgroundimages - BackgroundWrapper.html
function t3sbAddHeight(TYPO3, objKey) {
	var overlay = document.getElementById(objKey).nextElementSibling;
	if (overlay) {
		var totalHeight = 0;
		var addHeight = 0;
		var claimsArray = Object.entries(TYPO3.settings.ADDHEIGHT);
		claimsArray.forEach(function (item, index) {
			addHeight = parseInt(item[1]);
		});
		if ( overlay.querySelector('.container') ) {
			Array.from(overlay.getElementsByClassName('container')[0].children).forEach( bgwContent => {
				totalHeight = bgwContent.clientHeight;
			});
			totalHeight = totalHeight + addHeight;
			document.getElementById(objKey).style.minHeight = totalHeight+'px';
		} else {
			totalHeight = overlay.children[0].children[0].clientHeight;
			totalHeight = totalHeight + addHeight;
			document.getElementById(objKey).style.minHeight = totalHeight+'px';
		}
	}
	var mobile = false;
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		mobile = true;
	}
	if (mobile){
		document.querySelectorAll('.background-image').forEach( bgimg => {
			bgimg.classList.remove('background-fixed');
		});
	}
}
						</f:asset.script>
						<f:asset.script identifier="vanilla_enableAutoheight">
	// Autoheight for backgroundimages - BackgroundWrapper.html
	document.querySelectorAll('.enableAutoheight').forEach(function(ah) {
		t3sbAddHeight(TYPO3, ah.id);
	});
						</f:asset.script>
						<f:comment>	BG-Image : overlay and autoheight </f:comment>
						<section id="s-{data.uid}" class="card rounded-0 border-0">
							<f:comment>	background-image by css </f:comment>
							<div id="bg-img-{data.uid}" class="{imageRaster}background-image enableAutoheight{class}"{styleAttr -> f:format.raw()}>
							</div>
							<f:render section="SectionOverlayInner" arguments="{_all}" />
						</section>
					</f:then>
					<f:else>
					<f:comment>	BG-Image : default </f:comment>
						<f:comment>	background-image by css </f:comment>
						<section id="s{data.uid}"
							 class="{imageRaster}background-image{class}"{styleAttr -> f:format.raw()}>
							<f:render section="SectionInner" arguments="{_all}" />
						</section>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
			<f:comment>	No BG-Image </f:comment>
				<f:if condition="{videoId} && {vimeo}">
					<f:then>
					<f:comment>	Vimeo video </f:comment>
						<div class="position-relative overflow-hidden vimeo-wrapper" id="wrapper-vimeo-{data.uid}"
							 style="height:{f:if(condition:'{ytVideo.bgHeight}',then:'{ytVideo.bgHeight}',else:'300')}px;{controlStyle}">
							<div id="v{data.uid}" class="video-container">
								<iframe id="vimeo-{data.uid}" src="https://player.vimeo.com/video/{videoId}?byline=0&title=0{vimeoParams-> f:format.raw()}"
									  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
							<f:render section="SectionInner" arguments="{_all}" />
						</div>
					</f:then>
					<f:else>
						<f:if condition="{file}">
							<f:then>
								<section id="s-{data.uid}" class="local-video card inline-flex rounded-0 border-0{f:if(condition: '{localVideo.class}', then: ' {localVideo.class}')}">
									<f:if condition="{file.type} == 4">
										<f:then>
											<f:comment>	Local video </f:comment>
											<f:asset.script identifier="localVideo_function">
// Local video - BackgroundWrapper.html
function t3sbLocalVideo(uid, overlay, autoplay, loop, mute, controls, videoElement) {
	videoElement.muted = mute;
	videoElement.loop = loop;
	if (autoplay) {
		videoElement.pause();
		videoElement.currentTime = 0;
		videoElement.play();
		videoElement.setAttribute('playsinline', '');
		if (controls) {
			videoElement.setAttribute('controls', '');
		} else {
			videoElement.removeAttribute('controls');
		}
	}
}
											</f:asset.script>
											<f:asset.script identifier="vanilla_localVideo-{data.uid}">
	// Local video-{data.uid} - BackgroundWrapper.html
	var videoWrapper = document.querySelector('#video-{file.uid}'),
		videoElement = document.querySelector('#video-{file.uid} video'),
		marginTop = (videoElement.clientHeight - videoWrapper.clientHeight)/2,
		shift = {shift},
		id = {data.uid},
		el = document.getElementById('s-'+id),
		winWidth = window.innerWidth;
	if ( winWidth < 768 ) {
		el.classList.remove('ratio');
	} else {
		el.classList.add('ratio');
	}

	window.addEventListener('resize', function(event) {
		resizedViewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", ""));
			if ( resizedViewportWidth < 768 ) {
				el.classList.remove('ratio');
			} else {
				el.classList.add('ratio');
			}
	}, true);

	videoElement.style.marginTop = '-'+marginTop-shift+'px';
	t3sbLocalVideo({data.uid}, {localVideo.overlayChild}, {localVideo.autoplay}, {localVideo.loop}, {localVideo.mute}, {localVideo.controls}, videoElement );
											</f:asset.script>
											<f:asset.css identifier="lovalvideocss-{data.uid}">
{localVideo.inlineCSS -> f:format.raw()}{ratioCalcCss -> f:format.raw()}
											</f:asset.css>
											<f:render partial="Media/Type/Video" arguments="{file: file, dimensions: dimensions,
											 class: class, border: border, addmedia: addmedia, position: position}" />
										</f:then>
										<f:else>
										<f:comment> Real image </f:comment>
											<figure style="margin: 0 auto;">
												<f:if condition="{settings.lazyLoadBgWrapperImage}">
													<f:then>
														<t3sb:media 
															file="{file}" 
															width="{ingWidth}" 
															height="auto"
															class="img-fluid orig-img{f:if(condition: '{file.properties.tx_t3sbootstrap_lazy_load}
															 && {settings.lazyLoad} == 2 || {settings.lazyLoad} == 1', then: ' lazy')}"
															breakpoints="{
																0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
																1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
																2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
															}" 
															picturefill="{settings.picturefill}"
															lazyload="{settings.lazyLoad}" 
															ratio="0" 
															style="{style}" 
															shift="{file.properties.tx_t3sbootstrap_shift_vertical}" 
															hshift="{file.properties.tx_t3sbootstrap_shift_horizontal}" />
													</f:then>
													<f:else>
														<t3sb:media 
															file="{file}" 
															width="{ingWidth}" 
															height="auto"
															class="img-fluid orig-img"
															breakpoints="{
																0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
																1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
																2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
															}" 
															picturefill="{settings.picturefill}" 
															lazyload="0" 
															ratio="0" 
															style="{style}" 
															shift="{file.properties.tx_t3sbootstrap_shift_vertical}" 
															hshift="{file.properties.tx_t3sbootstrap_shift_horizontal}" />
													</f:else>
												</f:if>
											</figure>
										</f:else>
									</f:if>
									<f:render section="SectionOverlayInner" arguments="{_all}" />
								</section>
							</f:then>
							<f:else>
								<f:comment> No media </f:comment>
								<section id="s-{data.uid}"{classAttr -> f:format.raw()}{styleAttr -> f:format.raw()}>
									<f:if condition="{col_273.0}">
										{containerPre -> f:format.raw()}
											<f:for each="{col_273}" as="row">
												{row.renderedContent -> f:format.raw()}
											</f:for>
										{containerPost -> f:format.raw()}
									</f:if>
								</section>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
		</f:link.typolink>
	</f:else>
</f:if>
</html>


<f:section name="SectionInner">
	<f:if condition="{col_273 -> f:count()}">
		<div class="d-flex" style="z-index: 1;">
			<div class="col{f:if(condition: '{contentPosition}',then: ' {contentPosition}')}">
				{containerPre -> f:format.raw()}
					<f:for each="{col_273}" as="row">
						{row.renderedContent -> f:format.raw()}
					</f:for>
				{containerPost -> f:format.raw()}
			</div>
		</div>
	</f:if>
</f:section>

<f:section name="SectionOverlayInner">
<f:if condition="{col_273 -> f:count()}">
	<div class="card-img-overlay d-flex px-0{overlayClass}"{f:if(condition: '{bgColorOverlay}',then: ' style="{bgColorOverlay}"')}>
		<f:if condition="{container}">
			<f:then>
				<div class="{container} d-flex">
					<div class="card-text w-100{alignItem}">
						<f:for each="{col_273}" as="row">
							{row.renderedContent -> f:format.raw()}
						</f:for>
					</div>
				</div>
			</f:then>
			<f:else>
				<div class="card-text w-100{alignItem}">
					<f:for each="{col_273}" as="row">
						{row.renderedContent -> f:format.raw()}
					</f:for>
				</div>
			</f:else>
		</f:if>
	</div>
</f:if>
</f:section>
