<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header}">
	{containerPre -> f:format.raw()}
		<f:render partial="Header/All" arguments="{_all}" />
	{containerPost -> f:format.raw()}
</f:if>
<f:if condition="{youtubeProperty}">
	<f:then>
		<f:comment>	jQuery - Youtube video </f:comment>
		<f:if condition="{settings.cdn}">
			<f:then>
				<f:asset.css identifier="ytPlayercss"
					href="https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/{settings.ytPlayerVersion}/css/jquery.mb.YTPlayer.min.css" />
				<f:asset.script identifier="ytPlayerjs"
					src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/{settings.ytPlayerVersion}/jquery.mb.YTPlayer.min.js" />
			</f:then>
			<f:else>
				<f:asset.css identifier="ytPlayercss" href="fileadmin/T3SB/Resources/Public/CSS/jquery.mb.YTPlayer.min.css" />
				<f:asset.script identifier="owljs" src="fileadmin/T3SB/Resources/Public/JS/jquery.mb.YTPlayer.min.js" />
			</f:else>
		</f:if>
		<f:asset.script identifier="background-video-{data.uid}">
// jQuery Youtube Background-video-{data.uid} - BackgroundWrapper.html
$(document).ready(function(){
	jQuery('.player{data.uid}').YTPlayer({ realfullscreen: true, onReady: function(event) {
		$('body').addClass('video-loaded');
	}});{ytVideo.addFilters}
	jQuery('.player{data.uid}').css('padding-bottom', '{ytVideo.pH}%')
});
		</f:asset.script>
		<div id="control{data.uid}"></div>
		<div id="dom{data.uid}" class="player{data.uid} player{f:if(condition: '{class}',then: ' {class}')}"
				  data-property="{youtubeProperty}"{f:if(condition: '{style}',then: ' style="{style}"')}>
			<f:if condition="{contentCenter}">
				<f:then>
					<f:render section="SectionInnerCenter" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render section="SectionInner" arguments="{_all}" />
				</f:else>
			</f:if>
		 </div>
	</f:then>
	<f:else>
		<f:link.typolink parameter="{celink}" class="ce-link">
		<f:if condition="{bgImage}">
			<f:then>
				<f:if condition="{enableAutoheight} && {addHeight} ">
					<f:then>
						<f:asset.script identifier="vanilla_enableAutoheight">
	// Autoheight for backgroundimages - BackgroundWrapper.html
	document.querySelectorAll('.enableAutoheight').forEach(function(ah) {
		t3sbAddHeight(TYPO3, ah.id);
	});
						</f:asset.script>
						<f:comment>	BG-Image : overlay and autoheight </f:comment>
						<section id="s-{data.uid}" class="card rounded-0 border-0">
							<f:comment>	background-image by css </f:comment>
							<div id="bg-img-{data.uid}"
								 class="{imageRaster}background-image enableAutoheight{f:if(condition: '{class}', then: ' {class}')}"
									  style="{f:if(condition: '{style}', then: ' {style}')}">
							</div>
							<f:render section="SectionOverlayInner" arguments="{_all}" />
						</section>
					</f:then>
					<f:else>
					<f:comment>	BG-Image : default </f:comment>
						<f:comment>	background-image by css </f:comment>
						<section id="s{data.uid}"
							 class="{imageRaster}background-image{f:if(condition: '{class}', then: ' {class}')}"
								  style="{f:if(condition: '{style}', then: ' {style}')}">
							<f:render section="SectionInner" arguments="{_all}" />
						</section>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
			<f:comment>	No BG-Image </f:comment>
				<f:if condition="{vimeo}">
					<f:then>
					<f:comment>	Vimeo video </f:comment>
						<div class="alert alert-danger my-5" role="alert">
							Vimeo videos are currently not supported!
						</div>
					</f:then>
					<f:else>
						<f:if condition="{file}">
							<f:then>
								<section id="s-{data.uid}" class="local-video card inline-flex rounded-0 border-0{f:if(condition: '{class}', then: ' {class}')}">
									<f:if condition="{file.type} == 4">
										<f:then>
											<f:comment>	Local video </f:comment>
											<f:asset.script identifier="vanilla_localVideo-{data.uid}">
	// Local video-{data.uid} - BackgroundWrapper.html
	let videoWrapper = document.querySelector('#video-{file.uid}'),
		videoElement = document.querySelector('#video-{file.uid} video'),
		marginTop = (videoElement.clientHeight - videoWrapper.clientHeight) / 2;
		shift = {shift};
	videoElement.style.marginTop = '-'+marginTop-shift+'px';
	t3sbLocalVideo({data.uid}, {localVideo.overlayChild}, {localVideo.autoplay}, {localVideo.controls}, {localVideo.loop}, {localVideo.mute}, videoElement );
											</f:asset.script>
<f:asset.css identifier="lovalvideocss-{data.uid}">
#s-{data.uid}{width:100%;height:calc(100vw*{aspectRatio});position: relative}
</f:asset.css>
											<f:render partial="Media/Type/Video" arguments="{file: file, aspectRatio: aspectRatio,
											 dimensions: dimensions, class: class, border: border, addmedia: addmedia, position: position}" />
										</f:then>
										<f:else>
										<f:comment> Real image </f:comment>
											<figure>
												<f:if condition="{settings.lazyLoadBgWrapperImage}">
													<f:then>
														<t3sb:media file="{file}" width="2560" height="auto"
															class="img-fluid orig-img{f:if(condition: '{file.properties.tx_t3sbootstrap_lazy_load} && {settings.lazyLoad} == 2
															 || {settings.lazyLoad} == 1', then: ' lazy')}"
															breakpoints="{
															0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
															1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
															2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '575'}
														}" picturefill="{settings.picturefill}" lazyload="{settings.lazyLoad}" ratio="0" style="{style}" />
													</f:then>
													<f:else>
														<t3sb:media file="{file}" width="2560" height="auto"
															class="img-fluid orig-img"
															breakpoints="{
															0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
															1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
															2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
														}" picturefill="{settings.picturefill}" lazyload="0" ratio="0" style="{style}" />
													</f:else>
												</f:if>
											</figure>
										</f:else>
									</f:if>
									<f:render section="SectionOverlayInner" arguments="{_all}" />
								</section>
							</f:then>
							<f:else>
								<f:comment> No media </f:comment>
								<section id="s-{data.uid}"{f:if(condition: '{class}',then: ' class="{class}"')}{f:if(condition: '{style}',then: ' style="{style}"')}>
									<f:if condition="{col_273.0}">
										{containerPre -> f:format.raw()}
											<f:for each="{col_273}" as="row">
												{row.renderedContent -> f:format.raw()}
											</f:for>
										{containerPost -> f:format.raw()}
									</f:if>
								</section>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
		</f:link.typolink>
	</f:else>
</f:if>
</html>

<f:section name="SectionInner">
	<f:if condition="{col_273.0}">
		{containerPre -> f:format.raw()}
			<f:for each="{col_273}" as="row">
				{row.renderedContent -> f:format.raw()}
			</f:for>
		{containerPost -> f:format.raw()}
	</f:if>
</f:section>

<f:section name="SectionInnerCenter">
	<f:if condition="{col_273.0}">
		<div class="v-row align-items-center h-100 w-100 absolute">
			<div class="col">
				{containerPre -> f:format.raw()}
					<f:for each="{col_273}" as="row">
						{row.renderedContent -> f:format.raw()}
					</f:for>
				{containerPost -> f:format.raw()}
			</div>
		</div>
	</f:if>
</f:section>

<f:section name="SectionOverlayInner">
<f:if condition="{col_273.0}">
	<div class="card-img-overlay d-flex{overlayClass}"{f:if(condition: '{bgColorOverlay}',then: ' style="{bgColorOverlay}"')}>
		<f:if condition="{container}">
			<f:then>
				<div class="{container} d-flex">
					<div class="card-text w-100{alignItem}">
						<f:for each="{col_273}" as="row">
							{row.renderedContent -> f:format.raw()}
						</f:for>
					</div>
				</div>
			</f:then>
			<f:else>
				<div class="card-text w-100{alignItem}">
					<f:for each="{col_273}" as="row">
						{row.renderedContent -> f:format.raw()}
					</f:for>
				</div>
			</f:else>
		</f:if>
	</div>
</f:if>
</f:section>
