<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{card_wrapper_layout} == 'slider'">
	<f:render partial="Page/Assets" arguments="{carousel:'true'}" />
<f:asset.script identifier="cardslider">
	// Card wrapper layout = slider - CarouselWrapper.html
	var cardSlider = $( ".carousel.card-slider" );
	if ( cardSlider.length ) {
		$( cardSlider ).each(function( index ) {
			var sliderId = "#" + $( this ).attr("id");
			$(sliderId).on("slide.bs.carousel", function(e) {
				var $e = $(e.relatedTarget);
				var idx = $e.index();
				var itemsPerSlide = {cards_per_slide};
				var totalItems = $(sliderId + " .carousel-item").length;
				if (idx >= totalItems - (itemsPerSlide - 1)) {
					var it = itemsPerSlide - (totalItems - idx);
					for (var i = 0; i < it; i++) {
						if (e.direction == "left") {
							$(sliderId + " .carousel-item")
							.eq(i)
							.appendTo(sliderId + " .carousel-inner");
						} else {
							$(sliderId + ".carousel-item")
							.eq(0)
							.appendTo(sliderId + " .carousel-inner");
						}
					}
				}
			});
		});
	}
</f:asset.script>
<f:asset.css identifier="cardsliderCss">
@media (min-width: 768px) {

	<f:variable name="cssClass">.card-slider .carousel-inner .active</f:variable>
	<t3sb:loop end="{cards_per_slide}" iteration="i">
		{cssClass}<f:if condition="{cards_per_slide} != {i}">,</f:if><f:variable name="cssClass">{cssClass} + .carousel-item</f:variable>
	</t3sb:loop>
	{
		display: block;
		margin-right: inherit;
	}	

	<f:variable name="cssClass">.card-slider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)</f:variable>
	<t3sb:loop end="{cards_per_slide}" iteration="i">
		{cssClass}<f:if condition="{cards_per_slide} != {i}">,</f:if><f:variable name="cssClass">{cssClass} + .carousel-item</f:variable>
	</t3sb:loop>
	{
		transition: none;
	}
	
	.card-slider .carousel-inner .carousel-item-next,
	.card-slider .carousel-inner .carousel-item-prev {
		position: relative;
		transform: translate3d(0, 0, 0);
	}
	
	.card-slider .carousel-inner .active.carousel-item + <t3sb:loop end="4"> + .carousel-item</t3sb:loop> {
		position: absolute;
		top: 0;
		right: calc(-100% / {cards_per_slide});
		z-index: -1;
		display: block;
		visibility: visible;
	}
	
	/* left or forward direction */
	<f:variable name="cssClass">.card-slider .carousel-item-next.carousel-item-left + .carousel-item</f:variable>
	.active.carousel-item-left + .carousel-item-next.carousel-item-left,
	<t3sb:loop end="{cards_per_slide - 1}" iteration="i">
		{cssClass}<f:if condition="{cards_per_slide} != {i-1}">,</f:if><f:variable name="cssClass">{cssClass} + .carousel-item</f:variable>
	</t3sb:loop>
	{
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	
	/* farthest right hidden item must be absolue position for animations */
	.card-slider .carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	
	/* right or prev direction */
	<f:variable name="cssClass">.card-slider .carousel-item-prev.carousel-item-right + .carousel-item</f:variable>
	.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
	<t3sb:loop end="{cards_per_slide - 1}" iteration="i">
		{cssClass}<f:if condition="{cards_per_slide} != {i-1}">,</f:if><f:variable name="cssClass">{cssClass} + .carousel-item</f:variable>
	</t3sb:loop>
	{
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}	  
</f:asset.css>
</f:if>
<f:if condition="{settings.cardFlipperOnClick}">
<f:asset.script identifier="cardwrapper">
	// Card-flipper rotate on click - CarouselWrapper.html
	$(".card-flipper").addClass("cardflipper").removeClass("card-flipper");
	$(".cardflipper .mainflip .fa-plus-square").on("click", function() {
		$(this).parents(".frontside").css("transform", "rotateY(180deg)");
		$(this).parents(".mainflip").find(".backside").css("transform", "rotateY(0deg)");
		$(this).parents(".mainflip").find(".backside .jsfooter").remove();
		$(this).parents(".mainflip").find(".backside .card-body")
		.after( "<div class='card-footer jsfooter text-center'><i class='fas fa-minus-square fa-2x mx-auto'></i></div>" );
		$(".cardflipper .mainflip .fa-minus-square").on("click", function() {
			$(this).parents(".backside").css("transform", "rotateY(180deg)");
			$(this).parents(".mainflip").find(".frontside").css("transform", "rotateY(0deg)");
		});
	});
</f:asset.script>
</f:if>
<f:if condition="{card_wrapper_layout} == 'slider' || {card_wrapper_layout} == 'flipper'">
	<f:then>
		<div class="card-{card_wrapper_layout}{f:if(condition:'{class}',then:' {class}')}"{f:if(condition: '{style}',then: ' style="{style}"')}{dataAnimate}>
			<f:if condition="{card_wrapper_layout} == 'slider'">
				<f:then>
					<f:render section="Slider" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render section="Flipper" arguments="{_all}" />
				</f:else>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<div class="card-{card_wrapper_layout}{f:if(condition:'{class}',then:' {class}')}"{f:if(condition: '{style}',then: ' style="{style}"')}{dataAnimate}>
			<f:for each="{col_270}" as="card" iteration="cardIterator">
				{card.renderedContent -> f:format.raw()}
			</f:for>
		</div>
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="Slider">
<div id="cs{data.uid}" class="carousel card-slider slide mx-n3" data-ride="carousel">
	<div class="carousel-inner row w-100 mx-auto">
		<f:for each="{col_270}" as="card">
				{card.renderedContent -> f:format.raw()}
		</f:for>
	</div>
	<div class="col-12 lead my-4">
		<a class="btn btn-outline-secondary prev" href="#cs{data.uid}" role="button" data-slide="prev"><i class="fas fa-lg fa-chevron-left"></i></a>
		<a class="btn btn-outline-secondary next" href="#cs{data.uid}" role="button" data-slide="next"><i class="fas fa-lg fa-chevron-right"></i></a>
	</div>
</div>
</f:section>


<f:section name="Flipper">
<div class="row row-eq-height">
	<f:for each="{cards}" as="card" iteration="cardIterator">
		<div class="{flipper.class}">
			<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
				<div class="mainflip">
					<div class="frontside">
						<div class="card">
							<f:if condition="{card.file.0}">
								<f:render section="Image" arguments="{ratio: '{card.ratio}', file: '{card.file.0}', width: '{card.imgwidth}'}" />
							</f:if>
							<div class="card-body{card.header_position}">
								<f:render section="CardTitle" arguments="{_all}" />
								<f:if condition="{cropMaxCharacters}">
									<f:then>
										{card.text.top -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
									</f:then>
									<f:else>
										{card.text.top -> f:format.html()}
									</f:else>
								</f:if>
							</div>
							<div class="card-footer text-center">
								<f:if condition="{card.footer.text}">
									<f:then>
										{card.footer.text -> f:format.raw()}
									</f:then>
									<f:else>
										<i class="fas fa-plus-square fa-2x mx-auto"></i>
									</f:else>
								</f:if>
							</div>
						</div>
					</div>
					<div class="backside">
						<div class="card">
							<f:if condition="{card.file.1}">
								<f:render section="Image" arguments="{ratio: '{card.ratio}', file: '{card.file.1}', width: '{card.imgwidth}'}" />
							</f:if>
							<div class="card-body{card.header_position}">
								<h4 class="card-title my-3">{card.backheader -> f:format.raw()}</h4>
								<f:if condition="{cropMaxCharacters}">
									<f:then>
										{card.text.bottom -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
									</f:then>
									<f:else>
										{card.text.bottom -> f:format.html()}
									</f:else>
								</f:if>
							</div>
							<f:if condition="{card.settings.button.enable} && {card.header_link}">
								<div class="card-footer text-center">
									<f:render section="Button" arguments="{_all}" />
								</div>
							</f:if>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:for>
</div>
</f:section>


<f:section name="Image">
<figure class="image{f:if(condition: file.properties.tx_t3sbootstrap_extra_class, then: ' {file.properties.tx_t3sbootstrap_extra_class}')}">
	<t3sb:media file="{file}"
	 title="{file.title}" alt="{f:if(condition: file.alternative, then: '{file.alternative}', else: 'image-{file.uid}')}"
	 class="card-img-top img-fluid{f:if(condition: '{file.properties.tx_t3sbootstrap_lazy_load} && {settings.lazyLoad} == 2 || {settings.lazyLoad} == 1', then: ' lazy')}{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}"
	 width="{width}"
	 height="auto"
	 breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	 }"
	 picturefill="{settings.picturefill}"
	 lazyload="{settings.lazyLoad}"
	 ratio="{ratio}"
	/>
</figure>
</f:section>

<f:section name="Button">
	<f:link.typolink parameter="{card.header_link}" class="btn btn{f:if(condition:'{card.settings.button.outline}',then: '-outline')}-{card.settings.button.style}{f:if(condition:'{card.settings.button.block}',then: ' btn-block')}">
		<f:if condition="{card.settings.button.text}">
			<f:then>
					{card.settings.button.text -> f:format.raw()}
			</f:then>
			<f:else>
					{f:translate(key: 'LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang.xlf:more')}
			</f:else>
		</f:if>
	</f:link.typolink>
</f:section>

<f:section name="CardTitle">
<f:if condition="{card.header} || {card.subheader}">
	<f:if condition="{card.settings.button.enable} || !{card.header_link}">
	<f:then>
		<f:render section="Title" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:render section="TitleLink" arguments="{_all}" />
	</f:else>
	</f:if>
</f:if>
</f:section>

<f:section name="Title">
	<f:if condition="{card.header} && {card.subheader}">
		<f:then>
		<header{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' class="{card.tx_t3sbootstrap_header_class}"')}>
			<h4 class="card-title">
				{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}</h4>
			<h6 class="card-subtitle text-muted mb-4">{card.subheader -> f:format.raw()}</h6>
		</header>
		</f:then>
		<f:else if="{card.header}">
			<h4 class="card-title mb-3{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' {card.tx_t3sbootstrap_header_class}')}">
				{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}</h4>
		</f:else>
		<f:else if="{card.subheader}">
			<h4 class="card-subtitle text-muted mb-4{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' {card.tx_t3sbootstrap_header_class}')}">
				{card.hFa -> f:format.raw()}{card.subheader -> f:format.raw()}</h4>
		</f:else>
	</f:if>
</f:section>

<f:section name="TitleLink">
	<f:if condition="{card.header} && {card.subheader}">
		<f:then>
		<header{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' class="{card.tx_t3sbootstrap_header_class}"')}>
			<h4 class="card-title">
				<f:link.typolink parameter='{card.header_link}'>{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}</f:link.typolink>
			</h4>
			<h6 class="card-subtitle text-muted mb-4">{card.subheader -> f:format.raw()}</h6>
		</header>
		</f:then>
		<f:else if="{card.header}">
			<h4 class="card-title mb-3{f:if(condition: '{card.tx_t3sbootstrap_header_class}',
				then: ' {card.tx_t3sbootstrap_header_class}')}">
				<f:link.typolink parameter='{card.header_link}'>
					{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}
				</f:link.typolink></h4>
		</f:else>
		<f:else if="{card.subheader}">
			<h4 class="card-subtitle text-muted mb-4{f:if(condition: '{card.tx_t3sbootstrap_header_class}',
				then: ' {card.tx_t3sbootstrap_header_class}')}">
				<f:link.typolink parameter='{card.header_link}'>
					{card.hFa -> f:format.raw()}{card.subheader -> f:format.raw()}
				</f:link.typolink></h4>
		</f:else>
	</f:if>
</f:section>
