<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{col_270 -> f:count()}">
	<f:then>
		<f:render section="Default" arguments="{_all}" />
	</f:then>
	<f:else>
		<div class="alert alert-danger my-3" role="alert">
			Card Wrapper (uid = {data.uid}) has no content!
		</div>
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="Default">
<f:if condition="{settings.cardFlipperOnClick}">
	<f:asset.script identifier="cardwrapperFlipper_function">
// Card-flipper rotate on click - CarouselWrapper.html
function t3sbCardFlipper() {
	document.querySelectorAll('.card-flipper').forEach( cf => {
		cf.classList.add('cardflipper');
		cf.classList.remove('card-flipper');
	});
	document.querySelectorAll('.square-link').forEach( mainflipper => {
		mainflipper.addEventListener('click', function(flipper) {
			var frontside = flipper.currentTarget.parentNode.parentNode.parentNode;
			frontside.style.transform = 'rotateY(180deg)';
			var backside = flipper.currentTarget.parentNode.parentNode.parentNode.parentNode.querySelector('.backside');
			backside.style.transform = 'rotateY(0deg)';
			var cardBody = backside.querySelector('.card-body');
			var el = document.createElement('div');
			el.classList.add('card-footer','jsfooter','text-center');
			el.innerHTML = '<p class="square-backlink"><i class="fa-solid fa-minus-square fa-2x mx-auto"></i></p>';
			insertAfter(cardBody, el);
			backside.querySelector('.square-backlink').addEventListener('click', function(minus) {
				backside.style.transform = 'rotateY(180deg)';
				frontside.style.transform = 'rotateY(0deg)';
				if (backside.querySelector('.fa-minus-square') !== null && backside.querySelector('.fa-minus-square') !== '') {
					if (backside.querySelector('.card-footer').classList.contains('jsfooter')) {
						backside.querySelector('.card-footer').remove();
					}
				}
			});
		});
	});
}

function insertAfter(referenceNode, newNode) {
  referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}
	</f:asset.script>
	<f:asset.script identifier="vanilla_cardwrapper_flipper">
	// Card-flipper rotate on click - CarouselWrapper.html
	t3sbCardFlipper()
	</f:asset.script>
</f:if>
<f:comment> CARD GROUP </f:comment>
<f:if condition="{card_wrapper_layout} == 'group'">
	<div class="card-group gallery{class}"{styleAttr -> f:format.raw()}{dataAnimate}>
		<f:for each="{col_270}" as="card" iteration="cardIterator">
			{card.renderedContent -> f:format.raw()}
		</f:for>
	</div>
</f:if>
<f:comment> GRID CARD (DECK) </f:comment>
<f:if condition="{card_wrapper_layout} == 'deck'">
	<div class="card-deck gallery g-{gutter} row row-cols-1 row-cols-md-{visibleCards}{class}"
		{styleAttr -> f:format.raw()}{dataAnimate}>
		<f:for each="{col_270}" as="card" iteration="cardIterator">
			<div class="col{equalHeight}">
				{card.renderedContent -> f:format.raw()}
			</div>
		</f:for>
	</div>
</f:if>
<f:comment> CARD COLUMNS (MASONRY) </f:comment>
<f:if condition="{card_wrapper_layout} == 'columns'">
	<f:if condition="{settings.cdn}">
		<f:then>
			<f:asset.script identifier="masonry" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/{settings.masonryVersion}/masonry.pkgd.min.js"
			 integrity="{settings.masonryIntegrity}" crossorigin="anonymous" async="async" />
		</f:then>
		<f:else>
			<f:asset.script identifier="masonry" src="fileadmin/T3SB/Resources/Public/JS/masonry.pkgd.min.js"
			 crossorigin="anonymous" async="async" />
		</f:else>
	</f:if>
	<div class="row{class}"
		{styleAttr -> f:format.raw()}{dataAnimate} data-masonry='{"percentPosition": true }'>
		<f:for each="{col_270}" as="card" iteration="cardIterator">
			<div class="{colclass}">
				{card.renderedContent -> f:format.raw()}
			</div>
		</f:for>
	</div>
</f:if>
<f:comment> CARD SLIDER (SWIPER JS) </f:comment>
<f:if condition="{card_wrapper_layout} == 'slider'">
	<f:if condition="{settings.cdn}">
		<f:then>
			<f:asset.css identifier="swipercss" href="https://unpkg.com/swiper@{settings.swiperVersion}/swiper-bundle.min.css" />
			<f:asset.script identifier="swiperjs" src="https://unpkg.com/swiper@{settings.swiperVersion}/swiper-bundle.min.js" />
		</f:then>
		<f:else>
			<f:asset.css identifier="swipercss" href="fileadmin/T3SB/Resources/Public/CSS/swiper-bundle.min.css" />
			<f:asset.script identifier="swiperjs" src="fileadmin/T3SB/Resources/Public/JS/swiper-bundle.min.js" />
		</f:else>
	</f:if>
	<f:asset.css identifier="swipercss-{data.uid}">
#swiper-{data.uid} {
	width: 100%;
	height: auto;
}
#swiper-{data.uid} .card {
	height: 100% !important;
	display: block !important;
}
#swiper-{data.uid} .swiper-button-next,
#swiper-{data.uid} .swiper-button-prev {
	color: white;
	text-shadow: 1px 1px 2px #000,0 0 25px #000,0 0 5px #000;
}
#swiper-{data.uid} .swiper-slide,
#swiper-{data.uid} .swiper-wrapper {
	height: auto !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}
	</f:asset.css>
	<f:asset.script identifier="vanilla_swiperjs-{data.uid}">
	// Card Slider (swiper) - Container/CardWrapper.html
	var spv = {slidesPerView},
		spb = {spaceBetween},
		spg = {slidesPerGroup},
		del = {delay},
		b10 = {breakpoints10},
		b576 = {breakpoints576},
		b768 = {breakpoints768},
		b992 = {breakpoints992},
		lop = {loop},
		uid = {data.uid};
		if(spv === null || spv === '') spv = 1;
	var swiper = new Swiper("#swiper-{data.uid}", {
		slidesPerView: spv,
		spaceBetween: spb,
		slidesPerGroup: spg,
		loop: lop,
		autoplay: {
			delay: del,
		},
		pagination: {
			el: ".swiper-paginate",
			clickable: true,
		},
		navigation: {
			nextEl: '.next-'+uid,
			prevEl: '.prev-'+uid,
		},
		breakpoints: {
			10: {
				slidesPerView: b10,
			},
			576: {
				slidesPerView: b576,
			},
			768: {
				slidesPerView: b768,
			},
			992: {
				slidesPerView: b992,
			},
		},
	});
		<f:if condition="{pagination} && {navigation}">
	var swi = document.getElementById('swiper-{data.uid}'),
		pag = swi.querySelector('.swiper-paginate'),
		next = swi.getElementsByClassName('swiper-button-next'),
		prev = swi.getElementsByClassName('swiper-button-prev'),
		offset = pag.clientHeight - 5;
	next[0].style.top = 'calc(50% - '+offset+'px)';
	prev[0].style.top = 'calc(50% - '+offset+'px)';
		</f:if>
	</f:asset.script>
<div id="swiper-{data.uid}" class="swiper">
	<div class="swiper-wrapper card-{card_wrapper_layout}{class}"{styleAttr -> f:format.raw()}{dataAnimate}>
		<f:for each="{col_270}" as="card" iteration="cardIterator">
			<div class="swiper-slide">
				{card.renderedContent -> f:format.raw()}
			</div>
		</f:for>
	</div>
	<f:if condition="{navigation}">
		<div class="swiper-button-prev prev-{data.uid} d-none d-md-block"></div>
		<div class="swiper-button-next next-{data.uid} d-none d-md-block"></div>
	</f:if>
	<f:if condition="{pagination}">
		<div class="swiper-paginate mt-3 text-center" style="position:inherit"></div>
	</f:if>
</div>
</f:if>
<f:comment> CARD FLIPPER </f:comment>
<f:if condition="{card_wrapper_layout} == 'flipper'">
	<div class="card-{card_wrapper_layout}{class}"{styleAttr -> f:format.raw()}{dataAnimate}>
		<f:render section="Flipper" arguments="{_all}" />
	</div>
</f:if>
</f:section>

<f:section name="Flipper">
<div class="row row-eq-height">
	<f:for each="{cards}" as="card" iteration="cardIterator">
		<div class="{flipper.class}">
			<div class="image-flip h-100" ontouchstart="this.classList.toggle('hover');">
				<div class="mainflip">
					<div class="frontside w-100">
						<div class="card">
							<f:if condition="{card.file -> f:count()}">
								<f:variable name="width" value="{f:if(condition: '{card.imgwidth}', then: '{card.imgwidth}', else: '{flipper.width}')}" />
								<f:render section="Image" arguments="{ratio: '{card.ratio}', file: '{card.file.0}', width: '{width}'}" />
							</f:if>
							<div class="card-body{card.header_position}">
								<f:render section="CardTitle" arguments="{_all}" />
								<f:if condition="{cropMaxCharacters}">
									<f:then>
										{card.bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
									</f:then>
									<f:else>
										{card.bodytext -> f:format.html()}
									</f:else>
								</f:if>
							</div>
							<div class="card-footer text-center">
								<f:if condition="{card.tx_t3sbootstrap_cardfooter}">
									<f:then>
										{card.tx_t3sbootstrap_cardfooter -> f:format.raw()}
									</f:then>
									<f:else>
										<p class="square-link"><i class="fa-solid fa-plus-square fa-2x mx-auto"></i></p>
									</f:else>
								</f:if>
							</div>
						</div>
					</div>
					<div class="backside w-100">
						<div class="card">
							<f:if condition="{card.file.1}">
								<f:render section="Image" arguments="{ratio: '{card.ratio}', file: '{card.file.1}', width: '{card.imgwidth}'}" />
							</f:if>
							<div class="card-body{card.header_position}">
								<h4 class="card-title my-3">{card.backheader -> f:format.raw()}</h4>
								<f:if condition="{cropMaxCharacters}">
									<f:then>
										{card.tx_t3sbootstrap_bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
									</f:then>
									<f:else>
										{card.tx_t3sbootstrap_bodytext -> f:format.html()}
									</f:else>
								</f:if>
							</div>
							<f:if condition="{card.settings.button.enable} && {card.header_link}">
								<div class="card-footer text-center">
									<f:render section="Button" arguments="{_all}" />
								</div>
							</f:if>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:for>
</div>
</f:section>

<f:section name="Image">
<f:variable name="imgClass" value="{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}" />
<figure class="image{f:if(condition: file.properties.tx_t3sbootstrap_extra_class, then: ' {file.properties.tx_t3sbootstrap_extra_class}')}">
	<t3sb:media file="{file}"
	 title="{file.title}" alt="{f:if(condition: file.alternative, then: '{file.alternative}', else: 'image-{file.uid}')}"
	 class="card-img-top img-fluid{f:if(condition: '{file.properties.tx_t3sbootstrap_lazy_load} && {lazyload} == 2 || {lazyload} == 1', then: ' lazy')}{imgClass}"
	 width="{width}"
	 height="auto"
	 breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	 }"
	 picturefill="{settings.picturefill}"
	 lazyload="{lazyload}"
	 ratio="{ratio}"
	 shift="{file.properties.tx_t3sbootstrap_shift_vertical}" 
	 hshift="{file.properties.tx_t3sbootstrap_shift_horizontal}"
	/>
</figure>
</f:section>

<f:section name="Button">
	<f:link.typolink parameter="{card.header_link}" class="btn btn{f:if(condition:'{card.settings.button.outline}',then: '-outline')}-{card.settings.button.style}{f:if(condition:'{card.settings.button.block}',then: ' btn-block')}">
		<f:if condition="{card.settings.button.text}">
			<f:then>
					{card.settings.button.text -> f:format.raw()}
			</f:then>
			<f:else>
					{f:translate(key: 'LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang.xlf:more')}
			</f:else>
		</f:if>
	</f:link.typolink>
</f:section>

<f:section name="CardTitle">
<f:if condition="{card.header} || {card.subheader}">
	<f:if condition="{card.settings.button.enable} || !{card.header_link}">
	<f:then>
		<f:render section="Title" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:render section="TitleLink" arguments="{_all}" />
	</f:else>
	</f:if>
</f:if>
</f:section>

<f:section name="Title">
	<f:if condition="{card.header} && {card.subheader}">
		<f:then>
			<header{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' class="{card.tx_t3sbootstrap_header_class}"')}>
				<h4 class="card-title">
					{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}</h4>
				<h6 class="card-subtitle text-muted mb-4">{card.subheader -> f:format.raw()}</h6>
			</header>
		</f:then>
		<f:else if="{card.header}">
			<h4 class="card-title mb-3{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' {card.tx_t3sbootstrap_header_class}')}">
				{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}</h4>
		</f:else>
		<f:else if="{card.subheader}">
			<h4 class="card-subtitle text-muted mb-4{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' {card.tx_t3sbootstrap_header_class}')}">
				{card.hFa -> f:format.raw()}{card.subheader -> f:format.raw()}</h4>
		</f:else>
	</f:if>
</f:section>

<f:section name="TitleLink">
	<f:if condition="{card.header} && {card.subheader}">
		<f:then>
		<header{f:if(condition: '{card.tx_t3sbootstrap_header_class}',then: ' class="{card.tx_t3sbootstrap_header_class}"')}>
			<h4 class="card-title">
				<f:link.typolink class="{f:if(condition: '{card.celink}', then: 'stretched-link')}"
				parameter='{card.header_link}'>{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}</f:link.typolink>
			</h4>
			<h6 class="card-subtitle text-muted mb-4">{card.subheader -> f:format.raw()}</h6>
		</header>
		</f:then>
		<f:else if="{card.header}">
			<h4 class="card-title mb-3{f:if(condition: '{card.tx_t3sbootstrap_header_class}',
				then: ' {card.tx_t3sbootstrap_header_class}')}">
				<f:link.typolink class="{f:if(condition: '{card.celink}', then: 'stretched-link')}" parameter='{card.header_link}'>
					{card.hFa -> f:format.raw()}{card.header -> f:format.raw()}
				</f:link.typolink></h4>
		</f:else>
		<f:else if="{card.subheader}">
			<h4 class="card-subtitle text-muted mb-4{f:if(condition: '{card.tx_t3sbootstrap_header_class}',
				then: ' {card.tx_t3sbootstrap_header_class}')}">
				<f:link.typolink class="{f:if(condition: '{card.celink}', then: 'stretched-link')}" parameter='{card.header_link}'>
					{card.hFa -> f:format.raw()}{card.subheader -> f:format.raw()}
				</f:link.typolink></h4>
		</f:else>
	</f:if>
</f:section>
