<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>no header here</f:comment>
</f:section>
<f:section name="Main">
<f:if condition="{col_276 -> f:count()}">
	<f:if condition="{owlCarousel}">
		<f:then>
			<f:comment> OWL SLIDER </f:comment>
			<f:render partial="Page/Assets" arguments="{_all}" />
			<f:render partial="Header/All" arguments="{_all}" />
			<f:if condition="{owlStyle} == 1">
				<f:then>
					<div id="owl-{data.uid}" class="owl-carousel owl-theme owlStyle-one">
						<f:for each="{col_276}" as="row">
							{row.renderedContent -> f:format.raw()}
						</f:for>
					</div>
				</f:then>
				<f:else>
					<div id="owl-{data.uid}" class="owl-carousel owlStyle-two">
						<f:for each="{col_276}" as="row">
							{row.renderedContent -> f:format.raw()}
						</f:for>
					</div>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{multislider}">
				<f:then>
					<f:comment> MULTISLIDER </f:comment>
					<f:asset.css identifier="multisliderCss"
						href="EXT:t3sbootstrap/Resources/Public/Contrib/Multislider/multislider.css" />
					<f:asset.script identifier="multisliderJs"
						src="EXT:t3sbootstrap/Resources/Public/Contrib/Multislider/multislider.min.js" />
					<f:asset.css identifier="multisliderCss-{data.uid}">
{cssBlock}
					</f:asset.css>
					<f:asset.script identifier="multisliderJs-{data.uid}">
	$('#multiSlider-{data.uid}').multislider({jsOptions});
					</f:asset.script>
					<div{f:if(condition: '{class}',then: ' class="{class}"')}{dataAnimate}>
						<f:render partial="Header/All" arguments="{_all}" />
						<div id="multiSlider-{data.uid}" class="blogSlider{f:if(condition: continuous, then: ' continuous')}">
								<div class="MS-content gallery">
									<f:for each="{col_276}" as="row">
										{row.renderedContent -> f:format.raw()}
									</f:for>
								</div>
							<f:if condition="!{continuous}">
								<div class="MS-controls">
									<button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
									<button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
								</div>
							</f:if>
						</div>
					</div>
				</f:then>
				<f:else>
					<f:comment> BOOTSTRAP CAROUSEL </f:comment>
					<f:if condition="{containsVideo}">
						<f:asset.script identifier="vanilla_localvideojs-{data.uid}">
	// Local video in Carousel-Container (pause/play) - CarouselContainer.html
	var videoCarousel = document.getElementById('carousel-{data.uid}');
	t3sbLocalCarouselVideo(videoCarousel);
						</f:asset.script>
					</f:if>
					<f:render partial="Page/Assets" arguments="{carousel:'true'}" />
					<div class="carousel-container{f:if(condition: '{class}',then: ' {class}')}{f:if(condition: '{dataAnimate}',then: ' {dataAnimate}')}">
						<f:render partial="Header/All" arguments="{_all}" />
						<div id="carousel-{data.uid}" class="carousel slide mx-auto{carouselFade}" data-bs-ride="carousel"
							 data-bs-interval="{f:if(condition: interval,then: '{interval}', else:'5000')}"{f:if(condition:'{maxWidth}',then:' style="max-width: {maxWidth};"')}>
							<f:if condition="{col_276 -> f:count()} > 1">
								<div class="carousel-indicators d-none d-md-block"{f:if(condition:'{thumbnails}',then:' style="bottom: -100px;"')}>
									<f:for each="{col_276}" as="colSlide" iteration="iterator">
										<f:if condition="{thumbnails} && {carouselSlides.{colSlide.uid}}">
											<f:then>
												<button type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide-to="{iterator.index}"
												 style="width:100px; height:56px; background-color:var(--bs-gray-400)" class="me-2{f:if(condition:'{iterator.isFirst}',then:' active')}" aria-label="Slide {iterator.cycle}">
													<f:image class="img-fluid d-block" image="{carouselSlides.{colSlide.uid}.0}" width="100" height="60c" />
												</button>
											</f:then>
											<f:else>
												<button type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide-to="{iterator.index}"{f:if(condition:'{iterator.isFirst}',then:' class="active"')} aria-label="Slide {iterator.cycle}"></button>
											</f:else>
										</f:if>
									</f:for>
								</div>
							</f:if>
							<div class="carousel-inner gallery">
								<f:for each="{col_276}" as="row">
									{row.renderedContent -> f:format.raw()}
								</f:for>
							</div>
							<f:if condition="{col_276 -> f:count()} > 1">
								<button class="carousel-control-prev" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">zurück</span>
								</button>
									<button class="carousel-control-next" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">weiter</span>
								</button>
							</f:if>
						</div>
					</div>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:if>
</f:section>
</html>
