<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:switch expression="{appearance}">
	<f:case value="accordion">
		<f:render section="Accordion" arguments="{_all}" />
	</f:case>
	<f:case value="button">
		<f:render section="Button" arguments="{_all}" />
	</f:case>
</f:switch>
</html>

<f:section name="Accordion">
<div class="accordion-item"{f:if(condition:'{style}',then:' style="{style}"')}>
	<h2 class="accordion-header mt-0" id="heading-{data.uid}">
		<button id="c{data.uid}" class="accordion-button{collapsed}{f:if(condition: '{media.originalFile}', then: ' align-self-center')}{f:if(condition: '{header.class}',then: ' {header.class}')}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{data.uid}" aria-expanded="{expanded}" aria-controls="collapse-{data.uid}">
			{f:if(condition: '{data.tx_t3sbootstrap_header_fontawesome}', then: '<i class="{data.tx_t3sbootstrap_header_fontawesome} me-1"></i> ')}
			{f:if(condition: '{data.header}', then: '{data.header -> f:format.raw()}', else: 'Accordion-{data.uid}')}
			<f:if condition="{data.subheader}">
				<br />
				<small class="m-0 d-block mt-1{f:if(condition: '{settings.subheaderColor}', then: ' text-{settings.subheaderColor}')}">
					{data.subheader -> f:format.raw()}
				</small>
			</f:if>
		</button>
    </h2>
    <div id="collapse-{data.uid}" class="accordion-collapse collapse{show}" aria-labelledby="heading-{data.uid}" data-bs-parent="#accordion-{data.tx_container_parent}">
      <div class="accordion-body">
			<f:if condition="{collapsibleByPid}">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{collapsibleByPid}', colPos: '0'}"/>
			</f:if>
			<f:for each="{col_278}" as="row">
				{row.renderedContent -> f:format.raw()}
			</f:for>
      </div>
    </div>
</div>
</f:section>

<f:section name="Button">
<p class="collapse-button{f:if(condition: '{data.header_position}',then: ' text-{data.header_position}')}{f:if(condition: '{data.tx_t3sbootstrap_header_class}',then: ' {data.tx_t3sbootstrap_header_class}')}{f:if(condition:'{class}',then:' {class}')}">
	<a class="btn btn-{buttonstyle}" data-bs-toggle="collapse" href="#collapse-{data.uid}" aria-expanded="{expanded}" aria-controls="collapse-{data.uid}">
		{f:if(condition: '{data.tx_t3sbootstrap_header_fontawesome}', then: '<i class="{data.tx_t3sbootstrap_header_fontawesome} me-1"></i> ')}
		{f:if(condition: '{data.header}', then: '{data.header -> f:format.raw()}', else: 'Accordion-{data.uid}')}
	</a>
</p>
<div id="collapse-{data.uid}" class="collapse{show}">
	<div class="card card-body">
		<f:if condition="{collapsibleByPid}">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{collapsibleByPid}', colPos: '0'}"/>
		</f:if>
		<f:for each="{col_278}" as="row">
			{row.renderedContent -> f:format.raw()}
		</f:for>
	</div>
</div>
</f:section>
