<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>no header here</f:comment>
</f:section>
<f:section name="Main">
<f:if condition="{appearance} == 'accordion'">
	<f:then>
		<f:render section="Accordion" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:render section="Button" arguments="{_all}" />
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="Accordion">
<div id="c{data.uid}" class="accordion-item">
	<h2 class="accordion-header" id="heading-{data.uid}">
		<button class="accordion-button{collapsed}{f:if(condition: '{media.originalFile}', then: ' p-0 accordion-img')}{f:if(condition: '{header.hClass}',then: ' {header.hClass}')}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{data.uid}" aria-expanded="{expanded}" aria-controls="collapse-{data.uid}">
			<f:if condition="{media}">
				<t3sb:media
					file="{media}"
					title=""
					alt=""
					class="float-left me-3"
					width="60c"
					height="60c"
					breakpoints=""
					imgtag="true"
					picturefill="0"
					lazyload="{settings.lazyLoad}"
					ratio="{ratio}"
					shift="{media.properties.tx_t3sbootstrap_shift_vertical}" 
					hshift="{media.properties.tx_t3sbootstrap_shift_horizontal}"
				/>
			</f:if>
			{headerFontawesome -> f:format.raw()}
			{f:if(condition: '{data.header}', then: '{data.header -> f:format.raw()}', else: 'Accordion-{data.uid}')}
			<f:if condition="{data.subheader}">
				<small class="ms-3">
					{data.subheader -> f:format.raw()}
				</small>
			</f:if>
		</button>
	</h2>
	<div id="collapse-{data.uid}" class="accordion-collapse collapse{show}{class}"
		 aria-labelledby="heading-{data.uid}"{f:if(condition:'{alwaysOpen}',else:' data-bs-parent="#accordion-{data.tx_container_parent}"')}{styleAttr -> f:format.raw()}>
		<div class="accordion-body">
			<f:if condition="{collapsibleByPid}">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{collapsibleByPid}', colPos: '0'}"/>
			</f:if>
			<f:for each="{col_278}" as="row">
				{row.renderedContent -> f:format.raw()}
			</f:for>
		</div>
	</div>
</div>
</f:section>

<f:section name="Button">
<div id="collapse-{data.uid}" class="collapse{show}">
	<div class="card card-body{class}"{styleAttr -> f:format.raw()}>
		<f:if condition="{collapsibleByPid}">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{collapsibleByPid}', colPos: '0'}"/>
		</f:if>
		<f:for each="{col_278}" as="row">
			{row.renderedContent -> f:format.raw()}
		</f:for>
	</div>
</div>
</f:section>
