<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>No header for modal</f:comment>
</f:section>
<f:section name="Main">
<f:if condition="{col_279 -> f:count()}">
	<f:then>
		<f:render section="Default" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:if condition="{containerError}">
			<div class="alert alert-danger my-3" role="alert">
				Modal (uid = {data.uid}) has no content!
			</div>
		</f:if>
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="Default">
<f:if condition="{modal.button}">
	<f:then>
		<f:if condition="{modal.fixedButton}">
			<f:then>
				<f:render partial="Page/Assets" arguments="{fixedbutton:'true'}" />
				<div class="d-none {modal.fixedClass}">
					<button type="button" class="btn btn-{modal.style}{class}" data-bs-toggle="modal" data-bs-target="#modal-{data.uid}">
						<t3sb:icon iconfig="{data.header_icon}" /> {modal.buttonText -> f:format.raw()}
					</button>
				</div>
			</f:then>
			<f:else>
				<div class="d-grid">
					<button type="button" class="btn btn-{modal.style}{class}" data-bs-toggle="modal" data-bs-target="#modal-{data.uid}">
						<t3sb:icon iconfig="{data.header_icon}" />{modal.buttonText -> f:format.raw()}
					</button>
				</div>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<a class="modal-link{class}" data-bs-toggle="modal" data-bs-target="#modal-{data.uid}" style="cursor:pointer;">
			<t3sb:icon iconfig="{data.header_icon}" />{modal.buttonText -> f:format.raw()}</a>
	</f:else>
</f:if>

<div class="modal{f:if(condition:'{modal.animation}',then:' fade')}" id="modal-{data.uid}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog {modal.size}">
		<div class="modal-content">
			<div class="modal-header">
				<f:render partial="Header/All" arguments="{_all}" />
				<button type="button" class="btn-close{f:if(condition:'{modal.whiteclosebutton}',then:' btn-close-white')}"
				 data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body{f:if(condition:'{data.tx_t3sbootstrap_container}',then:' {data.tx_t3sbootstrap_container}')}">
			<f:for each="{col_279}" as="row">
				{row.renderedContent -> f:format.raw()}
			</f:for>
			</div>

			<f:if condition="{modal.prevModal} || {modal.nextModal}">
				<div class="modal-footer d-block">
					<f:if condition="{modal.prevModal}">
						<button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal" data-bs-toggle="modal"
						 id="toModal-{modal.prevModal}" data-bs-target="#modal-{modal.prevModal}" aria-label="Prev">
							Previous Modal
						</button>
					</f:if>
					<f:if condition="{modal.nextModal}">
						<button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal" data-bs-toggle="modal"
						 id="toModal-{modal.nextModal}" data-bs-target="#modal-{modal.nextModal}" aria-label="Prev">
							Next Modal
						</button>
					</f:if>
				</div>
			</f:if>

<f:comment>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
			</div>
</f:comment>
		</div>
	</div>
</div>
</f:section>
