<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.cdn}">
	<f:then>
		<f:asset.script identifier="parallaxJs" src="https://cdn.jsdelivr.net/npm/parallax-vanilla@{settings.parallaxVanillaVersion}/dist/parallax-vanilla.min.js" />
	</f:then>
	<f:else>
		<f:asset.script identifier="parallaxJs" src="fileadmin/T3SB/Resources/Public/JS/parallax-vanilla.min.js" />
	</f:else>
</f:if>
<f:asset.css identifier="parallaxCss" href="EXT:t3sbootstrap/Resources/Public/Contrib/ParallaxVanilla/parallax-vanilla.css" />
<f:asset.script identifier="vanilla_parallaxJs">
	// Parallax - ParallaxWrapper.html
	t3sbParallax({addHeight});
</f:asset.script>

<f:if condition="{video}">
	<f:then>
		<div class="container"><div class="alert alert-danger my-5" role="alert">Videos are not supported</div></div>
	</f:then>
	<f:else>
		<f:if condition="{parallaxImage}">
			<f:then>
				<f:comment>	background-image url is set by CSS (inline) </f:comment>
				<section id="c{data.uid}" pv-height="1px" class="pv-container{f:if(condition: '{class}', then: ' {class}')}">
					<div id="s{data.uid}" class='pv-block parallax bgImageSize background-image' pv-speed="{speedFactor}" pv-mediapath="{parallaxImage}"></div>
					<f:render section="OverlayInner" arguments="{_all}" />
				</section>
			</f:then>
			<f:else>
				<div class="alert alert-danger" role="alert">No background-image is loaded!</div>
			</f:else>
		</f:if>
	</f:else>
</f:if>
</html>


<f:section name="OverlayInner">
<f:if condition="{col_274.0}">
	<div class="text-wrapper">
		<div class="pv-block{overlayClass}"{f:if(condition: '{bgColorOverlay}',then: ' style="{bgColorOverlay}"')} pv-mediatype="none">
			<f:if condition="{container}">
				<f:then>
					<div class="{container}">
						<div class="parallax-text w-100">
							<f:for each="{col_274}" as="row">
								{row.renderedContent -> f:format.raw()}
							</f:for>
						</div>
					</div>
				</f:then>
				<f:else>
					<div class="parallax-text w-100">
						<f:for each="{col_274}" as="row">
							{row.renderedContent -> f:format.raw()}
						</f:for>
					</div>
				</f:else>
			</f:if>
		</div>
	</div>
</f:if>
</f:section>
