<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
</f:section>
<f:section name="Main">
<f:if condition="{col_280 -> f:count()}">
	<f:then>
		<f:render section="Default" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:if condition="{containerError}">
			<div class="alert alert-danger my-3" role="alert">
				Tab Container (uid = {data.uid}) has no content!
			</div>
		</f:if>
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="Default">
<f:asset.script identifier="tabs_function">
// Tabs - Templates/Container/TabContainer.html
function t3sbTabs(fixedNavbar, navbarHeight) {
	if ( window.location.hash ) {
		var idArr = window.location.hash.split('#c');
		var targetElement = document.getElementById('tab-'+idArr[1]);
		if (targetElement !== null && targetElement !== '') {
			var tabTrigger = new bootstrap.Tab(targetElement);
			tabTrigger.show();
			var offsetSize = targetElement.clientHeight;
			if ( fixedNavbar ) {
				offsetSize += navbarHeight;
			}
			var scrollTo = Math.round(t3sbOffsetTop(targetElement)-offsetSize);
			window.scroll({ top: scrollTo, behavior: 'smooth' });
		}
	} else {
		var tabs = document.querySelectorAll('.nav.tabcontainer');
		if ( tabs.length ) {
			tabs.forEach( tabcontainer => {
				if (tabcontainer.id) {
					var firstTabEl = document.querySelector('#'+tabcontainer.id+' li:first-child button');
					var firstTab = new bootstrap.Tab(document.getElementById(firstTabEl.id));
					firstTab.show();
				}
			});
		}
	}
}
</f:asset.script>
<f:asset.script identifier="vanilla_tabs">
	// Tabs - TabContainer.html
	var tabs = document.querySelectorAll('.nav.nav-tabs, .nav.nav-pills');
	if ( tabs.length ) {
		t3sbTabs(fixedNavbar, navbarHeight);
	}
</f:asset.script>
<f:variable name="currentUid" value="{f:if(condition: '{data._LOCALIZED_UID}', then: '{data._LOCALIZED_UID}', else: '{data.uid}')}" />
<f:if condition="{class} || {style}">
	<div{classAttr -> f:format.raw()}{styleAttr -> f:format.raw()}{dataAnimate}{f:if(condition: animationSettings, then: '{animationSettings -> f:format.raw()}')}>
</f:if>
	<f:render partial="Header/All" arguments="{_all}" />
	<f:switch expression="{tab.displayType}">
		<f:case value="pills">
			<f:render section="Pills" arguments="{_all}" />
		</f:case>
		<f:case value="verticalpills">
			<f:render section="Verticalpills" arguments="{_all}" />
		</f:case>
		<f:defaultCase>
			<f:render section="Tabs" arguments="{_all}" />
		</f:defaultCase>
	</f:switch>
<f:if condition="{class} || {style}">
	</div>
</f:if>
</f:section>

<f:section name="Tabs">
<ul id="tabContainer-{currentUid}" class="nav nav-tabs tabcontainer mb-3{tab.fill}" role="tablist">
	<f:for each="{col_280}" as="tab">
		<li class="nav-item" role="presentation">
			<button id="tab-{tab.uid}" class="nav-link" data-bs-target="#tab-content-{tab.uid}"
				 data-bs-toggle="tab" role="tab" aria-controls="tab-content-{tab.uid}" aria-selected="false">
				{tab.header -> f:format.raw()}
			</button>
		</li>
	</f:for>
</ul>
<f:render section="Content" arguments="{_all}" />
</f:section>

<f:section name="Pills">
<ul class="nav nav-pills tabcontainer mb-3{tab.fill}" id="tabContainer-{currentUid}" role="tablist">
	<f:for each="{col_280}" as="tab">
		<li class="nav-item" role="presentation">
			<button id="tab-{tab.uid}" class="nav-link" data-bs-target="#tab-content-{tab.uid}"
				 data-bs-toggle="pill" role="tab" aria-controls="tab-content-{tab.uid}" aria-selected="false">
				{tab.header -> f:format.raw()}
			</button>
		</li>
	</f:for>
</ul>
<f:render section="Content" arguments="{_all}" />
</f:section>

<f:section name="Verticalpills">
<div class="row">
	<div class="col-{pill.asideWidth}">
		<ul id="tabContainer-{currentUid}" class="nav flex-column nav-pills tabcontainer" role="tablist" aria-orientation="vertical">
			<f:for each="{col_280}" as="tab">
				<li class="nav-item" role="presentation">
					<button id="tab-{tab.uid}" class="nav-link" data-bs-target="#tab-content-{tab.uid}"
						 data-bs-toggle="pill" role="tab" aria-controls="tab-content-{tab.uid}" aria-selected="false">
						{tab.header -> f:format.raw()}
					</button>
				</li>
			</f:for>
		</ul>
	</div>
	<div class="col-{pill.mainWidth}">
		<f:render section="Content" arguments="{_all}" />
	</div>
</div>
</f:section>

<f:section name="Content">
<div id="tabContent-{currentUid}" class="tab-content">
	<f:for each="{col_280}" as="row">
		{row.renderedContent -> f:format.raw()}
	</f:for>
</div>
</f:section>
