<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
</f:section>
<f:section name="Main">
<f:if condition="{col_231} || {col_232} || {col_233}">
	<f:then>
		<f:if condition="{extraWrapperClass}">
			<f:then>
				<div class="{extraWrapperClass}">
					<f:render section="Default" arguments="{_all}" />
				</div>
			</f:then>
			<f:else>
				<f:render section="Default" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<div class="alert alert-danger my-3" role="alert">
			Three Columns (uid = {data.uid}) has no content!
		</div>
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="Default">
	<div class="row{gutters}{class}"{styleAttr -> f:format.raw()}>
		<f:if condition="{data.header} || {data.subheader} || {data.date}">
			<div class="col-12 w-100">
				<f:render partial="Header/All" arguments="{_all}" />
			</div>
		</f:if>
		<div class="{columnOne}">
			<f:if condition="{col_231}">
				<f:for each="{col_231}" as="child">
					{child.renderedContent -> f:format.raw()}
				</f:for>
			</f:if>
		</div>
		<div class="{columnTwo}">
			<f:if condition="{col_232}">
				<f:for each="{col_232}" as="child">
					{child.renderedContent -> f:format.raw()}
				</f:for>
			</f:if>
		</div>
		<div class="{columnThree}">
			<f:if condition="{col_233}">
				<f:for each="{col_233}" as="child">
					{child.renderedContent -> f:format.raw()}
				</f:for>
			</f:if>
		</div>
	</div>
</f:section>
