<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
</f:section>
<f:section name="Main">
	<div class="row{f:if(condition: '{class}',then: ' {class}')}"{f:if(condition: '{style}',then: ' style="{style}"')}{dataAnimate}>
		<f:if condition="{data.header} || {data.subheader} || {data.date}">
			<div class="col-12">
				<f:render partial="Header/All" arguments="{_all}" />
			</div>
		</f:if>
		<div class="{columnOne}">
			<f:if condition="{col_231}">
				   <f:for each="{col_231}" as="child">
					<f:cObject typoscriptObjectPath="lib.contentByUid" data="{child.uid}" />
				   </f:for>
			</f:if>
		</div>
		<div class="{columnTwo}">
			<f:if condition="{col_232}">
				   <f:for each="{col_232}" as="child">
					<f:cObject typoscriptObjectPath="lib.contentByUid" data="{child.uid}" />
				   </f:for>
			</f:if>
		</div>
		<div class="{columnThree}">
			<f:if condition="{col_233}">
				   <f:for each="{col_233}" as="child">
					<f:cObject typoscriptObjectPath="lib.contentByUid" data="{child.uid}" />
				   </f:for>
			</f:if>
		</div>
	</div>
</f:section>
</html>
