.owlStyle-one .item {
	position: relative;
	color: #fff;
}
.owlStyle-one .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.owlStyle-one .item .cover {
	padding: 75px 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
/*
	background: rgba(0, 0, 0, 0.4);
*/
	display: flex;
	align-items: center;
}
.owlStyle-one .item .cover .header-content {
	position: relative;
	padding: 56px;
	overflow: hidden;
}

.owlStyle-one .owl-item.active h1,
.owlStyle-one .owl-item.active h2 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	color: #fff;
	animation-fill-mode: both;
	animation-name: fadeInDown;
	animation-delay: 0.3s;
}
.owlStyle-one .owl-item.active h3 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	color: #fff;
	margin-bottom: 0;
	animation-fill-mode: both;
	animation-name: fadeInRight;
	animation-delay: 0.3s;
}
.owlStyle-one .owl-item.active h4,
.owlStyle-one .owl-item.active h5,
.owlStyle-one .owl-item.active p {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	color: #fff;
	margin-bottom: 0;
	animation-fill-mode: both;
	animation-name: fadeInUp;
	animation-delay: 0.3s;
}
.owlStyle-one .owl-item.active .line {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInLeft;
	animation-delay: 0.3s;
}
.owlStyle-one .owl-nav .owl-prev {
	position: absolute;
	left: 15px;
	top: 43%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	background: rgba(0, 0, 0, 0.5) !important;
	width: 40px;
	cursor: pointer;
	height: 40px;
	position: absolute;
	display: block;
	z-index: 1000;
	border-radius: 0;
}
.owlStyle-one .owl-nav .owl-prev span {
	font-size: 1.6875rem;
	color: #fff;
}
.owlStyle-one .owl-nav .owl-prev:focus {
	outline: 0;
}
.owlStyle-one .owl-nav .owl-prev:hover {
	background: #000 !important;
}
.owlStyle-one .owl-nav .owl-next {
	position: absolute;
	right: 15px;
	top: 43%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	background: rgba(0, 0, 0, 0.5) !important;
	width: 40px;
	cursor: pointer;
	height: 40px;
	position: absolute;
	display: block;
	z-index: 1000;
	border-radius: 0;
}
.owlStyle-one .owl-nav .owl-next span {
	font-size: 1.6875rem;
	color: #fff;
}
.owlStyle-one .owl-nav .owl-next:focus {
	outline: 0;
}
.owlStyle-one .owl-nav .owl-next:hover {
	background: #000 !important;
}
.owlStyle-one:hover .owl-prev {
	left: 0px;
	opacity: 1;
}
.owlStyle-one:hover .owl-next {
	right: 0px;
	opacity: 1;
}


.owlStyle-one .header-content h1,
.owlStyle-one .header-content h2,
.owlStyle-one .header-content h3,
.owlStyle-one .header-content h4,
.owlStyle-one .header-content h5 {
	margin-top: 0;
}




@media (min-width: 992px) {
	.owlStyle-one .item .cover .header-content .line {
		content: "";
		display: inline-block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		border: 9px solid #fff;
		-webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
		clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
	}
}