.static {
	position: static;
}

.owl-dots {
	padding-bottom: 2rem;	
}

.owl-carousel .owl-slide {
	position: relative;
/*
	height: 100vh;
*/
	height: 400px;
	background-color: lightgray;
}



.owl-carousel .owl-item .owl-slide-title,
.owl-carousel .owl-item .owl-slide-subtitle {
    transform: translateX(20px);
    opacity: 1;
    visibility: hidden;
    transition: all 0.05s;
}

.owl-carousel .owl-item.active .owl-slide-title,
.owl-carousel .owl-item.active .owl-slide-subtitle {
	transform: none;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}




.owl-carousel .owl-item.active .owl-slide-title {
	animation-name: fadeInDown;
	animation-delay: 0.3s;
}

.owl-carousel .owl-item.active .owl-slide-subtitle {
	animation-name: fadeInUp;
	animation-delay: 0.4s;
}



.owl-carousel .owl-nav {
	position: absolute;
}

.owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-nav [class*="owl-"]:focus {
	outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
	background: transparent;
	border: 1px solid var(--bs-dark);
	transition: all 0.2s ease;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
	background: var(--bs-dark);
}

.owl-carousel .owl-nav {
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	margin: 0;
}

.owl-carousel .owl-nav svg {
	opacity: 0.3;
	transition: opacity 0.3s;
}

.owl-carousel .owl-nav button:hover svg {
	opacity: 1;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
	background: transparent;
}


@media screen and (max-width: 575px) {
	.owl-carousel .owl-nav {
		top: 5%;
	}
	.owl-carousel .owl-nav svg {
		width: 24px;
		height: 24px;
	}
	.owl-carousel .owl-slide {
		height: 100vh;
	}
}