
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-size: .7rem;
	color:#000;

}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.carousel .carousel-item:first-child {
	opacity: 1;
	display: block;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
	display: none;
}


.tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.nav-tabs {
	display: none;
}

.tab-content {
	margin-top: 4rem;
}

.jumbotron {
	background-color: transparent !important;
}

a,p a,h1 a,h2 a,h3 a,h4 a,h5 a {
	font-weight: bold;
	color:#000;
}

.display-1, h1 {
	font-size: 2.5rem;
}
.display-2, h2 {
	font-size: 1.6rem;
}
.display-3, h3 {
	font-size: .8rem;
}
.display-4, h4 {
	font-size: 1rem;
}
.display-5, h5 {
	font-size: .8rem;
}

#footer,
figcaption h2,
figcaption h3,
figcaption h4,
figcaption h5 {
	font-size: .8rem;
}


@page {
    size: A4;


    margin: 10mm;

}


@media print {
	
	html, body {
		width: 210mm;
		height: 297mm;
	}

	body {
	    background-color: #FFF;
    margin: 0;
    padding: 0 !important;

    }

	.page,
	.container {

margin: 0 !important;
    padding: 0 !important;
    
		width: 210mm;
		min-height: 297mm;


	    border: none;
	    border-radius: none;

	    box-shadow: none;
	    background: none;
	}

	.container,
	.row, .gallery .row,
	.container > div {
		width: 100% !important;
		max-width: 190mm !important;	
		margin: 0 !important;
		padding: 0 !important;
	}

	.table-responsive {
		display: inherit;
		width: 190mm !important;
		overflow-x: visible;
	}

	figure {
		float: left;
		text-align: left;
		margin-left: 0 !important;
		padding-left: 0 !important;
		width: 100% !important;	
		max-width: 190mm !important;
	}



	
}



/* set URL after links

@media print {

	a[href]:after {
		background-color: inherit;
		color: #666;
		content: " (https://domain.tld" attr(href) ")";
		font-style: italic;
	}


	a.email-link[href]:after, table a.email-link[href]:after,
	a.external-link[href]:after, table a.external-link[href]:after,
	a.external-link-new-window[href]:after, table a.external-link-new-window[href]:after {
		content: " (" attr(href) ")";
	}

}

*/

