<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>no header here</f:comment>
</f:section>
<f:section name="Main">
<f:if condition="{data.tx_gridelements_view_children}">
<f:if condition="{multislider}">
	<f:then>
		<div{f:if(condition: '{class}',then: ' class="{class}"')}{dataAnimate}>
			<f:render partial="Header/All" arguments="{_all}" />
			<div id="multiSlider-{data.uid}" class="blogSlider{f:if(condition: continuous, then: ' continuous')}">
				   <div class="MS-content gallery">
					{data.tx_gridelements_view_column_0 -> f:format.raw()}
				   </div>
				<f:if condition="!{continuous}">
					<div class="MS-controls">
						<button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
						<button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
					</div>
				</f:if>
			</div>
		</div>
	</f:then>
	<f:else>
		<div{f:if(condition: '{class}',then: ' class="{class}"')}{dataAnimate}>
			<f:render partial="Header/All" arguments="{_all}" />
			<div id="carousel-{data.uid}" class="carousel slide mx-auto{carouselFade}" data-ride="carousel"
				 data-interval="{f:if(condition: interval,then: '{interval}', else:'5000')}"{f:if(condition:'{maxWidth}',then:' style="max-width: {maxWidth};"')}>
				<f:if condition="{data.tx_gridelements_children} > 1">
					<ol class="carousel-indicators d-none d-md-block">
						<f:for each="{data.tx_gridelements_view_children}" as="carousel-indicators" iteration="iteration-indicators">
							<li data-target="#carousel-{data.uid}" data-slide-to="{iteration-indicators.index}"
							{f:if(condition:'{iteration-indicators.isFirst}',then:' class="active"')}></li>
						</f:for>
					</ol>
				</f:if>
				<div class="carousel-inner gallery">
					{data.tx_gridelements_view_column_0 -> f:format.raw()}
				</div>
				<f:if condition="{data.tx_gridelements_children} > 1">
					<a class="carousel-control-prev" href="#carousel-{data.uid}" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-{data.uid}" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</f:if>
			</div>
		</div>
	</f:else>
</f:if>
</f:if>
</f:section>
</html>
