<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="ListgroupWrapper" />
<f:section name="Main">
<div class="list-group{f:if(condition: '{class}',then: ' {class}')}">
<f:for each="{data.tx_gridelements_view_children}" as="child">
	<f:if condition="{child.header_link} && {child.tx_t3sbootstrap_header_celink}">
		<f:then>
			<f:link.typolink parameter="{child.header_link}" class="list-group-item list-group-item-action" title="{child.header -> f:format.raw()}">
				<f:render section="Child" arguments="{_all}" />
			</f:link.typolink>
		</f:then>
		<f:else>
			<div class="list-group-item list-group-item-action">
				<f:render section="Child" arguments="{_all}" />
			</div>
		</f:else>
	</f:if>
</f:for>
</div>
</f:section>
</html>


<f:section name="Child">
	<div class="media d-flex w-100 justify-content-between">
		<f:format.raw>{data.tx_gridelements_view_child_{child.uid}}</f:format.raw>
	</div>
</f:section>

