<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	 xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:asset.css identifier="flipCard-{data.uid}">
#c{data.uid}.flip-card:hover .flip-card-inner {transform: rotateY({card.rotateY});}#c{data.uid} .flip-card-back {transform: rotateY({card.rotateY});}
</f:asset.css>
<f:asset.script identifier="cardwrapper_function">
// Flip Card rotate on hover - Card.html
function t3sbflipCard(viewportWidth) {
	document.querySelectorAll('.flip-card').forEach( f => {
		var width = f.parentElement.clientWidth - 30,
			height = width,
			r = width / height;
		f.style.width = width+'px';
		f.style.height = width+'px';
		var front = f.querySelectorAll('.flip-card-front')[0];
		var back = f.querySelectorAll('.flip-card-back')[0];
		front.style.width = width+'px';
		front.style.height = width+'px';
		back.style.width = width+'px';
		back.style.height = width+'px';
	});
}
</f:asset.script>
<f:asset.script identifier="vanilla_cardwrapper">
	// Flip Card rotate on hover - Card.html
	t3sbflipCard(viewportWidth);
	window.addEventListener('resize', function(event) {
		resizedViewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", ""));
		t3sbflipCard(resizedViewportWidth);
	}, true);
</f:asset.script>
<div class="flip-card-inner">
	<div class="flip-card-front position-absolute">
		<f:if condition="{files -> f:count()}">
			<f:render section="Image" arguments="{ratio: '{data.tx_t3sbootstrap_image_ratio}', file: '{files.0}', width: '{gallery.width}', height: '{gallery.height}'}" />
		</f:if>
		<f:if condition="{data.tx_t3sbootstrap_bodytext}">
		<div class="align-items-center card-img-overlay d-flex border-0 bg-transparent">
			<div class="card-text text-white text-center w-100">
				{data.tx_t3sbootstrap_bodytext -> f:format.html()}
			</div>
		</div>
		</f:if>
	</div>
	<div class="flip-card-back position-absolute d-flex{f:if(condition: files.0.properties.tx_t3sbootstrap_extra_imgclass, then: ' {files.0.properties.tx_t3sbootstrap_extra_imgclass}')}{f:if(condition: backclass, then: ' {backclass}')}"{f:if(condition: backstyle, then: ' style="background-color: {backstyle}"')}>
		<f:if condition="{data.bodytext}">
			<f:then>
				<div class="card-body align-self-center">
					<div class="card-text">
						<f:if condition="({data.header} || {data.subheader}) ">
							<f:render partial="Header/All" arguments="{_all}"/>
						</f:if>
						{data.bodytext -> f:format.html()}
					</div>
				</div>
			</f:then>
			<f:else>
				<f:if condition="{files.1}">
					<f:render section="Image" arguments="{ratio: '{data.tx_t3sbootstrap_image_ratio}', file: '{files.1}', width: '{gallery.width}', height: '{gallery.height}'}" />
				</f:if>
			</f:else>
		</f:if>
	</div>
</div>
</html>


<f:section name="Image">
<f:variable name="lazyload" value="{settings.lazyLoad}" />
<f:variable name="imgClass" value="{f:if(condition: file.properties.tx_t3sbootstrap_extra_imgclass, then: ' {file.properties.tx_t3sbootstrap_extra_imgclass}')}" />

<figure class="image{f:if(condition: file.properties.tx_t3sbootstrap_extra_class, then: ' {file.properties.tx_t3sbootstrap_extra_class}')}">
	<t3sb:media file="{file}"
	 title="{file.title}" alt="{f:if(condition: file.alternative, then: '{file.alternative}', else: 'image-{file.uid}')}"
	 class="card-img-top img-fluid{f:if(condition: '{file.properties.tx_t3sbootstrap_lazy_load} && {lazyload} == 2 || {lazyload} == 1', then: ' lazy')}{imgClass}"
	 width="{width}"
	 height="{height}"
	 breakpoints="{
		0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '{settings.srcsetDesktop}'},
		1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '{settings.srcsetTablet}'},
		2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '{settings.srcsetMobile}'}
	 }"
	 picturefill="{settings.picturefill}"
	 lazyload="{lazyload}"
	 ratio="{ratio}"
	/>
</figure>

</f:section>
