<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{isYouTube}">
	<f:then>
		<f:asset.script identifier="ytconsent_function">
// YouTube embed - Consent/Index.html
function t3sbVideo(videoId, params, id, consent=false) {
	var playerElement = document.getElementById('v'+id),
		div = document.createElement('div'),
		iframe = document.createElement('iframe');
	div.setAttribute('data-id', videoId);
	playerElement.appendChild(div);
	if (consent) {
		iframe.setAttribute('src','https://www.youtube-nocookie.com/embed/' + div.dataset.id + params);
	} else {
		iframe.setAttribute('data-src','https://www.youtube-nocookie.com/embed/' + div.dataset.id + params);
	}
	iframe.setAttribute('id','iframe-' + id);
	iframe.setAttribute('class','h-100 w-100');
	iframe.setAttribute('allowfullscreen', '1');
	iframe.setAttribute('allow','accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture');
	div.replaceWith(iframe);
}

function t3sbConsent(cuid, cookieExpire) {
	document.getElementById(cuid).onclick = function() {
		let ytvideo = document.getElementById('iframe-'+this.id);
		let videoContent = document.getElementById('v'+this.id);
		let videoOverlay = videoContent.getElementsByClassName('video-overlay')[0];
		videoOverlay.remove();
		ytvideo.src = ytvideo.getAttribute('data-src');
		ytvideo.parentNode.parentNode.style.backgroundImage = '';
		//ytvideo.parentNode.firstChild.remove();	
		let name = 'contentconsent_' + this.id,
			value = 'allow',
			days = cookieExpire;
		t3sbSetCookie(name, value, days);
	};
}

function t3sbVideoThumbnails(ratio) {
	document.querySelectorAll('.video-thumbnail').forEach( vthumb => {
		if (vthumb) {
			let thumbWidth = vthumb.clientWidth,
				thumbHeight = vthumb.clientWidth * ratio;
			if (vthumb.clientHeight > thumbHeight) {
				vthumb.style.maxHeight = thumbHeight+'px';
			} else {
				vthumb.style.minHeight = thumbHeight+'px';
			}
		};
	});
}
		</f:asset.script>
		<f:asset.script identifier="cookie_function">
function t3sbSetCookie(cname,cvalue,exdays) {
	const d = new Date();
	d.setTime(d.getTime() + (exdays*24*60*60*1000));
	let expires = 'expires=' + d.toGMTString();
	document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
}
function t3sbGetCookie(cname) {
	let name = cname + '=';
	let decodedCookie = decodeURIComponent(document.cookie);
	let ca = decodedCookie.split(';');
	for(let i = 0; i < ca.length; i++) {
		let c = ca[i];
		while (c.charAt(0) == ' ') {
			c = c.substring(1);
		}
		if (c.indexOf(name) == 0) {
			return c.substring(name.length, c.length);
		}
	}
	return '';
}
		</f:asset.script>
		<f:if condition="{thumbnail}">
			<f:asset.script identifier="vanilla_youTube-{ratio}">
	// YouTube embeds thumbnails {ratio} - Consent/Index.html
	t3sbVideoThumbnails('{settings.consent.autoSize}');
			</f:asset.script>
		</f:if>
		<f:if condition="{contentConsent}">
			<f:then>
				<f:asset.script identifier="vanilla_youTube-{settings.consent.contentByUid}">
	// YouTube embed (v{settings.consent.contentByUid}) - Consent/Index.html
	t3sbVideo('{ytuid}', '{params-> f:format.raw()}', {settings.consent.contentByUid}, true);
				</f:asset.script>
			</f:then>
			<f:else>
				<f:asset.script identifier="vanilla_youTube-{settings.consent.contentByUid}">
	// YouTube embed (v{settings.consent.contentByUid}) - Consent/Index.html
	t3sbVideo('{ytuid}', '{params-> f:format.raw()}', {settings.consent.contentByUid});
	t3sbConsent({settings.consent.contentByUid}, {settings.cookieExpire});
				</f:asset.script>
			</f:else>
		</f:if>
		<div class="content-consent-wrapper">
			<f:if condition="{contentConsent}">
				<f:then>
					<div class="ratio ratio-{ratio}">
						<div id="v{settings.consent.contentByUid}" class="video-content"></div>
					</div>
				</f:then>
				<f:else>
					<f:if condition="{thumbnail}">
						<f:then>
							<div id="thumbail-{settings.consent.contentByUid}" class="video-thumbnail background-image{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}" style="background-image: url({f:uri.image(image: '{thumbnail}')});">
						</f:then>
						<f:else>
							<div class="align-items-center{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}">
						</f:else>
					</f:if>
						<div class="ratio ratio-{ratio}">
							<div id="v{settings.consent.contentByUid}" class="video-content">
								<div class="video-overlay position-absolute top-50 start-50 translate-middle">
									<div class="text-center">
										{settings.consent.text -> f:format.html()}
										<f:form.button id="{settings.consent.contentByUid}" name="{settings.consent.button -> f:format.raw()}" class="btn btn-{settings.consent.buttonStyle}" value="{settings.consent.contentByUid}">{settings.consent.button -> f:format.raw()}</f:form.button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</f:else>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<div class="alert alert-danger" role="alert">
			A YouTube video is expected here!
		</div>	
	</f:else>
</f:if>	



</html>
