<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t="http://typo3.org/ns/Helhum/TyposcriptRendering/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="content-consent-wrapper" style="position: relative;">
<f:if condition="{settings.consent.loading}">
	<f:then>
		<div class="d-flex justify-content-center preloader">
			<div id="preloader-{currentRecord}" class="spinner-border text-white" style="width: 3rem; height: 3rem; display:none;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</f:then>
</f:if>
<f:if condition="{contentConsent}">
	<f:then>
		<f:cObject typoscriptObjectPath="lib.contentByUid" data="{settings.consent.contentByUid}" />
	</f:then>
	<f:else>
		<div id="ajax-result-{currentRecord}" class="px-3">
			<f:if condition="{thumbnail}">
				<f:then>
						<div class="row content-consent background-image align-items-center{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}" style="background-image: url({f:uri.image(image: '{thumbnail}')});">
				</f:then>
				<f:else>
						<div class="row content-consent align-items-center{f:if(condition: settings.consent.extraClass, then: ' {settings.consent.extraClass}')}">
				</f:else>
			</f:if>
				<div class="col-sm-12">
					<div class="text-center">
						{settings.consent.text -> f:format.html()}
						<f:form.button name="{settings.consent.button -> f:format.raw()}" class="btn btn-{settings.consent.buttonStyle} ajaxSubmit" value="{currentRecord}" additionalAttributes="{data-ajaxuri: '{t:uri.ajaxAction(action: \'ajax\')}'}">{settings.consent.button -> f:format.raw()}</f:form.button>
					</div>
				</div>
			</div>
		</div>
	</f:else>
</f:if>
</div>
</html>
