<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render partial="Layouts/Assets" arguments="{_all}" />
<f:comment> Button Group </f:comment>
<f:spaceless>
{containerPre -> f:format.raw()}
<f:if condition="{containerError} && {settings.containerError}">
	<div class="alert alert-danger" role="alert">
		Here is a container expected! <small>... you can disable this error message in the BE Modul!</small>
	</div>
</f:if>
<f:if condition="{data.CType} == 't3sbs_button'">
	<f:then>
		<f:comment> BUTTON </f:comment>
		<f:render section="Main" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:comment> BUTTON GROUP </f:comment>
		<div id="c{data.uid}"{f:if(condition: '{buttonGroupClass}',then: ' class="{buttonGroupClass}"')}>
			<f:render section="Main" arguments="{_all}" />
		</div>
	</f:else>
</f:if>
{containerPost -> f:format.raw()}
</f:spaceless>
</html>
