<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render partial="Layouts/Assets" arguments="{_all}" />
<f:spaceless>
<f:if condition="{data.CType} == 'collapsible_accordion' || {data.CType} == 't3sbs_toast'">
	<f:then>
		<f:render section="Main" arguments="{_all}" />		
	</f:then>
	<f:else>
		{containerPre -> f:format.raw()}
		<f:if condition="{containerError} && {settings.containerError}">
			<div class="alert alert-danger" role="alert">
				Here is a container expected! <small>... you can disable this error message in the BE Modul!</small>
			</div>
		</f:if>


		<f:link.typolink parameter="{celink}" class="ce-link{f:if(condition: '{parentCType} == listGroup_wrapper', then: ' list-group-item list-group-item-action')}">



			<f:if condition="{isTxContainer}">
				<f:then>
					<div id="c{data.uid}"{dataAttr -> f:format.raw()}>
						<f:render section="Header" optional="true">
							<f:render partial="Header/All" arguments="{_all}" />
						</f:render>
						<f:render section="Main" arguments="{_all}" />
					</div>
				</f:then>
				<f:else>




					{data.chapter -> f:format.raw()}
					<div id="c{data.uid}"{classAttr -> f:format.raw()}{styleAttr -> f:format.raw()}{dataAttr -> f:format.raw()}>
						<f:render section="Header" optional="true">
							<f:render partial="Header/All" arguments="{_all}" />
						</f:render>
						<f:render section="Main" arguments="{_all}" />
					</div>
				</f:else>
			</f:if>
		</f:link.typolink>
		<f:if condition="{newLine}">
			<div class="w-100"></div>
		</f:if>
		{containerPost -> f:format.raw()}	
	</f:else>
</f:if>	
</f:spaceless>
</html>
