
.t3-grid-table .t3js-page-column:first-child .t3-page-column-header  {
  background: #eee0ff;
  color: #7e00b4;
} 

.t3-grid-table .t3js-page-column:first-child .t3-page-ce .t3-page-column-header  {
	background: #fff;
	color: #999;
} 
 
.navbar-collapse.collapse.in .navbar-nav {
	margin-bottom: .5rem;	
}
#accordion {
	margin-bottom: 2rem;
}
.card-content, .card-footer, .card-header, .card-image {
	padding: .5rem !important;
}
.card {
	margin-bottom: 0.2rem !important;
}
.card-header {
	background-color: #563D7C !important;
	border-color: #563D7C !important;
}
#accordionConstants .card-header,
#accordionInfo .card-header {
	background-color: white !important;
	color: black !important;
}
.card-header-light {
	background-color: #f7f7f7 !important;	
	padding: 1rem !important;
}
.card-body {
	padding: 2rem;
	background-color: white;
}
.card-title button {
	width: 100%;
}
#accordionConstants .card-title button,
#accordionInfo	.card-title button {
	color: black !important;
}

.text-secondary {
	color: #808080;
}
.form-control {
	background-color: #f5f5f5;
	font-size: 1.3rem;
}
.accordion-sub .form-control {
    background-color: #fff !important;
}
.card.card-body {
	border: none !important;
	box-shadow: none !important;
}
.panel-default > .panel-heading {
	background-image: none;
	filter:none;
	background-repeat:no-repeat;
}
.panel-default > .panel-heading {
	color: #FFF;
	background-color: #563D7C;
	border-color: #563D7C;
}
.required::before {
	font-family: FontAwesome;
	font-size: 12px;
	text-align: center;
	content: "ïª";
	color: #c83c3c;
	display: inline-block;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #ccc;
	background-color: #F5F5F5;
}
#accordionInfo .panel-default > .panel-heading {
	color: #5a5a5a;
	background-color: transparent;
	border-color: transparent;
}
.panel {
	box-shadow: none;
}
h4.panel-title a {
	display: block;
	cursor: pointer;
}

.text-left {
	text-align: left !important;
}
.badge-success {
    background-color: #28a745;
}
.alert-success {
	background-color: #28a745;
}
.col-sm-3,
.col-form-label {
	font-weight: 700 !important;
	text-align: right !important;
	font-size: .7rem !important;
	padding-left: 0 !important;
}
table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}
table.table-bordered {
  border: 1px solid #e9ecef;
}
table.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(0, 0, 0, .05);
}
table.table-hover {
  background-color: #f5f5f5;
}
.t3sb-ext-button-bar .button-group {
    margin-top: 10px;
    margin-right: 10px;
}
.t3sb-ext-navigation {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 30px;
}
.navbar-toggler {
    padding: 0 .75rem !important;
    font-size: 1.3rem !important;
    line-height: 1;
    background-color: transparent;
    border: none !important;
    border-radius: .25rem;
}
.navbar-toggler {
    background-color: transparent !important;
}
.navbar-toggler:hover {
    background-color: transparent !important
}
.navbar-toggler {
    background-color: #333;
}
.t3sb-ext-navigation .navbar-toggler {
    border-color: transparent;
}
.t3sb-ext-navigation .navbar-toggler span {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.t3sb-ext-navigation .navbar-toggler span:hover {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:hover {
    text-decoration: none;
}
.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.t3sb-ext-navigation .navbar-brand {
    font-size: 24px;
    	color: #7952b3 !important;
    font-weight: 300;
    margin-right: 30px;
}
.t3sb-ext-navigation .navbar-brand:hover {
  text-decoration: underline;
}
.navbar-light .navbar-brand {
  color: #70529c;
}
.t3sb-ext-navigation .navbar {
  padding: .4rem !important;
  background-color: #f8f8f8 !important;
  padding-left: 1rem !important;
}
.t3sb-ext-navigation .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
    text-transform: capitalize;
    padding-left: 20px;
    padding: 12px 20px 12px 20px;
    font-size: 16px;
}
.t3sb-ext-navigation .nav-item {
    z-index:999999999;
}
.t3sb-ext-navigation .nav-item.active>.nav-link, .t3sb-ext-navigation .nav-item:hover>.nav-link {
    background-color: #e0e0e0;
}
.t3sb-ext-navigation .nav-link em.fa {
    margin-right: 12px;
    font-size: 18px;
}
.t3sb-ext-navigation .navbar-brand {
  font-size: 24px;
  color: #7952b3;
  font-weight: 300;
  margin-right: 30px;
  padding: 0;
}
.checkbox label, .checkbox input[type=checkbox]{
    margin-left: 55px !important;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] 
{
    margin-left: -30px !important;
}
.navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
code {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #C7254E;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}
code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.col-sm-offset-3 {
    margin-left: 25%;
}
.save-btn {
    color: #fff !important;
	margin-bottom: 3rem !important; 
	background-color: #28a745 !important;
}
.save-btn:hover {
    color: #fff !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05) !important;
}
.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    background-color: #fff !important;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.edit-btn {
	margin-bottom:1.5rem !important;
}
.page-conf-btn {
	min-width: 200px !important;
}
.util-color-btn {
	min-width: 200px !important;
}
.edit-conf-btn {
	background-color: rgba(0,0,0,.03) !important; 
	border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.fa-info.fa-3x {
	color: #17a2b8 !important;	
}
.small-code {
	margin-left: -1.8rem !important;
}
.input-code {
	margin-left: -.8rem !important;
}
.select-code {
	margin-left: -.8rem !important;
}
.float-right {
	float: right !important;
}
.module-body.t3js-module-body {
	min-height: 100% !important;
}
.util-table {
	font-size: .7rem !important;
}
.badge-success {
    background-color: #28a745 !important;
}
.badge-success {
    color: #fff !important;
    background-color: #28a745 !important;
}
.badge {
    display: inline-block !important;
    padding: 1rem !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0 !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.lead {
    font-size: .8rem !important;
    font-weight: 300 !important;
}
.t3sb-config .t3sb-config .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.t3sb-config .btn-link {
	color: #FFF !important;
}
.t3sb-config .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.t3sb-config .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.t3sb-config .btn-info {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
.t3sb-config .btn-info:hover {
    color: #fff !important;
    background-color: #138496 !important;
    border-color: #117a8b !important;
}
.t3sb-config .btn-success:hover {
    color: #fff !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}
.t3sb-config .btn-success {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
.t3sb-config .btn {
	padding: .375rem .75rem;
    font-size: .8rem !important;   
}
.t3sb-config .btn-primary {
    color: #fff !important;
background-color: rgba(97, 64, 146, 0.9) !important;
border-color: #7952b3 !important;
}
.t3sb-config .btn-primary:hover, .t3sb-config .btn-primary:active {
	color: #fff !important;
    background-color: #614092 !important;
    border-color: #614092 !important;
}
.card-body, .panel-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.form-control {
    min-width: 120px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fefefe;
    background-clip: padding-box;
    border: 1px solid #bbb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .125rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
    margin-top: 20px;
  border: 1px solid #eee;
    border-left-color: rgb(238, 238, 238);
    border-left-width: 1px;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}
.bs-callout-primary {
  border-left-color: #70529c;
}

