<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kesearch="http://typo3.org/ns/Tpwd/KeSearch/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:spaceless>
<nav aria-label="Page navigation" class="mx-auto">
	<ul class="pagination">
<f:if condition="{pagination.previous}">
    <li class="page-item">
        <kesearch:link piVars="{page: pagination.previous}" keepPiVars="1" class="prev page-link">{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_searchbox.xlf:pagebrowser_prev')}</kesearch:link>
    </li>
</f:if>
<f:for each="{pagination.pages}" as="page">
    <li class="page-item">
        <kesearch:link piVars="{page: page}" keepPiVars="1" class="page-link {f:if(condition: '{page} == {pagination.currentPage}', then: 'current')}">{page}</kesearch:link>
    </li>
</f:for>
<f:if condition="{pagination.next}">
    <li class="page-item">
        <kesearch:link piVars="{page: pagination.next}" keepPiVars="1" class="next page-link">{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_searchbox.xlf:pagebrowser_next')}</kesearch:link>
    </li>
</f:if>
	</ul>
</nav>
</f:spaceless>
