<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{config.navbar.searchbox}">
<f:asset.script identifier="vanilla_navbarSearchbox">
	// Searchbox - Navbar/Assets.html
	t3sbNavbarSearchbox(viewportWidth, navbarBreakpointWidth);
	window.addEventListener('resize', function(event) {	
		resizedViewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", ""));
		t3sbNavbarSearchbox(resizedViewportWidth, navbarBreakpointWidth);
	}, true);
</f:asset.script>
</f:if>
<f:if condition="{settings.config.navbarExtraRow}">
<f:asset.script identifier="vanilla_navbarExtraRow">
	// Extra row - Navbar/Assets.html
	t3sbExtraRow(viewportWidth, navbarBreakpointWidth);
	window.addEventListener('resize', function(event) {	
		resizedViewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", ""));
		t3sbExtraRow(resizedViewportWidth, navbarBreakpointWidth);
	}, true);
</f:asset.script>
</f:if>
<f:if condition="{config.navbar.dropdownAnimate} && {config.navbar.dropdownAnimateValue}">
	<f:asset.script identifier="navbarDropdownAnimate_function">
// Dropdown animate - Navbar/Assets.html
function t3sbDropdownAnimate(vw, bp, dropdownAnimateValue) {
	if ( vw < bp ) {
		document.querySelectorAll('.dd-animate-'+dropdownAnimateValue).forEach(function(dda) {
			dda.classList.remove('dd-animate-'+dropdownAnimateValue);
			dda.classList.add('removed-animate-'+dropdownAnimateValue);
		});
	} else {
		document.querySelectorAll('.removed-animate-'+dropdownAnimateValue).forEach(function(dda) {
			dda.classList.add('dd-animate-'+dropdownAnimateValue);
			dda.classList.remove('removed-animate-'+dropdownAnimateValue);
		});
	}
}	
	</f:asset.script>
<f:asset.script identifier="vanilla_navbarDropdownAnimate">
	// Dropdown animate - Navbar/Assets.html
	t3sbDropdownAnimate(viewportWidth, navbarBreakpointWidth, {config.navbar.dropdownAnimateValue});
	window.addEventListener('resize', function(event) {	
		resizedViewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", ""));
		t3sbDropdownAnimate(resizedViewportWidth, navbarBreakpointWidth, {config.navbar.dropdownAnimateValue});
	}, true);	
</f:asset.script>
</f:if>
<f:if condition="{config.navbar.alignment} == 'fill'">
<f:asset.script identifier="vanilla_noMobileJustify">
	// No justify on mobile - Navbar/Assets.html
	if ( viewportWidth < navbarBreakpointWidth ) {
		navbar.querySelector('.main-navbarnav').classList.remove('nav-fill', 'w-100');
	} 
</f:asset.script>	
</f:if>
<f:if condition="{settings.config.navbarOffcanvas}">
<f:asset.script identifier="vanilla_offcanvasJs">
	// Offcanvas - Navbar/Assets.html
	var navbarBreakpoint = document.body.getAttribute('data-navbar-breakpoint');
	var navbarBPWidth = navbarBreakpointWidth,
		utilColor = '{config.navbar.offcanvasBgColorClass}',
		utilColorArr = utilColor.split(' ');
	if (navbarBreakpoint == 'no') {
		navbarBPWidth = 99999;
	}
	t3sbOffcanvas(viewportWidth, navbarBPWidth, utilColorArr);
	window.addEventListener('resize', function(event) {	
		resizedViewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", ""));
		t3sbOffcanvas(resizedViewportWidth, navbarBPWidth, utilColorArr);
	}, true);
</f:asset.script>
</f:if>
<f:if condition="{settings.config.navbarMegamenu}">
<f:asset.script identifier="vanilla_navbarmegamenuJs">
	// Navbar mega-menu - Navbar/Assets.html
	var megaDropdown = document.querySelectorAll('.mega-dropdown'),
		navbarBreakpointToggler = '';
	if ( viewportWidth < navbarBreakpointWidth ) {
		navbarBreakpointToggler = document.querySelectorAll('.remove-{settings.config.navbarBreakpoint}');	
		navbarBreakpointToggler.forEach( nbt => {
			nbt.remove();
		});
	} else {
		navbarBreakpointToggler = document.querySelectorAll('.show-{settings.config.navbarBreakpoint}');	
		navbarBreakpointToggler.forEach( nbt => {
			nbt.remove();
		});	
	}
</f:asset.script>
</f:if>
<f:if condition="{settings.config.navbarShrinkcolor}">
<f:asset.script identifier="vanilla_navbarshrinkcolor">
	// Shrinking Navbar on scrolling - Navbar/Assets.html
	let x;
	t3sbShrinkingNavbar(navbar, {settings.config.shrinkingNavPadding});
</f:asset.script>
</f:if>
<f:if condition="{settings.config.navbarPlacement} == 'sticky-top'">
<f:asset.script identifier="vanilla_navbarstickytop">
	// Navbar sticky-top - Navbar/Assets.html
	window.onscroll = function() {stickyFunction()};
	let sticky = navbar.offsetTop;
	function stickyFunction() {
		if (window.pageYOffset >= sticky) {
			navbar.classList.add('sticky');
		} else {
			navbar.classList.remove('sticky');
		}
	}
</f:asset.script>
</f:if>
<f:if condition="{config.navbar.navColorCSS}">
<f:asset.css identifier="navColorCSS">
{config.navbar.navColorCSS}
</f:asset.css>
</f:if>
<f:if condition="{config.navbar.transparent}">
<f:asset.script identifier="vanilla_navbartransparentJS">
	// Navbar transparent - Navbar/Assets.html
	if ( viewportWidth > navbarBreakpointWidth ) {
		var colorschemes = '{config.navbar.colorschemes}';
		var gradient = '{config.navbar.gradient}';
		t3sbTransparentNavbar(colorschemes, gradient);
	}
</f:asset.script>
</f:if>
</html>
