<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="nav-item dropdown">
	<a class="nav-link dropdown-toggle dropdown-item-language-menu" id="language" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
		<f:if condition="{settings.config.langMenuWithFaIcon}">
			<f:then>
				<i class="fa-navlink fa-solid fa-globe me-1"></i>
			</f:then>
			<f:else>
				<f:for each="{languageNavigation}" as="item">
					<f:if condition="{item.active}">
					<f:render section="LanguageFlag" arguments="{_all}" />
					<span class="nav-label">{item.title}</span>
					</f:if>
				</f:for>
			</f:else>
		</f:if>
	</a>
	<div class="dropdown-menu dropdown-menu-end mt-0 slideIn{config.navbar.dropdownAnimate}" aria-labelledby="right-menu">
		<f:for each="{languageNavigation}" as="item">
			<f:if condition="{item.available}">
				<f:then>
					<a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}"
						 class="dropdown-item{f:if(condition: '{item.active}', then: ' active')}" >
					<f:render section="LanguageFlag" arguments="{_all}" />
						{item.title}
					</a>
				</f:then>
				<f:else>
					<span class="dropdown-item text-muted">
						<f:render section="LanguageFlag" arguments="{_all}" />
						{item.title}
					</span>
				</f:else>
			</f:if>
		</f:for>
	</div>
	<f:if condition="{config.navbar.navbarPlusicon}">
		<button type="button" class="nav-link ps-0 btn btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="fa-solid fa-square-plus"></i>
		</button>
	</f:if>
</div>
</html>


<f:section name="LanguageFlag">
	<f:if condition="{settings.config.navbarLangFlags}">
		<core:icon identifier="{config.lang.flag.{item.languageId}}" size="small" />
	</f:if>
</f:section>