<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="navbar-nav extra-row ms-auto small{f:if(condition:'{config.navbar.searchbox}',then:' mb-1')}">
	<li class="nav-item">
		<a class="nav-link py-0 pe-3" href="#" title="facebook">
			<f:if condition="{settings.iconpack.loaded}">
				<f:then>
					<t3sb:icon iconfig="fa6:brands,facebook" />		
				</f:then>
				<f:else>
					<i class="fa-brands fa-facebook"></i>
				</f:else>	
			</f:if>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-0 pe-3" href="#" title="instagram">
			<f:if condition="{settings.iconpack.loaded}">
				<f:then>
					<t3sb:icon iconfig="fa6:brands,instagram" />		
				</f:then>
				<f:else>
					<i class="fa-brands fa-instagram"></i>
				</f:else>	
			</f:if>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-0 pe-3" href="#" title="twitter">
			<f:if condition="{settings.iconpack.loaded}">
				<f:then>
					<t3sb:icon iconfig="fa6:brands,x-twitter" />	
				</f:then>
				<f:else>
					<i class="fa-brands fa-x-twitter"></i>
				</f:else>	
			</f:if>
		</a>
	</li>
	<li class="nav-item">
		<a href="tel:+49123456789" class="nav-link py-0 pe-2" title="call me">
			<f:if condition="{settings.iconpack.loaded}">
				<f:then>
					<t3sb:icon iconfig="fa6:solid,phone" />		
				</f:then>
				<f:else>
					<i class="fa-brands fa-phone"></i>
				</f:else>	
			</f:if>
			 012-3456789</a>
	</li>
</ul>
</html>


