<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{config.navbar.enable} && {config.navbar.enable} != 'none'">
	<f:render partial="Page/Navbar/Assets" arguments="{_all}" />
	<f:if condition="{config.navbar.navColorCSS}">
		<div class="container my-5">
			<div class="alert alert-danger" role="alert">
				For the "Navigation color" an inline style is created.
				Before you public your site, you should copy the generated inline style into a file and include it (with TS).
				<strong>Afterwards you can deactivate the option in the extension configuration to avoid problems!</strong>
			</div>
		</div>
	</f:if>
	<f:if condition="{config.navbar.container}">
		<f:then>
			<div class="{config.navbar.container}">
				<f:render section="NavbarInner" arguments="{_all}" />
			</div>
		</f:then>
		<f:else>
			<f:render section="NavbarInner" arguments="{_all}" />
		</f:else>
	</f:if>
</f:if>
</html>


<f:section name="NavbarInner">
<nav id="main-navbar" class="navbar {config.navbar.class}"{config.navbar.styleAttr -> f:format.raw()}{config.navbar.dataAttr -> f:format.raw()}>
	<div class="{config.navbar.innercontainer}">
		<f:if condition="{config.navbar.toggler} == 'left'">
			<f:then>
				<f:render section="Toggler" arguments="{_all}" />
				<f:render section="Brand" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render section="Brand" arguments="{_all}" />
				<f:render section="Toggler" arguments="{_all}" />
			</f:else>
		</f:if>
		<f:if condition="{config.navbar.offcanvas}">
			<f:then>
				<f:render section="Offcanvas" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render section="Default" arguments="{_all}" />
			</f:else>
		</f:if>
	</div>
</nav>
</f:section>

<f:section name="Default">
	<div id="navbarToggler" class="collapse p-3 py-{navbarBreakpoint}-0 navbar-collapse{config.navbar.navbarCenter}{config.navbar.navbarExtraRow}">
		<f:if condition="{navbarMenu} || {sectionMenu} || {languageNavigation}">
			<f:if condition="{settings.config.navbarExtraRow}">
				<f:render partial="Page/Navbar/NavbarExtraRow" arguments="{_all}" />
			</f:if>
			<div class="navbar-nav main-navbarnav mb-2 mb-lg-0{config.navbar.sectionMenu}{config.navbar.mauto}">
				<f:render section="NavbarNav" arguments="{_all}" />
				<f:if condition="{settings.config.navbarExtraRow}">
					<f:then>
						<f:render section="RightMenu" arguments="{_all}" />
					</f:then>
				</f:if>
			</div>
			<f:if condition="{settings.config.navbarExtraRow}">
				<f:else>
					<f:render section="RightMenu" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:if>
	</div>
</f:section>

<f:section name="Offcanvas">
<div id="navbarToggler" class="offcanvas offcanvas-{config.navbar.offcanvasAlign}{config.navbar.navbarExtraRow}" tabindex="-1" aria-labelledby="offcanvasNavbarLabel">
	<div class="offcanvas-header pb-0">
		<f:link.typolink class="navbar-brand me-0 me-{settings.config.navbarBreakpoint}-2" parameter="{config.general.homepageUid}">
			<p class="offcanvas-title h5" id="offcanvasNavbarLabel" style="color:{config.navbar.offcanvasTitleColor}">
				{config.general.company}
			</p>
		</f:link.typolink>
		<button type="button" class="btn-close btn-close-{config.navbar.offcanvasCross} text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<f:if condition="{settings.config.navbarExtraRow}">
		<f:render partial="Page/Navbar/NavbarExtraRow" arguments="{_all}" />
	</f:if>
	<div class="offcanvas-body">
		<div class="navbar-nav main-navbarnav{config.navbar.mauto}">
			<f:if condition="{navbarMenu} || {sectionMenu}">
				<f:render section="NavbarNav" arguments="{_all}" />
			</f:if>
		</div>
		<f:render section="RightMenu" arguments="{_all}" />
	</div>
</div>
</f:section>

<f:section name="NavbarNav">
<f:if condition="{config.navbar.sectionMenu}">
	<f:then>
		<f:render section="SectionMenu" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:render section="Menu" arguments="{_all}" />
	</f:else>
</f:if>
<f:if condition="{settings.navbar.feUserName}">
	<f:security.ifAuthenticated>
		<span class="nav-link fe-user ms-1"><i class="fa-solid fa-user me-1"></i> <t3sb:getUsername /></span>
	</f:security.ifAuthenticated>
</f:if>
</f:section>

<f:section name="RightMenu">
<f:if condition="{config.navbar.searchbox} || {languageNavigation} || {navbarMenuRight -> f:count()} || {settings.config.navbarDarkMode}">
	<f:if condition="{config.navbar.searchbox}">
		<f:then>
			<f:render partial="Page/Searchbox" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:if condition="{settings.navbar.searchboxLink} && !{navbarMenuRight -> f:count()}">
				<f:link.page class="nav-link" pageUid="{settings.navbar.searchboxLink}"><i class="fa-navlink fa-solid fa-search me-3"></i></f:link.page>
			</f:if>
		</f:else>
	</f:if>
	<div class="navbar-nav flex-row flex-wrap{f:if(condition: '{config.navbar.alignment} == left' , then:' ms-md-auto')}">
		<f:if condition="{languageNavigation} && {config.lang.uid} && {config.lang.hreflang} && {config.lang.title}">
			<f:render partial="Page/Navbar/Language" arguments="{_all}" />
			<f:if condition="{navbarMenuRight -> f:count()}">
				<div class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
					<div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
					<hr class="d-lg-none my-2 text-white-50">
				</div>
			</f:if>
		</f:if>
		<f:if condition="{navbarMenuRight -> f:count()}">
			<f:render partial="Page/Navbar/MenuRight" arguments="{_all}" />
			<f:if condition="{settings.config.navbarDarkMode}">
				<div class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
					<div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
					<hr class="d-lg-none my-2 text-white-50">
				</div>
			</f:if>
		</f:if>
		<f:if condition="{settings.config.navbarDarkMode}">
			<f:render partial="Page/Navbar/DarkModeToggler" arguments="{_all}" />
		</f:if>
	</div>
</f:if>
</f:section>

<f:section name="Brand">
<f:if condition="{config.navbar.brand}">
	<f:switch expression="{config.navbar.brand}">
		<f:case value="imgText">
			<f:link.typolink class="navbar-brand me-0 me-{settings.config.navbarBreakpoint}-2" parameter="{config.general.homepageUid}">
				<f:render section="BrandImage" arguments="{_all}" />
				{config.general.company}
			</f:link.typolink>
		</f:case>
		<f:case value="image">
			<f:link.typolink class="navbar-brand me-0 me-{settings.config.navbarBreakpoint}-2" parameter="{config.general.homepageUid}">
				<f:render section="BrandImage" arguments="{_all}" />
			</f:link.typolink>
		</f:case>
		<f:case value="heading">
			<span class="navbar-brand mb-0 h1">{config.general.company}</span>
		</f:case>
		<f:defaultCase>
			<f:link.typolink class="navbar-brand" parameter="{config.general.homepageUid}">
				{config.general.company}
			</f:link.typolink>
		</f:defaultCase>
	</f:switch>
</f:if>
</f:section>

<f:section name="BrandImage">
	<f:image src="{config.navbar.image}" width="{settings.navbar.image.width}" height="{settings.navbar.image.height}"
	 class="img-fluid{config.navbar.brandClass}" alt="{settings.navbar.image.altText}" />
</f:section>

<f:section name="Toggler">
<f:if condition="{config.navbar.animatedToggler}">
	<f:then>
		<button class="navbar-toggler p-0 nav-icon collapsed" type="button" data-bs-toggle="{config.navbar.dataToggle}" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<div></div>
		</button>
	</f:then>
	<f:else>
		<button class="navbar-toggler" type="button" data-bs-toggle="{config.navbar.dataToggle}" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</f:else>
</f:if>
</f:section>

<f:section name="Menu">
	<f:for each="{navbarMenu}" as="navbarItem">
		<f:if condition="{navbarItem.data.doktype} != 198">
			<div id="nav-item-{navbarItem.data.uid}" class="nav-item{f:if(condition: navbarItem.children, then:' {config.navbar.dropdown}{config.navbar.hover}')}{f:if(condition:'{config.navbar.megamenu} && {navbarItem.data.tx_t3sbootstrap_megamenu} && {navbarItem.data.doktype}==4 && {navbarItem.children}',then:' mega-dropdown dropdown-toggle')}">
				<f:if condition="{navbarItem.spacer}">
					<f:then>
						<span class="nav-link">|</span>
					</f:then>
					<f:else>
						<f:if condition="{navbarItem.children}">
							<f:then>
								<f:render section="Dropdown" arguments="{_all}" />
							</f:then>
							<f:else>
								<f:if condition="{navbarItem.active} && {navbarItem.current}">
									<f:then>
										<f:variable name="activeItem" value=" active" />
									</f:then>
									<f:else>
										<f:variable name="activeItem" value="" />
									</f:else>
								</f:if>
								<f:if condition="{navbarItem.data.shortcut} && {data.is_siteroot} && {data.slug} == {navbarItem.link}">
									<f:variable name="activeItem" value=" active" />
								</f:if>
								<a class="nav-link{navbarItem.activeClass}"
									href="{navbarItem.link}"
										target="{navbarItem.target}"
											title="{navbarItem.title}">
									<f:render section="Title" arguments="{item: navbarItem}" />
								</a>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</f:if>
	</f:for>
</f:section>

<f:section name="SectionMenu">
	<f:asset.script identifier="vanilla_navbarsection">
	// Sectionmenu in navbar (one-page-layout) - Navbar.html
	var offcanvas = {settings.config.navbarOffcanvas};
	var sectionmenuAnchorOffset = {settings.config.sectionmenuAnchorOffset};
	t3sbSectionMenu(fixedNavbar, sectionmenuAnchorOffset, navbarHeight, offcanvas);
	</f:asset.script>
	<f:for each="{sectionMenu.0.content}" as="element">
		<f:if condition="{element.data.header} && {element.data.colPos} != 4">
			<div id="section-item-{element.data.uid}" class="nav-item">
				<a class="nav-link js-scroll-trigger" href="{page.link}#c{element.data.uid}" target="{element.data.target}"{config.navbar.sectionMenuDataAttr}>
					<f:if condition="{element.data.tx_t3sbootstrap_header_sectionMenu}">
						<f:then>
							<span>{element.data.tx_t3sbootstrap_header_sectionMenu}</span>
						</f:then>
						<f:else>
							<span>{element.data.header}</span>
						</f:else>
					</f:if>
				</a>
			</div>
		</f:if>
	</f:for>
</f:section>

<f:section name="Dropdown">
	<f:if condition="{config.navbar.dropdown} == 'dropup'">
		<f:then>
			<f:asset.script identifier="bootstrap5-dropdown-ml-hack" src="EXT:t3sbootstrap/Resources/Public/Scripts/bootstrap5-dropup-ml-hack.js" />
		</f:then>
		<f:else>
			<f:asset.script identifier="bootstrap5-dropdown-ml-hack" src="EXT:t3sbootstrap/Resources/Public/Scripts/bootstrap5-dropdown-ml-hack.js" />
		</f:else>
	</f:if>
	<f:if condition="{settings.pages.override.dropdownRight}">
		<f:then>
			<f:variable name="dropdownRight" value="1" />
		</f:then>
		<f:else>
			<f:variable name="dropdownRight" value="{navbarItem.data.tx_t3sbootstrap_dropdownRight}" />
		</f:else>
	</f:if>
	<f:if condition="{config.navbar.navbarPlusicon}">
		<f:then>
			<f:render partial="Page/Navbar/Plusicon" arguments="{_all}" />
			<a id="dropdown-menu-{navbarItem.data.uid}" href="{f:uri.page(pageUid: navbarItem.data.uid)}" data-href="{f:uri.page(pageUid: navbarItem.data.uid)}" class="nav-link btn btn-link text-nowrap{navbarItem.activeClass}">
				<f:render section="Title" arguments="{item: navbarItem}" />
			</a>
			<button type="button" class="nav-link ps-0 btn btn-link dropdown-toggle dropdown-toggle-split{f:if(condition: navbarItem.active, then:' --bs-dropdown-link-active-bg')}"
			 data-bs-toggle="dropdown" aria-expanded="false" href="#">
				<i class="fa-solid fa-square-plus"></i>
			</button>
		</f:then>
		<f:else>
		<a class="nav-link dropdown-toggle dropdown-item-{navbarItem.data.uid}{navbarItem.activeClass}"
			id="dropdown-menu-{navbarItem.data.uid}"
			href="{f:if(condition: config.navbar.clickableparent, then:'{f:uri.page(pageUid: navbarItem.data.uid)}', else:'#')}"
			data-bs-toggle="{config.navbar.bstoggle}"
			role="button"
			aria-expanded="false"
			title="{navbarItem.title}"
			{f:if(condition: navbarItem.current, then:' aria-current="page"')}>
			<f:render section="Title" arguments="{item: navbarItem}" />
		</a>
		</f:else>
	</f:if>
	<f:if condition="{config.navbar.megamenu} && {navbarItem.data.tx_t3sbootstrap_megamenu} && {navbarItem.data.doktype}==4 && {navbarItem.children}">
		<f:then>
			<f:asset.css identifier="megaNavbar" href="EXT:t3sbootstrap/Resources/Public/Styles/megaMenu.css" />
			<f:comment> removed by JS if narrower than navbarBreakpoint :: don't remove remove-{navbarBreakpoint} </f:comment>
			<div class="dropdown-menu mega-dropdown-menu remove-{navbarBreakpoint}" aria-labelledby="dropdown-menu-{navbarItem.data.uid}">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{navbarItem.data.uid}', colPos: '0'}"/>
			</div>
			<f:comment> removed by JS if wider than navbarBreakpoint :: don't remove show-{navbarBreakpoint} </f:comment>
			<div class="dropdown-menu show-{navbarBreakpoint}" aria-labelledby="dropdown-menu-{navbarItem.data.uid}">
			 	<f:render section="DropdownItem" arguments="{_all}" />
			</div>
		</f:then>
		<f:else>
			<div class="dropdown-menu{config.navbar.dropdownAnimate}{navbarItem.dropdownRightClass}" aria-labelledby="dropdown-menu-{navbarItem.data.uid}">
				<f:render section="DropdownItem" arguments="{_all}" />
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="DropdownItem">
	<f:for each="{navbarItem.children}" as="child">
		<f:if condition="{child.spacer}">
			<f:then>
				<hr class="dropdown-divider">
			</f:then>
			<f:else>
				<f:if condition="{child.data.doktype} == 198">
					<f:then>
						<p class="dropdown-header border-bottom h6">{child.title -> f:format.raw()}</p>
					</f:then>
					<f:else>
						<f:if condition="{child.children}">
							<f:then>
								<f:render section="Subdropdown" arguments="{child: child, navbarBreakpoint: navbarBreakpoint, config: config}" />
							</f:then>
							<f:else>
								<a class="dropdown-item dropdown-item-{child.data.uid}{child.activeClass}"
									href="{child.link}"
									title="{child.title -> f:format.raw()}"
									target="{child.target}"
									{f:if(condition: child.current, then:' aria-current="page"')}>
									<f:render section="Title" arguments="{item: child}" />
								</a>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:for>
</f:section>

<f:section name="Subdropdown">
	<f:if condition="{child.children}">
		<f:then>
			<div class="{config.navbar.dropdown} dropend{config.navbar.hover}">
				<f:if condition="{config.navbar.navbarPlusicon}">
					<f:then>
						<a id="dropdown-layout-{child.data.uid}" href="{f:uri.page(pageUid: child.data.uid)}" data-href="{f:uri.page(pageUid: child.data.uid)}"
							class="ps-3 py-1 btn btn-link text-nowrap text-start{child.activeClass}">
							<f:render section="Title" arguments="{item: child}" />
						</a>
						<button type="button" class="btn btn-link ps-0 dropdown-toggle dropdown-toggle-split{child.activeClass}" data-bs-toggle="dropdown" aria-expanded="false" href="#">
							<i class="fa-solid fa-square-plus"></i>
						</button>
					</f:then>
					<f:else>
						<a id="dropdown-layout-{child.data.uid}"
							href="{f:if(condition: config.navbar.clickableparent, then:'{f:uri.page(pageUid: child.data.uid)}', else:'#')}"
							class="has-submenu dropdown-item dropdown-toggle dropdown-item-{child.data.uid}{child.activeClass}"
							data-bs-toggle="{config.navbar.bstoggle}" aria-haspopup="true" aria-expanded="false"
							{f:if(condition: child.current, then:' aria-current="page"')}>
							<f:render section="Title" arguments="{item: child}" />
						</a>
					</f:else>
				</f:if>
				<div class="dropdown-submenu dropdown-menu{config.navbar.dropdownAnimate}{f:if(condition: '{settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)}' , then:' {navbarBreakpoint}-twoColumns row')}" aria-labelledby="dropdown-layout-{child.data.uid}">
					<f:for each="{child.children}" as="grandchild" iteration="iterator">
						<f:if condition="{grandchild.spacer}">
							<f:then>
								<hr class="dropdown-divider">
							</f:then>
							<f:else>
								<f:if condition="{grandchild.data.doktype} == 198">
									<f:then>
										<h6 class="dropdown-header border-bottom">{grandchild.title -> f:format.raw()}</h6>
									</f:then>
									<f:else>
										<f:if condition="{grandchild.children}">
											<f:then>
												<f:if condition="{iterator.isFirst} && ({settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)})">
													<div class="col-{navbarBreakpoint}-6 float-none float-{navbarBreakpoint}-start px-0">
												</f:if>
												<f:render section="Subdropdown" arguments="{child: grandchild, navbarBreakpoint: navbarBreakpoint, config: config}" />
												<f:if condition="{iterator.isLast} && ({settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)})">
													</div>
												</f:if>
											</f:then>
											<f:else>
												<f:if condition="{settings.navbar.subdropdown.twoColumns} <= {f:count(subject: child.children)}">
													<f:then>
														<f:comment> subdropdown with two columns </f:comment>
														<f:if condition="{iterator.isFirst}">
															<div class="col-{navbarBreakpoint}-6 float-none float-{navbarBreakpoint}-start px-0">
														</f:if>
														<f:render section="GrandchildLink" arguments="{_all}" />
														<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.mathCeil', data: '{iterator.total}/2')} == {iterator.cycle}">
															</div>
															<div class="col-{navbarBreakpoint}-6 float-none float-{navbarBreakpoint}-start px-0">
														</f:if>
														<f:if condition="{iterator.isLast}">
															</div>
														</f:if>
													</f:then>
													<f:else>
														<f:comment> DEFALT - subdropdown with one column </f:comment>
														<f:render section="GrandchildLink" arguments="{_all}" />
													</f:else>
												</f:if>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:else>
						 </f:if>
					</f:for>
				</div>
			</div>
		</f:then>
		<f:else>
			<a class="dropdown-item dropdown-item-{child.data.uid}{child.activeClass}"
				href="{child.link}" title="{child.title -> f:format.raw()}"
				target="{grandchild.target}"
				{f:if(condition: child.current, then:' aria-current="page"')} >
				<f:render section="Title" arguments="{item: child}" />
			</a>
		</f:else>
	</f:if>
</f:section>

<f:section name="GrandchildLink">
	<a class="dropdown-item dropdown-item-{grandchild.data.uid}{grandchild.activeClass}"
		href="{grandchild.link}" title="{grandchild.title -> f:format.raw()}"
		target="{grandchild.target}"
		{f:if(condition: grandchild.current, then:' aria-current="page"')}>
		<f:render section="Title" arguments="{item: grandchild}" />
	</a>
</f:section>

<f:section name="Title">
{item.faIcon -> f:format.raw()} {item.title -> f:format.raw()}
</f:section>
