<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="navbar-nav extra-row ms-auto small{f:if(condition:'{config.navbar.searchbox}',then:' mb-1')}">
	<li class="nav-item">
		<a class="nav-link py-0 pe-3" href="#" title="facebook"><i class="fa-brands fa-facebook"></i></a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-0 pe-3" href="#" title="instagram"><i class="fa-brands fa-instagram"></i></a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-0 pe-3" href="#" title="twitter"><i class="fa-brands fa-twitter"></i></a>
	</li>
	<li class="nav-item">
		<a href="tel:+49123456789" class="nav-link py-0 pe-2" title="call me"><i class="fa-solid fa-phone"></i> 012-3456789</a>
	</li>
</ul>
</html>
