<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:asset.css identifier="slideNavbar" href="EXT:t3sbootstrap/Resources/Public/Styles/slideNavbar.css" />
	<nav id="slide-menu" class="menu{config.navbar.sectionMenu}" role="navigation">
		<ul>
			<li class="nav-item">
				<f:render section="Brand" arguments="{_all}" />
			</li>
			<f:render section="Menu" arguments="{_all}" />
		</ul>
	</nav>
	<a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
</html>


<f:section name="Brand">
	<f:switch expression="{config.navbar.brand}">
		<f:case value="imgText">
			<f:link.typolink class="navbar-brand me-0 me-{settings.config.navbarBreakpoint}-2" parameter="{config.general.homepageUid}">
				<f:render section="BrandImage" arguments="{_all}" />
				<f:if condition="{config.general.company}">
					{config.general.company}
				</f:if>
			</f:link.typolink>
		</f:case>
		<f:case value="image">
			<f:link.typolink class="navbar-brand me-0 me-{settings.config.navbarBreakpoint}-2" parameter="{config.general.homepageUid}">
				<f:render section="BrandImage" arguments="{_all}" />
			</f:link.typolink>
		</f:case>
		<f:case value="heading">
			<f:if condition="{config.general.company}">
				<h1 class="navbar-brand mb-0">{config.general.company}</h1>
			</f:if>
		</f:case>
		<f:defaultCase>
			<f:if condition="{config.general.company}">
				<f:link.typolink class="navbar-brand" parameter="{config.general.homepageUid}">
					{config.general.company}
				</f:link.typolink>
			</f:if>
		</f:defaultCase>
	</f:switch>
</f:section>

<f:section name="Menu">
	<f:for each="{navbarMenu}" as="navbarItem">
		<f:if condition="{navbarItem.data.doktype} != 198">
			<li id="nav-item-{navbarItem.data.uid}" class="nav-item{f:if(condition: navbarItem.active, then:' active')}">
				<f:if condition="{navbarItem.spacer}">
					<f:then>
						<span class="nav-link">|</span>
					</f:then>
					<f:else>
						<f:link.typolink class="nav-link" parameter="{navbarItem.link}"
							 title="{f:if(condition:'{navbarItem.data.tx_t3sbootstrap_icon_only}',then:'{navbarItem.title}',else:'')}"
							 target="{f:if(condition: '{navbarItem.target}',then: '{navbarItem.target}', else: '_self')}">
							<f:render section="Title" arguments="{item: navbarItem}" />
						</f:link.typolink>
					</f:else>
				</f:if>
			</li>
		</f:if>
	</f:for>
</f:section>

<f:section name="Title">
<f:if condition="{item.data.tx_t3sbootstrap_fontawesome_icon}">
	<f:then>
		<f:if condition="{item.data.tx_t3sbootstrap_icon_only}">
			<f:then>
				<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i>
			</f:then>
			<f:else>
				<i class="{item.data.tx_t3sbootstrap_fontawesome_icon}"></i> {item.title}
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		{item.title}
	</f:else>
</f:if>
</f:section>

<f:section name="BrandImage">
	<f:if condition="{config.general.pageTitle} == 'replace'">
		<f:then>
			<h1 class="text-hide m-0 p-0 float-start" style="background-image: url('{config.navbar.image}'); width: {settings.navbar.image.width}px; height: {settings.navbar.image.height}px;">
				<f:cObject typoscriptObjectPath="lib.pageTitle"/>
			</h1>
		</f:then>
		<f:else>
			<f:image src="{config.navbar.image}" width="{settings.navbar.image.width}" height="{settings.navbar.image.height}" class="img-fluid{f:if(condition: '{config.navbar.brand} == imgText', then:' d-inline-block align-text-top me-2')}" alt="{settings.navbar.image.altText}" />
		</f:else>
	</f:if>
</f:section>