<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="accordion" id="accordion">
	<div class="card">
		<div class="card-header" id="headerGeneral">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
					General Settings
				</button>
			</h4>
		</div>
		<div id="collapseGeneral" class="collapse" aria-labelledby="headerGeneral" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/General" arguments="{_all}" />
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headerMeta">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseMeta" aria-expanded="true" aria-controls="collapseMeta">
					Meta Navigation
				</button>
			</h4>
		</div>
		<div id="collapseMeta" class="collapse" aria-labelledby="headerMeta" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/Meta" arguments="{_all}" />
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headerNavbar">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseNavbar" aria-expanded="true" aria-controls="collapseNavbar">
					Navbar
				</button>
			</h4>
		</div>
		<div id="collapseNavbar" class="collapse" aria-labelledby="headerNavbar" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/Navbar" arguments="{_all}" />
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headerJumbotron">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseJumbotron" aria-expanded="true" aria-controls="collapseJumbotron">
					Jumbotron
				</button>
			</h4>
		</div>
		<div id="collapseJumbotron" class="collapse" aria-labelledby="headerJumbotron" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/Jumbotron" arguments="{_all}" />
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headerPagetitle">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapsePagetitle" aria-expanded="true" aria-controls="collapsePagetitle">
					Page Title
				</button>
			</h4>
		</div>
		<div id="collapsePagetitle" class="collapse" aria-labelledby="headerPagetitle" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/Pagetitle" arguments="{_all}" />
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headerBreadcrumb">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseBreadcrumb" aria-expanded="true" aria-controls="collapseBreadcrumb">
					Breadcrumb
				</button>
			</h4>
		</div>
		<div id="collapseBreadcrumb" class="collapse" aria-labelledby="headerBreadcrumb" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/Breadcrumb" arguments="{_all}" />
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headerSidebar">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseSidebar" aria-expanded="true" aria-controls="collapseSidebar">
					Sidebar
				</button>
			</h4>
		</div>
		<div id="collapseSidebar" class="collapse" aria-labelledby="headerSidebar" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/Sidebar" arguments="{_all}" />
			</div>
		</div>
	</div>
	<f:if condition="{settings.expandedContent}">
		<div class="card">
			<div class="card-header" id="headerExpandedContent">
				<h4 class="card-title">
					<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseExpandedContent" aria-expanded="true" aria-controls="collapseExpandedContent">
						Expanded Content
					</button>
				</h4>
			</div>
			<div id="collapseExpandedContent" class="collapse" aria-labelledby="headerExpandedContent" data-parent="#accordion">
				<div class="card-body">
					<f:render partial="Config/ExpandedContent" arguments="{_all}" />
				</div>
			</div>
		</div>
	</f:if>
	<div class="card">
		<div class="card-header" id="headerFooter">
			<h4 class="card-title">
				<button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapseFooter" aria-expanded="true" aria-controls="collapseFooter">
					Footer
				</button>
			</h4>
		</div>
		<div id="collapseFooter" class="collapse" aria-labelledby="headerFooter" data-parent="#accordion">
			<div class="card-body">
				<f:render partial="Config/Footer" arguments="{_all}" />
			</div>
		</div>
	</div>
</div>
</html>