<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{noConfig}">
	<f:then>
		<h3 class="text-danger text-center mt-5">The main configuration has to be created first on the root page.</h3>
	</f:then>
	<f:else>
		<f:spaceless>
			<f:comment> LOADING SPINNER </f:comment>
			<f:if condition="{settings.loadingSpinner}">
				<div id="site-preloader">
					<div id="site-spinner" class="spinner-{settings.loadingSpinner} text-{settings.loadingSpinnerColor}" style="width: 3rem; height: 3rem;" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</f:if>
			<div id="page-wrapper">
				<f:if condition="{config.general.homepageUid} == {data.uid} && {settings.contentOnlyOnRootpage}">
					<f:else>
						<f:comment> META NAVIGATION </f:comment>
						<f:if condition="{metaNavigation} || {config.meta.text}">
							<f:render partial="Page/Meta" arguments="{metaNavigation: metaNavigation, config: config}" />
						</f:if>
						<f:comment> NAVBAR | JUMBOTRON | BREADCRUMB </f:comment>
						<f:render partial="Page/_main" arguments="{_all}" />
					</f:else>
				</f:if>
				<f:comment> EXPANDED CONTENT TOP </f:comment>
				<f:if condition="{settings.expandedContent} && {config.expandedcontentTop.enable}">
					<f:render partial="Page/ExpandedContent/Top" arguments="{_all}" />
				</f:if>
				<f:comment> PAGE CONTENT </f:comment>
				<f:if condition="{data.tx_t3sbootstrap_container}">
					<f:then>
						<div class="{data.tx_t3sbootstrap_container}">
							<f:render section="PageContent" arguments="{_all}" />
						</div>
					</f:then>
					<f:else>
						<f:if condition="{be_layout} == 'OneCol'">
							<f:then>
								<f:render section="PageContent" arguments="{_all}" />					
							</f:then>
							<f:else>
								<div class="container">
									<f:render section="PageContent" arguments="{_all}" />
								</div>					
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
			<f:comment> EXPANDED CONTENT BOTTOM </f:comment>
			<f:if condition="{settings.expandedContent} && {config.expandedcontentBottom.enable}">
				<f:render partial="Page/ExpandedContent/Bottom" arguments="{_all}" />
			</f:if>
			<f:comment> BREADCRUMB BOTTOM </f:comment>
			<f:if condition="{config.breadcrumb.bottom}">
				<div class="breadcrumb-bottom">
					<f:render partial="Page/Breadcrumb" arguments="{_all}" />
				</div>
			</f:if>
			<f:comment> PAGEBROWSER </f:comment>
			<f:if condition="{settings.pagebrowser.enable}">
				<f:render partial="Page/Pagebrowser" arguments="{_all}" />
			</f:if>
			<f:comment> FOOTER </f:comment>
			<f:if condition="{config.general.homepageUid} == {data.uid} && {settings.contentOnlyOnRootpage}">
				<f:else>
					<f:if condition="{config.footer.enable}">
						<f:render partial="Page/Footer" arguments="{_all}" />
					</f:if>
				</f:else>
			</f:if>
			<f:comment> BACK TO TOP BUTTON </f:comment>
			<f:if condition="{data.tx_t3sbootstrap_linkToTop} || {settings.backToTopForAllPages}">
				<f:link.page class="back-to-top"
					style="display: none;"
					title="{settings.backToTopTitle}">
					<i class="{settings.backToTopClass}" aria-hidden="true"></i> <span class="d-none">back-to-top</span>
				</f:link.page>
			</f:if>
		</f:spaceless>
	</f:else>
</f:if>
</html>


<f:section name="PageContent">
	<div id="page-content"{f:if(condition: '{settings.pageContentExtraClass}',then: ' class="{settings.pageContentExtraClass}"')}>
		<f:if condition="{be_layout} && {be_layout} != 'default'">
			<f:then>
				<f:render partial="BackendLayouts/{be_layout}" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render partial="BackendLayouts/OneCol" arguments="{_all}" />
			</f:else>
		</f:if>
	</div>
</f:section>
