<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{noConfig}">
	<f:then>
		<h3 class="text-danger text-center mt-5">The main configuration has to be created first on the root page.</h3>
	</f:then>
	<f:else>
		<f:spaceless>
			<f:render section="AssetScripts" arguments="{_all}" />
			<f:comment> GOOGLE TAG MANAGER </f:comment>
			<f:if condition="{settings.gtm}">
				<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={settings.gtm}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			</f:if>
			<f:comment> LOADING SPINNER </f:comment>
			<f:if condition="{settings.config.loadingSpinner}">
				<div id="site-preloader">
					<div id="site-spinner" class="spinner-{settings.config.loadingSpinner} text-{settings.config.loadingSpinnerColor}"
						 style="width: 3rem; height: 3rem;" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			</f:if>
			<div id="page-wrapper">
				<f:if condition="{config.general.homepageUid} == {data.uid} && {settings.config.contentOnlyOnRootpage}">
					<f:else>
						<f:comment> META NAVIGATION </f:comment>
						<f:if condition="{metaNavigation} || {config.meta.text}">
							<f:render partial="Page/Meta" arguments="{metaNavigation: metaNavigation, config: config}" />
						</f:if>
						<f:comment> NAVBAR | JUMBOTRON | BREADCRUMB </f:comment>
						<f:render partial="Page/_main" arguments="{_all}" />
					</f:else>
				</f:if>
				<f:comment> EXPANDED CONTENT TOP </f:comment>
				<f:if condition="{settings.expandedContent} && {config.expandedcontentTop.enable}">
					<f:render partial="Page/ExpandedContent/Top" arguments="{_all}" />
				</f:if>
				<f:comment> PAGE CONTENT </f:comment>
				<f:if condition="{data.tx_t3sbootstrap_container}">
					<f:then>
						<div class="{data.tx_t3sbootstrap_container}">
							<f:render section="PageContent" arguments="{_all}" />
						</div>
					</f:then>
					<f:else>
						<f:if condition="{be_layout} == 'OneCol'">
							<f:then>
								<f:render section="PageContent" arguments="{_all}" />
							</f:then>
							<f:else>
								<div class="container">
									<f:render section="PageContent" arguments="{_all}" />
								</div>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
			<f:comment> EXPANDED CONTENT BOTTOM </f:comment>
			<f:if condition="{settings.expandedContent} && {config.expandedcontentBottom.enable}">
				<f:render partial="Page/ExpandedContent/Bottom" arguments="{_all}" />
			</f:if>
			<f:comment> BREADCRUMB BOTTOM </f:comment>
			<f:if condition="{config.breadcrumb.bottom}">
				<div class="breadcrumb-bottom">
					<f:render partial="Page/Breadcrumb" arguments="{_all}" />
				</div>
			</f:if>
			<f:comment> PAGEBROWSER </f:comment>
			<f:if condition="{settings.pagebrowser.enable}">
				<f:render partial="Page/Pagebrowser" arguments="{_all}" />
			</f:if>
			<f:comment> FOOTER </f:comment>
			<f:if condition="{config.general.homepageUid} == {data.uid} && {settings.config.contentOnlyOnRootpage}">
				<f:else>
					<f:if condition="{config.footer.enable}">
						<f:render partial="Page/Footer" arguments="{_all}" />
					</f:if>
				</f:else>
			</f:if>
			<f:comment> BACK TO TOP BUTTON </f:comment>
			<f:if condition="{data.tx_t3sbootstrap_linkToTop} || {settings.backToTopForAllPages}">
				<f:link.page class="back-to-top"
					title="{settings.backToTopTitle}">
					<i class="{settings.backToTopClass}"></i> <span class="d-none">back-to-top</span>
				</f:link.page>
			</f:if>
		</f:spaceless>
	</f:else>
</f:if>
</html>


<f:section name="PageContent">
	<div id="page-content"{f:if(condition: '{settings.config.pageContentExtraClass}',then: ' class="{settings.config.pageContentExtraClass}"')} >
		<f:if condition="{be_layout} && {be_layout} != 'default'">
			<f:then>
				<f:render partial="BackendLayouts/{be_layout}" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render partial="BackendLayouts/OneCol" arguments="{_all}" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="AssetScripts">
<f:asset.script identifier="t3sbHelper" src="EXT:t3sbootstrap/Resources/Public/Scripts/t3sbHelper.js" />
<f:if condition="{config.navbar.enable} == 'slide'">
	<f:then>
<f:asset.script identifier="vanilla_default">
	// Default - Main.html
	var	  navbarHeight = 0,
			navbarBreakpointWidth = 0,
			viewportWidth = 0,
			onePageLayout = 0,
			fixedNavbar = false;

	// Scroll anchor - Main.html
	if (window.location.hash) {
		t3sbScrollToAnchor({t3sb:intval(number: '{settings.config.sectionmenuAnchorOffset}')}, fixedNavbar, navbarHeight);
	}
</f:asset.script>
	</f:then>
	<f:else>
		<f:if condition="{config.navbar.enable}">
			<f:then>
				<f:asset.script identifier="vanilla_default">
	// Default - Main.html
	const navbar = document.getElementById('main-navbar'),
			navbarHeight = navbar.clientHeight,
			navbarBreakpointWidth = document.body.getAttribute('data-navbar-breakpointwidth'),
			viewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", "")),
			onePageLayout = navbar.classList.contains('sectionMenu');

	var fixedNavbar = false;
	if ( navbar.classList.contains('fixed-top') || navbar.classList.contains('sticky-top') ) {
		fixedNavbar = true;
	}

	// Scroll anchor - Main.html
	if (window.location.hash) {
		t3sbScrollToAnchor({t3sb:intval(number: '{settings.config.sectionmenuAnchorOffset}')}, fixedNavbar, navbarHeight);
	}
				</f:asset.script>
			</f:then>
			<f:else>
				<f:asset.script identifier="vanilla_default">
	// Default - Main.html
	const navbar = false,
			navbarHeight = false,
			navbarBreakpointWidth = 99999,
			viewportWidth = parseFloat(getComputedStyle(document.querySelector('html'), null).width.replace("px", "")),
			onePageLayout = 0;

	var fixedNavbar = false;

	// Scroll anchor - Main.html
	if (window.location.hash) {
		t3sbScrollToAnchor({t3sb:intval(number: '{settings.config.sectionmenuAnchorOffset}')}, fixedNavbar, navbarHeight);
	}
				</f:asset.script>
			</f:else>
		</f:if>
	</f:else>
</f:if>
<f:comment> Loading spinner </f:comment>
<f:if condition="{settings.config.loadingSpinner}">
<f:asset.script identifier="vanilla_loadingspinner">
	// Loading spinner - Main.html
	window.onload = function() {
		let spinner = document.getElementById('site-preloader');
		t3sbFadeOutEffect(spinner);
	};
</f:asset.script>
</f:if>
<f:if condition="{settings.config.darkMode}">
<f:asset.script identifier="vanilla_darkMode">
	// Dark mode - Main.html
	t3sbDarkMode();
</f:asset.script>
</f:if>
<f:comment> Lazyload </f:comment>
<f:variable name="customthreshold">{t3sb:intval(number: '{settings.lazyLoadThreshold}')}</f:variable>
<f:if condition="{settings.lazyLoad} && {settings.lazyLoad} < 3">
	<f:then>
		<f:if condition="{settings.config.magnifying} && {settings.config.lightboxSelection}">
			<f:then>
				<f:asset.script identifier="vanilla_lazyload">
	// LazyLoad & Magnifying glass icon - Main.html
	var customthreshold = {customthreshold};
	new LazyLoad({
		elements_selector: '.lazy',
		threshold: customthreshold,
		callback_loaded: function(img) {
			t3sbMagnifying(img, viewportWidth, navbarBreakpointWidth);
		}
	});
				</f:asset.script>
			</f:then>
			<f:else>
				<f:asset.script identifier="vanilla_lazyload">
	// LazyLoad - Main.html
	var customthreshold = {customthreshold};
	new LazyLoad({
		elements_selector: '.lazy',
		threshold: customthreshold
	});
				</f:asset.script>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{settings.config.magnifying} && {settings.config.lightboxSelection}">
			<f:asset.script identifier="vanilla_magnifying">
	// Magnifying glass icon - Main.html
	var magnify = document.querySelectorAll('.zoom-overlay');
	if ( magnify.length ) {
		document.querySelectorAll('figure.image').forEach (
			img => { t3sbMagnifying(img, viewportWidth, navbarBreakpointWidth) }
		)
	}
			</f:asset.script>
		</f:if>
	</f:else>
</f:if>
<f:if condition="{settings.config.footerSticky}">
<f:comment> Sticky footer </f:comment>
<f:asset.css identifier="t3sbs_footerSticky">
html {
	position:relative;
	min-height:100%
}
#page-footer {
	position:absolute;
	bottom:0;width:100%
}
</f:asset.css>
</f:if>
<f:comment> Link to top </f:comment>
<f:if condition="{data.tx_t3sbootstrap_linkToTop} || {settings.backToTopForAllPages}">
<f:asset.script identifier="vanilla_linktotop">
	// Link to top - Main.html
	t3sbScrollToTop();
</f:asset.script>
</f:if>
</f:section>
