<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Button Template</f:comment>
<f:layout name="Button" />
<f:section name="Main">
<f:if condition="{settings.fixedButton} && {fixedButton}">
	<f:render partial="Page/Assets" arguments="{fixedbutton:'true'}" />
</f:if>
<f:if condition="{parentCType} == 'button_group'">
	 <f:then>
	 	<f:comment> --- if is child of button-group --- </f:comment>
		<f:link.typolink
			parameter="{data.header_link}"
			class="{f:if(condition: '{class}', then: '{class} ')}{typolinkButtonClass}"
			additionalAttributes="{id: 'btn{data.uid}', role: 'button'}">
			{f:if(condition: '{data.tx_t3sbootstrap_header_fontawesome}', then: '<i class="{data.tx_t3sbootstrap_header_fontawesome} mr-1"></i> ')}
			{data.header -> f:format.raw()}
		</f:link.typolink>
	 </f:then>
	 <f:else>
	 	<f:comment> --- default button --- </f:comment>
		<f:link.typolink
			parameter="{data.header_link}"
			class="{typolinkButtonClass}"
			additionalAttributes="{role: 'button'}">
			{f:if(condition: '{data.tx_t3sbootstrap_header_fontawesome}', then: '<i class="{data.tx_t3sbootstrap_header_fontawesome} mr-1"></i> ')}
			{data.header -> f:format.raw()}
		</f:link.typolink>
	 </f:else>
</f:if>
</f:section>
</html>
