<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Button Template</f:comment>
<f:layout name="Button" />
<f:section name="Main">
<f:if condition="{fixedButton}">
	<f:render partial="Page/Assets" arguments="{fixedbutton:'true'}" />
</f:if>
<f:if condition="{parentCType} == 'button_group'">
	 <f:then>
		<f:render section="Button" arguments="{_all}" />
	 </f:then>
	 <f:else>
		<f:if condition="{btn-block}">
			<f:then>
				<div class="d-grid">
					<f:render section="Button" arguments="{_all}" />
				</div>
			</f:then>
			<f:else>
				<f:render section="Button" arguments="{_all}" />
			</f:else>
		</f:if>
	 </f:else>
</f:if>
</f:section>
</html>


<f:section name="Button">
<f:link.typolink
	parameter="{data.header_link}"
	class="{typolinkButtonClass}"
	additionalAttributes="{role: 'button'}">
	{f:if(condition: '{data.tx_t3sbootstrap_header_fontawesome}', then: '<i class="{data.tx_t3sbootstrap_header_fontawesome} me-1"></i> ')}
	{data.header -> f:format.raw()}
</f:link.typolink>
</f:section>
