<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	 xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>no header here</f:comment>
</f:section>
<f:section name="Main">
<f:if condition="({card.image.overlay} || {card.mobile.overlay})">
	<f:asset.script identifier="vanilla_card">
	// Card image overlay on mobile only - Card.fluid.html
	var overlay = document.querySelectorAll('.card .img-overlay');
	if ( overlay.length ) {
		if ( viewportWidth < navbarBreakpointWidth ) {
			overlay.forEach(function(ol) {
				ol.classList.add('card-img-overlay');
			});
		}
	}
	</f:asset.script>
</f:if>

<f:variable name="bodytextTop">{record -> f:render.text(field: 'bodytext')}</f:variable>
<f:variable name="bodytextBottom">{record -> f:render.text(field: 'tx_t3sbootstrap_bodytext')}</f:variable>

<f:if condition="{card.flipcard}">
	<f:then>
		<f:render partial="Card/FlipCard" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:if condition="{card.multiImage.enable}">
			<f:then>
				<f:render partial="Card/ProfileCard" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render section="DefaultCard" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="DefaultCard">
<f:comment>Default Card </f:comment>
<f:if condition="{card.horizontal}">
	<f:variable name="textColumnsWidth">{f:if(condition: t3sbFlexform.imageColumnsWidth, then: '{12 - t3sbFlexform.imageColumnsWidth}', else: '8')}</f:variable>
	<f:variable name="imageColumnsWidth">{f:if(condition: t3sbFlexform.imageColumnsWidth, then: '{t3sbFlexform.imageColumnsWidth}', else: '4')}</f:variable>
	<div class="row g-0 h-100">
		<div class="col-md-{imageColumnsWidth} d-flex">
			<f:render section="Media" arguments="{_all}" />
		</div>
		<div class="col-md-{textColumnsWidth}{f:if(condition: t3sbFlexform.alignSelfCenter, then: ' align-self-center')}">
</f:if>


<f:comment>Card Header</f:comment>
<f:if condition="{data.tx_t3sbootstrap_cardheader}">
	<div class="card-header">{record -> f:render.text(field: 'tx_t3sbootstrap_cardheader')}</div>
</f:if>
<f:comment>Card Title (top)</f:comment>
<f:if condition="({card.title.position} == 'top') && ({data.header} || {data.subheader}) ">
	<div class="card-body top-body">
		<f:render partial="Content/Header/All" arguments="{_all}"/>
	</div>
</f:if>
<f:comment>Card Image (top)</f:comment>
<f:if condition="{data.imageorient} == 'top' && !{card.horizontal}">
	<f:render section="Media" arguments="{_all}" />
</f:if>
<f:comment>Card Text (top)</f:comment>
<f:if condition="{data.bodytext} || (({card.title.position} == 'default') && ({data.header} || {data.subheader}))">
	<f:render section="TextTop" arguments="{_all}" />
</f:if>
<f:comment>Card List</f:comment>
<f:if condition="{card.list.0} && !{card.image.overlay}">
	<f:render section="ListGroup" arguments="{_all}" />
</f:if>
<f:comment>Card Text (bottom)</f:comment>
<f:if condition="{data.tx_t3sbootstrap_bodytext} && !{card.image.overlay} && !{card.mobile.overlay}">
	<f:render section="TextBottom" arguments="{_all}" />
</f:if>
<f:comment>Card Image (bottom)</f:comment>
<f:if condition="{data.imageorient} == 'bottom' && !{card.horizontal}">
	<f:render section="Media" arguments="{_all}" />
</f:if>
<f:if condition="({data.tx_t3sbootstrap_cardfooter} || ({card.button.link} && {card.button.enable} && {card.button.footer} && !{card.image.overlay}))">
	<div class="card-footer">
		{record -> f:render.text(field: 'tx_t3sbootstrap_cardfooter')}
		<f:if condition="{card.button.footer}">
			<f:render section="Button" arguments="{_all}" />
		</f:if>
	</div>
</f:if>
<f:if condition="{card.horizontal}">
		</div>
	</div>
</f:if>
</f:section>

<f:section name="TextTop">
	<f:if condition="({card.image.overlay} || {card.mobile.overlay})">
		<f:then>
			<div class="align-items-center{f:if(condition: card.image.overlay,then: ' {card.image.overlay}')}{f:if(condition: card.mobile.overlay,then: ' {card.mobile.overlay}')}"{f:if(condition: card.image.overlay,then: ' style="z-index:1;"')}>
				<f:render section="CardBodyTop" arguments="{_all}" />
			</div>
		</f:then>
		<f:else>
			<f:render section="CardBodyTop" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="TextBottom">
	<f:if condition="({card.image.overlay} || {card.mobile.overlay}) ">
		<f:then>
			<div class="{f:if(condition: card.image.overlay,then: '{card.image.overlay}')}{f:if(condition: card.mobile.overlay,
				then: '{card.mobile.overlay}')}"{f:if(condition: card.image.overlay,then: ' style="z-index:1;"')}>
				<f:render section="CardBodyBottom" arguments="{_all}" />
			</div>
		</f:then>
		<f:else>
			<f:render section="CardBodyBottom" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>


<f:section name="CardBodyTop">

<div class="card-body">
	<f:comment>Card Title (default)</f:comment>
	<f:if condition="({card.title.position} == 'default') && ({data.header} || {data.subheader})">
		<f:render partial="Content/Header/All" arguments="{_all}"/>
	</f:if>
	<div class="card-text">
		<f:if condition="{card.cropMaxCharacters}">
			<f:then>
				{bodytextTop -> f:format.crop(maxCharacters: '{card.cropMaxCharacters}', respectWordBoundaries:'1')}
			</f:then>
			<f:else>
				{bodytextTop -> f:format.raw()}
			</f:else>
		</f:if>
		<f:if condition="{data.tx_t3sbootstrap_bodytext} && ({card.image.overlay} || {card.mobile.overlay})">
			<f:if condition="{card.cropMaxCharacters}">
				<f:then>
					{bodytextBottom -> f:format.crop(maxCharacters: '{card.cropMaxCharacters}', respectWordBoundaries:'1')}
				</f:then>
				<f:else>
					{bodytextBottom -> f:format.raw()}
				</f:else>
			</f:if>
		</f:if>
	</div>
	<f:if condition="!{card.button.footer}">
		<f:render section="Button" arguments="{_all}" />
	</f:if>
</div>
</f:section>

<f:section name="CardBodyBottom">
<div class="card-body">
	<div class="card-text">
		<f:if condition="{card.cropMaxCharacters}">
			<f:then>
				{bodytextBottom -> f:format.crop(maxCharacters: '{card.cropMaxCharacters}', respectWordBoundaries:'1')}
			</f:then>
			<f:else>
				{bodytextBottom -> f:format.raw()}
			</f:else>
		</f:if>
	</div>
</div>
</f:section>

<f:section name="ListGroup">
	<ul class="list-group list-group-flush">
		<f:for each="{card.list}" as="listItem">
			<li class="list-group-item">{listItem.listitem -> f:format.raw()}</li>
		</f:for>
	</ul>
</f:section>

<f:section name="Button">
	<f:if condition="{card.button.enable} && {card.button.link}">
		<f:link.typolink parameter="{card.button.link}" class="btn btn{card.button.linkClass} mt-2" additionalAttributes="{role: 'button'}">
			<f:if condition="{card.button.text}">
				<f:then>
					{card.button.text -> f:format.raw()}
				</f:then>
				<f:else>
					{f:translate(key: 'LLL:EXT:t3sbootstrap/Resources/Private/Language/locallang.xlf:more')}
				</f:else>
			</f:if>
		</f:link.typolink>
	</f:if>
</f:section>

<f:section name="Media">
	<f:if condition="{settings.iconpack.cssClass} && {t3sbFlexform.iconAsImg}">
		<f:then>
			<f:if condition="{record.tx_t3sbootstrap_bgopacity} < 1">
				<f:then>
					<f:variable name="iconColor"> text-{record.tx_t3sbootstrap_contextcolor}</f:variable>
				</f:then>
				<f:else>
					<f:variable name="iconColor"></f:variable>
				</f:else>
			</f:if>
			<f:variable name="selfCenter">{f:if(condition: t3sbFlexform.alignSelfCenter, then: ' align-self-center', else: '')}</f:variable>
			<f:variable name="media">
				<t3sb:icon iconfig="{t3sbFlexform.iconAsImg}" additionalAttributes="{class:'text-center w-100 mt-3{selfCenter}{iconColor}'}" />
			</f:variable>
			{media -> f:format.raw()}
		</f:then>
		<f:else>
				<f:render partial="Media/RawGallery" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>
