<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>No header for t3sbs_toast</f:comment>
</f:section>
<f:section name="Main">
<f:asset.script identifier="toast_function">
// Toasts - ToastContainer.html & Toast.html
function t3sbToastContainer(toasts) {
	toasts.forEach( t => {
		var toast = document.getElementById(t.id);
		var newToast = new bootstrap.Toast(toast);
		var toastBody = toast.getElementsByClassName('toast-body');
		var toastBodyLength = toastBody[0].innerText.length;
		if (t3sbGetCookie(t.id) != null ) {
			if ( t3sbGetCookie(t.id) != toastBodyLength ) {
				newToast.show();
			}
		} else {
			newToast.show();
		}
		if( toast.querySelector('.setCookie') != null	 ) {
			toast.querySelector('.setCookie').checked = false;
			toast.addEventListener('hidden.bs.toast', function () {
				let dismiss = toast.querySelector('.setCookie').checked;
				if (dismiss) {
					t3sbSetCookie(t.id,toastBodyLength,1);
				}
			});
		}
	});
}
	</f:asset.script>
	<f:asset.script identifier="cookie_function">
function t3sbSetCookie(cname,cvalue,exdays) {
	const d = new Date();
	d.setTime(d.getTime() + (exdays*24*60*60*1000));
	let expires = 'expires=' + d.toGMTString();
	document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
}
function t3sbGetCookie(cname) {
	let name = cname + '=';
	let decodedCookie = decodeURIComponent(document.cookie);
	let ca = decodedCookie.split(';');
	for(let i = 0; i < ca.length; i++) {
		let c = ca[i];
		while (c.charAt(0) == ' ') {
			c = c.substring(1);
		}
		if (c.indexOf(name) == 0) {
			return c.substring(name.length, c.length);
		}
	}
	return '';
}
</f:asset.script>
<f:asset.script identifier="vanilla_toast">
	// Toast - Content/Toast.html
	var toasts = document.querySelectorAll('.toast.ce-toast');
	if ( toasts.length ) {
		t3sbToastContainer(toasts);
	}
</f:asset.script>
<f:if condition="{parentCType} == 'toast_container'">
	<f:then>
		<f:render section="Default" arguments="{_all}" />
	</f:then>
	<f:else>
		<div class="toast-container position-absolute p-3 {placement}">
			<f:render section="Default" arguments="{_all}" />
		</div>
	</f:else>
</f:if>
</f:section>
</html>


<f:section name="Default">
	<div id="toast-{data.uid}" class="toast ce-toast position-relative{class}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="{autohide}" data-bs-animation="{animation}" data-bs-delay="{delay}"{styleAttr -> f:format.raw()}>
		<div class="toast-header">
			<f:if condition="{files.0}">
				<f:image class="rounded me-2" image="{files.0}" alt="" width="{gallery.width}" height="" />
			</f:if>
			<f:if condition="{data.header}">
				<strong class="me-auto">{data.header -> f:format.raw()}</strong>
			</f:if>
			<f:if condition="{data.subheader}">
				<small>{data.subheader -> f:format.raw()}</small>
			</f:if>
			<f:if condition="!{cookie}">
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</f:if>
  		</div>
	  	<div class="toast-body">
	  		<f:if condition="{data.bodytext}">
		 		{data.bodytext -> f:format.raw()}
			</f:if>
			<f:if condition="{cookie}">
				<div class="mt-2 pt-2 border-top cookie-dismiss">
					<div class="form-check">
						<input class="form-check-input setCookie" type="checkbox" value="" id="dismiss-{data.uid}">
						<label class="form-check-label" for="dismiss-{data.uid}">
							{f:cObject(typoscriptObjectPath: 'lib.t3sbs.dispose')}
						</label>
					</div>
					<button type="button" class="btn btn-secondary btn-sm mx-auto d-block" data-bs-dismiss="toast">
						{f:cObject(typoscriptObjectPath: 'lib.t3sbs.close')}
					</button>
				</div>
			</f:if>
	  	</div>
	</div>
</f:section>
