<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
<f:comment>No header for t3sbs_toast</f:comment>
</f:section>
<f:section name="Main">
<f:asset.script identifier="vanilla_toast">
	// // Toast - Content/Toast.html
	var toasts = document.querySelectorAll('.toast.ce-toast');
	if ( toasts.length ) {
		toasts.forEach( t => {
			var toast = document.getElementById(t.id);
			var newToast = new bootstrap.Toast(toast);
			newToast.show();
		});
	}
</f:asset.script>
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="position: relative;">
	<div id="toast-{data.uid}" class="toast ce-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="{autohide}" data-bs-animation="{animation}" data-bs-delay="{delay}" style="{placement}">
		<div class="toast-header">
			<f:if condition="{files.0}">
				<f:image class="rounded me-2" image="{files.0}" alt="" width="{gallery.width}" height="" />
			</f:if>
			<f:if condition="{data.header}">
				<strong class="me-auto">{data.header -> f:format.raw()}</strong>
			</f:if>
			<f:if condition="{data.subheader}">
				<small>{data.subheader -> f:format.raw()}</small>
			</f:if>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  		</div>
	  	<div class="toast-body">
	  		<f:if condition="{data.bodytext}">
		 		{data.bodytext -> f:format.raw()}
			</f:if>
	  	</div>
	</div>
</div>
</f:section>
</html>
